{% block paragraph %}
  {% block content %}
  <section class="block-simple" id="sitemap">

    <div class="container">

      <div class="row">

        <div class="col-lg-12">
          {{ site_plan }}
        </div>

      </div>

    </div>

  </section>
  {% endblock content %}
{% endblock paragraph %}
