{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  {% block content %}
    <section class="block-hero overlay hero-huge">

      <div class="layer content middle inside">

        <div class="container">

          <div class="row justify-content-lg-center">

            <div class="col-lg-8">
              {% if (paragraph.field_title.value is not empty) or (paragraph.field_home_header_sub_title.value is not empty) %}
                <header class="heading">

                  <h1 class="title">

                    {% if paragraph.field_title.value is not empty %}
                      <span class="intro">{{ paragraph.field_title.value }}</span>{% endif %}

                    {% if paragraph.field_home_header_sub_title.value is not empty %}
                      <span class="statement d-none">{{ paragraph.field_home_header_sub_title.value }}</span>{% endif %}

                  </h1>

                </header>
              {% endif %}

            </div>

          </div>

        </div>

      </div>

      <div class="layer graphic">

        <figure class="media hero">

          {% set urlShortVideo = file_url(content.field_home_header_short_video[0]['#media'].field_media_video_file.entity.uri.value) %}
          {% if urlShortVideo =='/' %}
            {% set urlShortVideo = paragraph.field_home_header_short_video.entity.field_media_oembed_video.value %}
          {% endif %}
          {% set urlFullVideo = file_url(content.field_home_header_full_video[0]['#media'].field_home_header_full_video.entity.uri.value) %}
          {% if urlFullVideo =='/' %}
            {% set urlFullVideo = paragraph.field_home_header_full_video.entity.field_media_oembed_video.value %}
          {% endif %}
          {% if urlShortVideo is not empty and urlShortVideo!='/' %}
            {# {{ content.field_home_header_short_video }} #}

            <div class="image hero-video video-short">

              <video id="video-feature" poster="{{ urlImage }}"
                     aria-label="{{ paragraph.field_video_description_text.value }} Video." preload="auto" autoplay
                     muted loop playsinline>
                <source src="{{ urlShortVideo }}"
                        type="video/mp4">
                Your browser does not support the video tag.
              </video>

            </div>

          {% elseif (urlFullVideo !='/') and (urlFullVideo is not empty) %}

            {# {{ content.field_home_header_full_video }} #}

            <div class="image hero-video video-full">

              <video id="video-feature" poster="{{ urlImage }}"
                     aria-label="{{ paragraph.field_video_description_text.value }} Video." preload="auto" autoplay
                     muted loop playsinline>
                <source src="{{ urlFullVideo }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>

            </div>

          {% else %}

            {% set urlImage = paragraph.field_home_header_image.entity.field_media_image.entity.fileuri | image_style('thumbnail_1600_585') %}
            {% if urlImage is not null %}

              <picture class="image hero-image">

                <img src="{{ urlImage }}" alt="{{ paragraph.field_video_description_text.value }} Image."
                     loading="lazy">

              </picture>

            {% endif %}
          {% endif %}

          <figcaption class="sr-only">{{ paragraph.field_home_header_sub_title.value }}</figcaption>

        </figure>

      </div>

    </section>
  {% endblock %}
{% endblock paragraph %}
