{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
    {% block content %}
        <section class="block-banner overlay">

            <div class="layer content middle inside">

                <div class="inner">

                    <div class="container">

                        <div class="row justify-content-lg-center">

                            <div class="col-lg-10">
                                {% if paragraph.field_title.value is not empty %}
                                <header class="heading">
                                    <h2 class="title">{{ paragraph.field_title.value|raw }}</h2>

                                </header>
                                {% endif %}
                                {% if paragraph.field_text_and_button_body_text.value is not empty %}
                                <article class="editor">
                                    {{ paragraph.field_text_and_button_body_text.value|raw }}
                                </article>
                                {% endif %}
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="layer graphic">
                <figure class="media banner">
                    <picture class="image">
                        <img class="graphic" src="
                        {% if paragraph.field_pc_square_image.entity.field_media_image.entity.fileuri is not empty %}
                            {{ paragraph.field_pc_square_image.entity.field_media_image.entity.fileuri | image_style('thumbnail_1600_585') }}
                        {% else %}/themes/cameron/build/images/no-image.png{% endif %}"
                            alt="{{ paragraph.field_pc_square_image.entity.field_media_image.alt }} Banner." loading="lazy">
                    </picture>
                </figure>
            </div>
        </section>

    {% endblock %}
{% endblock paragraph %}




