{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
    {% block content %}
        <section class="block-simple">
            {% if paragraph.field_layout.value != 'large' %}
                <div class="promotion">
                    <div class="container">
                        <div class="row justify-content-lg-center">
                            <div class="col-lg-10">
                                <div class="row row-split columns">
                                    <div class="col-lg-auto">

                                        <img class="graphic"
                                             src="{% if content.field_paragraph_image|render|striptags is not empty %}{{ content.field_paragraph_image|render|striptags }}{% else %}/themes/cameron/build/images/logo-stag.svg{% endif %}"
                                             alt="Icon." loading="lazy">
                                    </div>
                                    <div class="col-lg">
                                        <div class="content">
                                            {% if paragraph.field_text_and_button_header.value is not empty %}
                                                <header class="heading">
                                                    <h3 class="title">{{ paragraph.field_text_and_button_header.value }} </h3>
                                                </header>
                                            {% endif %}
                                            <article class="editor">
                                                {{ paragraph.field_text_and_button_body_text.value|raw }}
                                            </article>
                                        </div>
                                    </div>
                                    <div class="col-lg-auto column-middle">

                                        {% if bookinglink is not empty %}
                                           <a class="button secondary appointedd-booking-popover" ap-appid="{{ bookinglink }}">Book your private viewing</a>
                                        {% else %}
                                            {% if content.field_button_link.0['#url']  is not empty %}
                                               <a class="button secondary"
                                                            {% if paragraph.field_button_link.0.url.external == 1 %}
                                                        href="{{ content.field_button_link.0['#url'] }}" target="_blank"
                                                    {% elseif 'node' in content.field_button_link|render|striptags|trim %}
                                                        href="{{ path('entity.node.canonical', {'node': content.field_button_link.0['#url']|render|striptags|render|trim|replace({'/': "", "node" : ""})}) }}"
                                                    {% else %}
                                                        href="{{ content.field_button_link.0['#url'] }}"
                                                            {% endif %}>
                                                        {% if content.field_text_and_button_text is not empty %}{{ content.field_text_and_button_text }}{% else %} Find out more{% endif %}
                                                    </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="container">
                    <div class="block-action-banner">
                        <div class="row justify-content-lg-center">
                            <div class="col-lg-8">
                                <div class="content">
                                    <header class="heading">
                                        <img class="graphic"
                                             src="{% if content.field_paragraph_image|render|striptags is not empty %}{{ content.field_paragraph_image|render|striptags }}{% else %}/themes/cameron/build/images/logo-stag.svg{% endif %}"
                                             alt="Icon." loading="lazy">
                                        {% if paragraph.field_text_and_button_header.value is not empty %}<h2
                                                class="title">{{ paragraph.field_text_and_button_header.value }}</h2> {% endif %}
                                    </header>

                                    <article class="editor">
                                        {{ paragraph.field_text_and_button_body_text.value|raw }}
                                    </article>

                                    <ul class="inline-group actions">
                                        {% if bookinglink is not empty %}
                                            <li class="item"><a class="button tertiary lead appointedd-booking-popover" ap-appid="{{ bookinglink }}">Book your private viewing {% if bookinglink is not empty %}at {{ bookinglocation }}{% endif %}</a> </li>
                                            <li class="item"><a class="button secondary" data-formtype="ask-question" href="#talk-to-us">Get in touch</a> </li>
                                        {% else %}
                                            {% if content.field_button_link.0['#url']  is not empty %}
                                                <li class="item"><a class="button tertiary lead"
                                                            {% if paragraph.field_button_link.0.url.external == 1 %}
                                                        href="{{ content.field_button_link.0['#url'] }}" target="_blank"
                                                    {% elseif 'node' in content.field_button_link|render|striptags|trim %}
                                                        href="{{ path('entity.node.canonical', {'node': content.field_button_link.0['#url']|render|striptags|render|trim|replace({'/': "", "node" : ""})}) }}"
                                                    {% else %}
                                                        href="{{ content.field_button_link.0['#url'] }}"
                                                            {% endif %}>
                                                        {% if content.field_text_and_button_text is not empty %}{{ content.field_text_and_button_text }}{% else %} Find out more{% endif %}
                                                    </a>
                                                </li>
                                            {% endif %}

                                            {% if content.field_home_tc_button.0['#url']  is not empty %}
                                            <li class="item">
                                                <a class="button secondary" {% if paragraph.field_home_tc_button.0.url.external == 1 %}
                                                    href="{{ content.field_home_tc_button.0['#url'] }}" target="_blank"
                                                {% elseif 'node' in content.field_home_tc_button|render|striptags|trim %}
                                                    href="{{ path('entity.node.canonical', {'node': content.field_home_tc_button.0['#url']|render|striptags|render|trim|replace({'/': "", "node" : ""})}) }}"
                                                {% else %}
                                                    href="{{ content.field_home_tc_button.0['#url'] }}"
                                                  {% endif %}>
                                                    {{ content.field_home_tc_button.0['#title'] }}
                                                </a>
                                            </li>
                                            {% endif %}
                                        {% endif %}
                                    </ul>
                                    {#<div class="message basic">#}
                                    {#<span class="graphic-icon-direction-light">Visit Acorn Meadows.</span> <a class="graphic-icon-external-light" href="#" target="_blank" rel="noopener">Get directions</a>#}
                                    {#</div>#}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
    {% endblock %}
{% endblock paragraph %}
