{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
    {% block content %}
        {% set objectHomeType = get_hometype_by_plots() %}

        <section class="block-gallery">

            <div class="gallery-set photoswipe-wrapper" itemscope itemtype="http://schema.org/ImageGallery">

                <div class="glide-group carousel-wrap">

                    <div data-glide-el="track" class="glide__track">

                        <div class="glide__slides">
                            {% for key, item in objectHomeType['field_house_type_image_slideshow'] %}

                                {% set objSlideshow = item.target_id|get_node %}
                                {% if objSlideshow['field_slide_show_type'][0]['value'] == 'image' %}
                                    {% set urlImage = objSlideshow['field_slide_show_image'][0]['target_id']|media_full_url %}
                                    {% set altImage = 'Image alt' %}
                                    {% if urlImage is not null %}
                                        <figure class="gallery-item photoswipe-item glide__slide item{{ key }} lightbox-image"
                                        itemprop="associatedMedia"
                                        itemscope
                                        itemtype="http://schema.org/ImageObject">
                                        <a href="#" data-type="lightbox" itemprop="contentUrl" data-size="1000x667">
                                            <div class="lightbox">
                                                <div class="lightbox-wrap">
                                                    <div class="lightbox-content">
                                                        <img src="{{ urlImage }}" alt=" {{ altImage }}"
                                                             loading="lazy">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="media deep">
                                                <picture class="image">
                                                    <img src="{{ urlImage }}" itemprop="thumbnail" alt="{{ altImage }}"
                                                         loading="lazy">
                                                </picture>
                                            </div>

                                        </a>
                                            <figcaption class="caption sr-only">{{ altImage }}</figcaption>
                                        </figure>
                                    {% endif %}
                                {% else %}
                                    {% set urlShortVideo = objSlideshow['field_slide_show_video'][0]['target_id']|media_full_url %}
                                    {% set altShortVideo = objSlideshow['field_slide_show_video'][0]['alt'] %}
                                    <figure class="gallery-item photoswipe-item glide__slide item{{ key }} lightbox-video"
                                            itemprop="associatedMedia"
                                            itemscope
                                            itemtype="http://schema.org/ImageObject">

                                        <a href="#" data-type="lightbox" itemprop="contentUrl" data-size="1000x667">

                                            <div class="lightbox">

                                                <div class="lightbox-wrap">

                                                    <div class="lightbox-content">

                                                        <div class="embed-holder greg">

                                                            <iframe src="{{ urlShortVideo }}" loading="lazy"></iframe>

                                                        </div>

                                                    </div>

                                                </div>

                                            </div>

                                            <div class="media deep thumb">

                                                <picture class="image">

                                                    <img src="https://source.unsplash.com/ks8cKjLWYK8/1000x563" itemprop="thumbnail" alt="#"
                                                         loading="lazy">

                                                </picture>

                                            </div>

                                        </a>

                                        <figcaption class="caption sr-only">Video</figcaption>

                                    </figure>

                                {% endif %}


                            {% endfor %}
                        </div>

                    </div>

                    <div class="carousel-indicators">

                        <div class="glide__bullets" data-glide-el="controls[nav]">

                            {% for key, item in objectHomeType['field_house_type_image_slideshow'] %}

                                <button class="carousel-control glide__bullet" data-glide-dir="={{ key }}">

                                    <span class="sr-only">Indicator</span>

                                </button>

                            {% endfor %}
                        </div>

                    </div>

                    <div class="glide__arrows" data-glide-el="controls">

                        <button class="carousel-control glide__arrow glide__arrow--prev" data-glide-dir="<">

        <span class="arrow">

          <span class="sr-only">Previous</span>

        </span>

                        </button>

                        <button class="carousel-control glide__arrow glide__arrow--next" data-glide-dir=">">

        <span class="arrow">

          <span class="sr-only">Next</span>

        </span>

                        </button>

                    </div>


                </div>

            </div>

        </section>


    {% endblock %}
{% endblock paragraph %}

