{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  {% block content %}
    <section class="block-contact-info">
      <div class="container">
        <div class="row row-split gutters-extra">

          {# col 1 #}
          <div class="col-lg-4 group-list">


            <header class="heading-underline">
              <h3 class="title">{{ paragraph.field_title.value }}</h3>
            </header>

            {% for item in paragraph.field_column_one %}
              {% if item.entity.bundle == 'home_temporary_campaign' %}
                <section class="block-info-banner aside">
                  <div class="promotion">
                    <div class="row columns">
                      <div class="col-lg-auto">
                        {% if item.entity.field_home_tc_image.entity.field_media_image.alt is not empty %}
                          <img class="graphic"
                               src="{{ item.entity.field_home_tc_image.entity.field_media_image.entity.fileuri | image_style('thumbnail_88') }}"
                               alt="{{ item.entity.field_home_tc_image.entity.field_media_image.alt }}."
                               loading="lazy">
                        {% else %}
                          <img class="graphic"
                               src="/themes/cameron/build/images/stag.svg"
                               alt="{{ item.entity.field_home_tc_heading.value }}."
                               loading="lazy">
                        {% endif %}
                      </div>
                      <div class="col-lg">
                        <div class="content">
                          <header class="heading">
                            <h3 class="title">{{ item.entity.field_home_tc_heading.value }}</h3>
                          </header>

                          <article class="editor">
                            <p>{{ item.entity.field_home_tc_body.value|replace({'<p>': '', '</p>': " "})|raw }}
                              {% if item.entity.field_home_tc_button.uri is not empty %}<a
                                href="{{ item.entity.field_home_tc_button[0].uri|raw }}">{{ item.entity.field_home_tc_button[0].title }}</a>{% endif %}
                            </p>
                          </article>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              {% elseif item.entity.bundle == 'book_your_visit' %}
                <article class="editor">
                  {% if item.entity.field_paragraphs_headline_field.value is not empty %}

                    <h4 class="title">{{ item.entity.field_paragraphs_headline_field.value }}</h4>

                  {% endif %}

                  {{ item.entity.field_paragraphs_body_text_field.value|raw }}

                </article>

                <div class="content-link">

                  {% if item.entity.field_paragraphs_button_link.value is not empty %}
                          <a class="button tertiary larger" href="{{ item.entity.field_paragraphs_button_link.value }}">
                    {% else %}
                          <a class="button tertiary larger" href="{{ path('entity.node.canonical', {'node': '553'}) }}">
                      {% endif %}

                      {% if item.entity.field_paragraphs_button_text.value is not empty %}
                        {{ item.entity.field_paragraphs_button_text.value }}
                      {% else %}
                        Book your private viewing
                      {% endif %}
                    </a>

                </div>

              {% else %}
                {{ drupal_entity('paragraph', item.target_id) }}
              {% endif %}
            {% endfor %}


          </div>
          {# end col 1 #}


          {# col 2 #}

          <div class="col-lg-4 group-list">
            <header class="heading-underline">
              <h3>{{ paragraph.field_column_two_title.value }}</h3>
            </header>

            <article class="contact-detail">
              {{ content.field_column_two }}
            </article>

          </div>
          {# end col 2 #}



          {# col 3 #}
          <div class="col-lg-4 group-list">
            <header class="heading-underline">
              <h3>{{ paragraph.field_column_three_title.value }}</h3>
            </header>
            <article class="editor">
              {{ content.field_paragraph_body_text }}
            </article>
            {{ content.field_form }}
            <p></p>
          </div>
          {# end col 3 #}


        </div>
      </div>
      </div>
    </section>

  {% endblock %}
{% endblock paragraph %}

{% include 'themes/cameron/templates/includes/photoswipe.html.twig' %}
