{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  {% block content %}
    {% if paragraph.field_heading_style.value is not empty %}
      {% set heading = paragraph.field_heading_style.value|raw %}
    {% else %}
      {% set heading = 'h2' %}
    {% endif %}

    <section class="block-text" id="development">

      <div class="container">

        <div class="row justify-content-lg-center">

          <div class="col-lg-10">

            <article
              class="editor {% if paragraph.field_center_text.value|raw != 1 %}content-default{% else %}text-lg-center content-middle{% endif %}">

              <{{ heading }}>{{ paragraph.field_title.value|raw }}</{{ heading }}>

            {% if paragraph.field_pc_title.value is not empty %}
              <div class="text-lead">
                {{ paragraph.field_pc_title.value|raw }}
              </div>
            {% endif %}
            {{ paragraph.field_pc_body.value|raw }}

            {% if paragraph.field_button_link.value is not empty %}
            <a class="button" href="{{ paragraph.field_button_link.0.url }}" {% if paragraph.field_button_link.0.url.external == 1 %} target="_blank" {% endif %}>
                {% if paragraph.field_button_link.value is not empty %}{{paragraph.field_button_link.0.title}}
                {% else %}Find out more{% endif %}
            </a>
            {% endif %}

            </article>

          </div>

        </div>

      </div>

    </section>

  {% endblock %}
{% endblock paragraph %}
