{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
  {% block content %}
    <section class="block-text accordion-items" id="accordion">
      <div class="container">
        <div class="row justify-content-lg-center">
          <div class="col-lg-10">
            {% if paragraph.field_title.value is not empty %}
              <header class="section-heading text-lg-center">
                <h3>{{ paragraph.field_title.value|raw }}</h3>
              </header>
            {% endif %}

            {% if paragraph.field_questions.value is not empty %}
              <section class="accordion">
                <div class="accordion-items">
                  {% for key, item in paragraph.field_questions %}
                    {% if key|first != '#' %}
                      <div class="accordion-item reveal-item">

                        <header class="heading">
                          <h4 class="accordion-title">
                            <a class="reveal-trigger" href="#">
                              {{ item.entity.field_title.value }}
                            </a>
                          </h4>
                        </header>

                        <div class="reveal-info">
                          <div class="editor">
                            {{ item.entity.field_paragraph_body_text.value|raw }}
                            {% if item.entity.field_paragraph_bulleted_list.value is not empty %}
                              <ul>
                                {% for items in item.entity.field_paragraph_bulleted_list %}
                                  <li>{{ items.value }}</li>
                                {% endfor %}
                              </ul>
                            {% endif %}

                            {% if item.entity.field_button_link.uri is not empty %}
                              <p>
                                <a class="button"
                                   href="{{ item.entity.field_button_link[0].url|raw }}">{{ item.entity.field_button_link.title }}</a>
                              </p>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endif %}

                  {% endfor %}
                </div>
              </section>
            {% endif %}
          </div>
        </div>
      </div>
    </section>

  {% endblock %}
{% endblock paragraph %}








