{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
    {% block content %}

        <section class="block-image-list">
            <div class="container">
                <div class="row justify-content-lg-center">
                    <div class="col-lg-10 col-xxl-8">
                        <div class="intro-header editor">
                            <header class="heading-underline">
                                {% if paragraph.field_gridpara_heading.value is not empty %}
                                    <h3>{{ paragraph.field_gridpara_heading.value|raw }}</h3>
                                {% endif %}
                            </header>
                            <article class="editor">
                                {% if paragraph.field_gridpara_summary.value is not empty %}
                                    {{ paragraph.field_gridpara_summary.value|raw }}
                                {% endif %}
                            </article>
                        </div>
                        <div class="row">
                            {% for item in paragraph.field_gridpara_image %}
                                <div class="col-6 col-sm-4 col-xxl-3 grid-item">
                                    <figure class="media transparent landscape">
                                        <picture class="image contained">
                                            <img src="{{ item.entity.field_media_image.entity.fileuri | image_style('large') }}"
                                                 alt="{{ item.entity.field_media_image.alt }}" loading="lazy">
                                        </picture>
                                        <figcaption class="sr-only">{{ item.entity.field_media_image.alt }}</figcaption>
                                    </figure>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>


    {% endblock %}
{% endblock paragraph %}
