{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
  {% block content %}
<section class="block-preview">
  <div class="container">
    <header class="section-heading text-lg-center">
      <h3 class="title">{{ paragraph.field_home_fd_headline.value | raw }}</h3>
    </header>
    <div class="glide-multiple carousel-wrap">
      <div data-glide-el="track" class="glide__track">
        <div class="glide__slides">
          {% if paragraph.field_home_fd_development.entity.id %}
            {% for key, item in paragraph.field_home_fd_development %}
              {% if key|first != '#' %}

                {% set objDevelopment = item.entity.id | get_node %}

                <div class="glide__slide item{{ key }}">
                  <div class="preview-item">

                    <a class="image-link" href="{{ objDevelopment['path'][0]['alias'] }}">
                      <figure class="media landscape">
                        <picture class="image">
                          {% if objDevelopment['field_development_thumbnail'][0]['target_id'] is not empty %}
                            <img
                              src="{{ objDevelopment['field_development_thumbnail'][0]['target_id']|media_full_url }}"
                              alt="{{ objDevelopment['title'][0]['value'] | raw }}." loading="lazy">
                          {% else %}
                            <img src="/themes/cameron/build/images/no-image.png" alt="Placeholder image."
                                 loading="lazy">
                          {% endif %}
                        </picture>
                      </figure>
                    </a>

                    <div class="listing-preview listing-box">
                      <div class="inner">
                        <div class="row row-split align-items-lg-center justify-content-lg-between">

                          <div class="col-lg">
                            <header class="heading">
                              <h4>
                                <a class="heading-link"
                                   href="{{ objDevelopment['path'][0]['alias'] }}">{{ objDevelopment['title'][0]['value'] | raw }}</a>
                              </h4>
                            </header>
                          </div>

                          <div class="col-lg-auto">
                            <div
                              class="status-label available">{% if objDevelopment['field_plots_status'][0]['value'] is not empty %}{{ objDevelopment['field_plots_status'][0]['value'] | raw }}{% else %}Available{% endif %}</div>
                          </div>
                        </div>

                        <ul class="features">
                          <li
                            class="item icon-text icon-pin">{{ objDevelopment['field_development_town'][0]['value'] | raw }}{% if objDevelopment['field_development_post_code'][0]['value'] is not empty %}, {{ objDevelopment['field_development_post_code'][0]['value'] | raw }}{% endif %}
                          </li>
                          {% if (objDevelopment['field_development_bedrooms_range'][0]['from'] is not empty) or (objDevelopment['field_development_bedrooms_range'][0]['from'] is not empty) %}
                            <li
                              class="item icon-text icon-beds">
                              {% if objDevelopment['field_development_bedrooms_range'][0]['from'] == objDevelopment['field_development_bedrooms_range'][0]['from'] %}
                                {{ objDevelopment['field_development_bedrooms_range'][0]['from'] | raw }} bedrooms
                              {% else %}
                                {{ objDevelopment['field_development_bedrooms_range'][0]['from'] | raw }}
                                &amp; {{ objDevelopment['field_development_bedrooms_range'][0]['to'] | raw }} bedrooms
                              {% endif %}
                            </li>
                          {% endif %}
                          {% if (objDevelopment['field_development_price_range'][0]['to'] is not empty) or (objDevelopment['field_development_price_range'][0]['from'] is not empty) %}
                            <li class="item icon-text icon-price">
                              {% if objDevelopment['field_development_price_range'][0]['to'] == objDevelopment['field_development_price_range'][0]['from'] %}
                                {{ objDevelopment['field_development_price_range'][0]['from']|raw|number_format }}
                              {% else %}
                                {{ objDevelopment['field_development_price_range'][0]['from']|raw|number_format }} &dash;
                                {{ objDevelopment['field_development_price_range'][0]['to']|raw|number_format }}
                              {% endif %}
                            </li>
                          {% endif %}
                        </ul>

                        <div class="summary editor">
                          <p>{% if objDevelopment['field_development_quote'][0]['value'] is not empty %}
                              {{ objDevelopment['field_development_quote'][0]['value'] | raw }}
                            {% else %}
                              {{ objDevelopment['field_development_description'][0]['value'] | raw }}
                            {% endif %}
                          </p>
                        </div>

                        <ul class="inline-group actions">
                          <li class="item">
                            <a class="button" href="{{ objDevelopment['path'][0]['alias'] }}">View development</a>
                          </li>
                          {% if objDevelopment['field_plot_listing_page'][0]['uri'] is not empty %}
                            <li class="item">
                              <a class="button secondary"
                                 href="{% if 'node' in objDevelopment['field_plot_listing_page'][0]['uri'] %}
                                {{ path('entity.node.canonical', {'node': objDevelopment['field_plot_listing_page'][0]['uri']|raw|replace({'entity:':'','node':'', '/':''})}) }}{% else %}
                           {{ objDevelopment['field_plot_listing_page'][0]['value'] | raw }}{% endif %}">View homes</a>
                            </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}

            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="carousel-indicators">
        <div class="glide__bullets" data-glide-el="controls[nav]">
          {% if paragraph.field_home_fd_development.entity.id %}
            {% for key, item in paragraph.field_home_fd_development %}
              {% if key|first != '#' %}
                <button class="carousel-control glide__bullet" data-glide-dir="={{ key }}">
                  <span class="sr-only">Indicator</span>
                </button>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="glide__arrows" data-glide-el="controls">
        <button class="carousel-control glide__arrow glide__arrow--prev" data-glide-dir="<">
          <span class="arrow"><span class="sr-only">Previous</span></span>
        </button>

        <button class="carousel-control glide__arrow glide__arrow--next" data-glide-dir=">">
          <span class="arrow"><span class="sr-only">Next</span></span>
        </button>
      </div>

    </div>
  </div>
</section>
{% endblock %}
{% endblock paragraph %}

