{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *{{urlShortVideo}}
 * @ingroup themeable
 */
#}
{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}

{% block paragraph %}
    {% block content %}

        {% set development = get_development() %}
        {% set slideshows = development['field_development_slideshow'] %}
        {% if slideshows is not empty %}

          {% if slideshows | length > 4 %}

              <section class="block-gallery">

                  <div class="gallery-set photoswipe-wrapper" itemscope itemtype="http://schema.org/ImageGallery">

                      <div class="glide-group carousel-wrap">

                          <div data-glide-el="track" class="glide__track">

                              <div class="glide__slides">

                                  {% for key, slideshow in slideshows %}
                                      {% set objSlideshow = slideshow["target_id"]|get_node %}
                                      {% if objSlideshow['field_slide_show_type'][0]['value'] == 'image' %}
                                          {% set urlImage = objSlideshow['field_slide_show_image'][0]['target_id']|media_full_url %}
                                          {% if urlImage is not null %}
                                              <figure class="gallery-item photoswipe-item glide__slide item{{ key }} lightbox-image"
                                                      itemprop="associatedMedia"
                                                      itemscope
                                                      itemtype="http://schema.org/ImageObject">
                                                  <a href="#" data-type="lightbox" itemprop="contentUrl"
                                                     data-size="1000x667">
                                                      <div class="lightbox">
                                                          <div class="lightbox-wrap">
                                                              <div class="lightbox-content">
                                                                  <img src="{{ urlImage }}" alt="#"
                                                                       loading="lazy">
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div class="media deep">
                                                          <picture class="image">
                                                              <img src="{{ urlImage }}" itemprop="thumbnail"
                                                                   alt="#"
                                                                   loading="lazy">
                                                          </picture>
                                                      </div>

                                                  </a>

                                                  <figcaption class="caption sr-only"></figcaption>

                                              </figure>
                                          {% endif %}
                                      {% else %}
                                          {% set urlImage = objSlideshow['field_slide_show_image'][0]['target_id']|media_full_url %}
                                          {% set urlShortVideo = objSlideshow['field_slide_show_video'][0]['target_id'] %}
                                          <figure class="gallery-item photoswipe-item glide__slide item{{ key }} lightbox-video"
                                                  itemprop="associatedMedia"
                                                  itemscope
                                                  itemtype="http://schema.org/ImageObject">

                                              <a href="#" data-type="lightbox" itemprop="contentUrl"
                                                 data-size="1000x667">

                                                  <div class="lightbox">

                                                      <div class="lightbox-wrap">

                                                          <div class="lightbox-content">

                                                              <div class="embed-holder">
                                                                  {{ drupal_entity('media', urlShortVideo ) }}
                                                                  {# <iframe src="{{ drupal_entity('media', urlShortVideo ) }}" loading="lazy"></iframe>#}

                                                              </div>

                                                          </div>

                                                      </div>

                                                  </div>

                                                  <div class="media deep thumb">

                                                      <picture class="image">

                                                          <img src="{% if urlImage is not null %}{{ urlImage }}{% else %}/themes/cameron/build/images/no-image.png{% endif %}"
                                                               itemprop="thumbnail" alt="Video"
                                                               loading="lazy">

                                                      </picture>

                                                  </div>

                                              </a>

                                              <figcaption class="caption sr-only">Video</figcaption>

                                          </figure>

                                      {% endif %}
                                  {% endfor %}
                              </div>

                          </div>

                          <div class="carousel-indicators">

                              <div class="glide__bullets" data-glide-el="controls[nav]">

                                  {% for key, slideshow in slideshows %}
                                      {% if objSlideshow['field_slide_show_type'][0]['value'] == 'image' %}
                                      <button class="carousel-control glide__bullet" data-glide-dir="={{ key }}">

                                          <span class="sr-only">Indicator</span>

                                      </button>
                                    {% endif %}
                                  {% endfor %}

                              </div>

                          </div>

                          <div class="glide__arrows" data-glide-el="controls">

                              <button class="carousel-control glide__arrow glide__arrow--prev" data-glide-dir="<">

                                            <span class="arrow">

                                              <span class="sr-only">Previous</span>

                                            </span>

                              </button>

                              <button class="carousel-control glide__arrow glide__arrow--next" data-glide-dir=">">

                                            <span class="arrow">

                                              <span class="sr-only">Next</span>

                                            </span>

                              </button>

                          </div>

                      </div>

                  </div>

              </section>

          {% else %}

              <section class="block-gallery gallery-grid">

                  <div class="container">

                      <header class="heading heading-underline">

                          <h3 class="title">View the gallery</h3>

                      </header>

                      <div class="gallery-set photoswipe-wrapper" itemscope itemtype="http://schema.org/ImageGallery">

                          <div class="row">

                              {% for key, slideshow in slideshows %}
                                  {% set objSlideshow = slideshow["target_id"]|get_node %}
                                  {% if objSlideshow['field_slide_show_type'][0]['value'] == 'image' %}
                                      {% set urlImage = objSlideshow['field_slide_show_image'][0]['target_id']|media_full_url %}
                                      {% if urlImage is not null %}
                                          <div class="col-sm-6 col-lg-3 grid-item">
                                              <figure class="gallery-item photoswipe-item item{{ key }} lightbox-image"
                                                      itemprop="associatedMedia"
                                                      itemscope
                                                      itemtype="http://schema.org/ImageObject">
                                                  <a href="#" data-type="lightbox" itemprop="contentUrl"
                                                     data-size="1000x667">
                                                      <div class="lightbox">
                                                          <div class="lightbox-wrap">
                                                              <div class="lightbox-content">
                                                                  <img src="{{ urlImage }}" alt="#"
                                                                       loading="lazy">
                                                              </div>
                                                          </div>
                                                      </div>

                                                      <div class="media deep">
                                                          <picture class="image">
                                                              <img src="{{ urlImage }}" itemprop="thumbnail"
                                                                   alt="#"
                                                                   loading="lazy">
                                                          </picture>
                                                      </div>

                                                  </a>

                                                  <figcaption class="caption sr-only"></figcaption>

                                              </figure>
                                          </div>
                                      {% endif %}
                                  {% else %}
                                      {% set urlImage = objSlideshow['field_slide_show_image'][0]['target_id']|media_full_url %}
                                      {% set urlShortVideo = objSlideshow['field_slide_show_video'][0]['target_id'] %}
                                      <div class="col-sm-6 col-lg-3 grid-item">
                                          <figure class="gallery-item photoswipe-item  item{{ key }} lightbox-video"
                                                  itemprop="associatedMedia"
                                                  itemscope
                                                  itemtype="http://schema.org/ImageObject">

                                              <a href="#" data-type="lightbox" itemprop="contentUrl"
                                                 data-size="1000x667">

                                                  <div class="lightbox">

                                                      <div class="lightbox-wrap">

                                                          <div class="lightbox-content">

                                                              <div class="embed-holder">
                                                                  {{ drupal_entity('media', urlShortVideo ) }}
                                                                  {# <iframe src="{{ drupal_entity('media', urlShortVideo ) }}" loading="lazy"></iframe>#}

                                                              </div>

                                                          </div>

                                                      </div>

                                                  </div>

                                                  <div class="media deep thumb">

                                                      <picture class="image">

                                                          <img src="{% if urlImage is not null %}{{ urlImage }}{% else %}/themes/cameron/build/images/no-image.png{% endif %}"
                                                               itemprop="thumbnail" alt="Video"
                                                               loading="lazy">

                                                      </picture>

                                                  </div>

                                              </a>

                                              <figcaption class="caption sr-only">Video</figcaption>

                                          </figure>
                                      </div>
                                  {% endif %}
                              {% endfor %}

                          </div>

                      </div>

                  </div>

              </section>

          {% endif %}



        {% endif %}
    {% endblock %}
{% endblock paragraph %}

