{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
    {% block content %}
        <div class="content-link">
            {% if paragraph.field_title.value is not empty %}
                 <h3 class="title h4">{{ paragraph.field_title.value }}</h3>
            {% endif %}
            {% if paragraph.field_paragraph_body_text.value is not empty %}
                <article class="editor">
                    {{ paragraph.field_paragraph_body_text.value|raw }}
                </article>
            {% endif %}
            {% if (paragraph.field_email.value is not empty) or (paragraph.field_number.value is not empty) or (paragraph.field_pc_body.value is not empty)  %}
            <div class="text-list">
                <div class="text-list-item">
                    <div class="text-list-detail">
                        <div class="text-list-detail-item">
                            <ul class="list-icons">
                                {% if paragraph.field_email.value is not empty %}
                                <li class="icon-text icon-email">
                                    <a href="mailto:{{ paragraph.field_email.value|raw }}" class="tracking-contact-details">{{ paragraph.field_email.value|raw }}</a>
                                </li>
                                {% endif %}
                                {% if paragraph.field_number.value is not empty %}
                                <li class="icon-text icon-phone">
                                    <a href="tel:{{ paragraph.field_number.value|raw }}" class="tracking-contact-details">{{ paragraph.field_number.value|raw }}</a>
                                </li>
                                {% endif %}
                                {% if paragraph.field_pc_body.value is not empty %}
                                <li class="icon-text icon-map-pin">
                                    <address>
                                        {{ paragraph.field_pc_body.value|replace({'<p>': '', '</p>': "<br>"})|raw }}
                                    </address>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if paragraph.field_home_tc_body.value is not empty %}
            <article class="editor">
                {{ paragraph.field_home_tc_body.value|raw }}
            </article>
            {% endif %}
        </div>
    {% endblock %}
{% endblock paragraph %}

