{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% set development = get_development_by_show_home()  %}
{% if development is not empty %}
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa4itkp6DXl7GYazix2Wt3_8OWigtDhEo&callback=initMap&libraries=&v=weekly&language=en"
      defer
    ></script>

{% block paragraph %}
  <div class="text-and-image-cta">
        {% block content %}
          {% set objectHomeType = get_hometype_by_plots() %}
          <div style="float:left;width:100%">
            <div id="map" style="float:left;width:45%;height:350px;"></div>
            <div style="float:left;width:55%;">
              <h1>Visit our {{ development['title'][0]['value'] | raw }} show home</h1>
              {{ objectHomeType['field_house_type_text_show_home'][0]['value'] | raw }}
              <p><a href="https://www.google.com/maps/?q={{ development['field_development_latitude'][0]['value'] | raw }},{{ development['field_development_longitude'][0]['value'] | raw }}">Get directions on Google Maps</a></p>
            </div>
          </div>
          
        {% endblock %}
    
  </div>
{% endblock paragraph %}

<script>
      // Initialize and add the map
      function initMap() {
        const location = { lat: {{ development['field_development_latitude'][0]['value'] | raw }}, lng: {{ development['field_development_longitude'][0]['value'] | raw }} };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 16,
          center: location,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: location,
          map: map,
        });
      }
    </script>
{% endif %}