{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{% block paragraph %}
    {% block content %}
        <section class="block-panel panel-advanced {% if paragraph.field_image.value == 1%}content-first{% else %}content-last{% endif %}">
            <div class="container">
                <div class="row no-gutters">
                    {% if paragraph.field_image.value != 1%}
                    <div class="col-lg graphic">
                        <figure class="media">
                            <picture class="image">
                                <img src="{% if paragraph.field_pc_square_image.entity.field_media_image.entity.fileuri is not empty %}
                                                    {{ paragraph.field_pc_square_image.entity.field_media_image.entity.fileuri | image_style('thumbnail_735_575') }}
                                                    {% else %}/themes/cameron/build/images/no-image.png{% endif %}"
                                     alt="{{ paragraph.field_pc_square_image.entity.field_media_image.alt }}" loading="lazy">
                            </picture>
                        </figure>
                    </div>
                    {% endif %}
                    <div class="col-lg content">
                        <div class="box">
                            {% set development = get_development()  %}
                            {% if (paragraph.field_paragraph_title.value is not empty) or (development is not empty) %}
                            <header class="heading">
                                <h3 class="title">
                                    {{paragraph.field_paragraph_title.value}}
                                    {% if development is not empty %} - {{development['field_development_town'][0]['value']}} {% endif %}
                                </h3>
                            </header>
                            {% endif %}
                            <article class="editor">
                                {{paragraph.field_paragraph_body_text.value | raw}}
                                {% if paragraph.field_paragraph_bulleted_list.value is not empty %}
                                <ul>
                                    {% for item in paragraph.field_paragraph_bulleted_list %}
                                        <li>{{item.value}}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </article>
                            {% if paragraph.field_paragraph_button_link.value is not empty %}
                            {% set typeBtn = paragraph.field_paragraph_buttoon_type.value %}
                                <a class="button  {% if typeBtn == "link" %}secondary{% endif %}" href="{{paragraph.field_paragraph_button_link.value}}">{{paragraph.field_paragraph_button_text.value}}</a>
                            {% endif %}
                        </div>
                    </div>

                    {% if paragraph.field_image.value == 1%}
                        <div class="col-lg graphic">
                            <figure class="media">
                                <picture class="image">
                                    <img src="{% if paragraph.field_pc_square_image.entity.field_media_image.entity.fileuri is not empty %}
                                                    {{ paragraph.field_pc_square_image.entity.field_media_image.entity.fileuri | image_style('thumbnail_735_575') }}
                                                    {% else %}/themes/cameron/build/images/no-image.png{% endif %}"
                                         alt="{{ paragraph.field_pc_square_image.entity.field_media_image.alt }}" loading="lazy">
                                </picture>
                            </figure>
                        </div>
                    {% endif %}

                </div>
            </div>
        </section>
    {% endblock %}
{% endblock paragraph %}

