<section class="accordion">

  <div class="accordion-items">

    {% set k = 6 %}
    {% for i in range(0, k) %}

      <div class="accordion-item reveal-item">

        <header class="heading">

          <h4 class="accordion-title">

            <a class="reveal-trigger" href="#">

              Lorem ipsum dolor sit amet consectetur adipiscing elit

            </a>

          </h4>

        </header>

        <div class="reveal-info">

          <div class="editor">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>

          </div>

        </div>

      </div>

    {% endfor %}

  </div>

</section>
