<section class="block-simple">

  <div class="container">

    <div class="block-action-banner">

      <div class="row justify-content-lg-center">

        <div class="col-lg-8">

          <div class="content">

            <header class="heading">

              <img class="graphic" src="/themes/cameron/build/images/stag.svg" alt="#" loading="lazy">

              <h2 class="title">Lorem ipsum dolor sit amet</h2>

            </header>

            <article class="editor">

              <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore.</p>

            </article>

            <ul class="inline-group actions">

              <li class="item"><a class="button tertiary lead" href="#">Lorem ipsum dolor sit amet</a></li>

              <li class="item"><a class="button secondary" href="#">Lorem ipsum dolor</a></li>

            </ul>

            <div class="message basic">

              <span class="graphic-icon-direction-light">Visit Acorn Meadows.</span> <a class="graphic-icon-external-light" href="#" target="_blank" rel="noopener">Get directions</a>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
