
<section class="block-simple">
  {% if (item.entity.field_layout.value == 'narrow') or (layout == 'narrow') %}
  <div class="promotion">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-lg-10">
          <div class="row row-split columns">
            <div class="col-lg-auto">

              <img class="graphic"
                   src="{% if item.entity.field_paragraph_image.entity.uri.value is not empty %}{{ file_url(item.entity.field_paragraph_image.entity.uri.value) }}{% else %}/themes/cameron/build/images/logo-stag.svg{% endif %}"
                   alt="Icon." loading="lazy">
            </div>
            <div class="col-lg">
              <div class="content">
                {% if (item.entity.field_text_and_button_header.value is not empty) or (dev_title is not empty) %}
                  <header class="heading">
                    <h3 class="title">{{item.entity.field_text_and_button_header.value }}{{ dev_title }}</h3>
                  </header>
                {% endif %}
                <article class="editor">
                  {{ item.entity.field_text_and_button_body_text.value|raw }}{{ dev_txt |raw }}
                </article>
              </div>
            </div>
            <div class="col-lg-auto">

              {%  if (dev_link is not empty) and (dev_status == 'available') %}
                <li class="item"><a class="button secondary appointedd-booking-popover" ap-appid="{{ dev_link }}">Book your private viewing </a> </li>
               {% endif %}


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %} 
    <div class="container">
      <div class="block-action-banner">
        <div class="row justify-content-lg-center">
          <div class="col-lg-8">
            <div class="content">
              <header class="heading">
                <img class="graphic"
                     src="{% if item.entity.field_paragraph_image.entity.uri.value is not empty %}{{ file_url(item.entity.field_paragraph_image.entity.uri.value) }}{% else %}/themes/cameron/build/images/logo-stag.svg{% endif %}"
                     alt="Icon." loading="lazy">
                {% if (item.entity.field_text_and_button_header.value is not empty) or (dev_title is not empty) %}
                  <h2  class="title">{{ item.entity.field_text_and_button_header.value }}{{ dev_title }}</h2> {% endif %}
                    </header>

                    <article class="editor">
                      {{ item.entity.field_text_and_button_body_text.value|raw  }}{{ dev_txt |raw  }}
                    </article>

              <ul class="inline-group actions">
              {%  if (dev_link is not empty) and (dev_status == 'available') %}
                    <li class="item"><a class="button tertiary lead appointedd-booking-popover" ap-appid="{{ dev_link }}">Book your private viewing </a> </li>
                {% endif %}

                <li class="item"><a class="button secondary"  href="#talk-to-us">Get in touch</a> </li>

              </ul>
              {%  if (dev_name is not empty) and (dev_status == 'available') %}
              <div class="message basic">
                <span class="graphic-icon-direction-light">Visit {{ dev_name }}.</span> <a class="graphic-icon-external-light" href="https://www.google.com/maps/search/?api=1&query={{ dev_lat }},{{ dev_lng }}" target="_blank" rel="noopener">Get directions</a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</section>