<section class="block-form" id="talk-to-us">

  <div class="container">

    <div class="row justify-content-lg-center">

      <div class="col-lg-6">

        <header class="heading heading-underline">

          <h3 class="title">{% if dev_status == 'available' %}Here to help you{% else %}Register for updates{% endif %}</h3>

        </header>

        <article class="editor">
        {% if dev_status == 'available' %}
              <p>If you'd like to know more about this development, you can speak to one of our sales advisors by phoning
                {% if node.field_development_phone.value is not empty %} {% set tel = node.field_development_phone.value %}
              {% elseif objDevelopment['field_development_phone'][0]['value'] is not empty %} {% set tel = objDevelopment['field_development_phone'][0]['value'] %}
              {% elseif fields.field_development_phone.content is not empty %} {% set tel = fields.field_development_phone.content %}
              {% else %}{% set tel = '01543 671818' %}{% endif %}<a href="tel:{{ tel }}" class="tracking-from-tel">{{ tel }}</a>.
                Alternatively, ask the Cameron and Galliers team a question below and we'll get back to you as soon as we can.</p>
          {% else %}
            <p>If you'd like to know more about this development, ask the Cameron and Galliers team a question below and we'll get back to you as soon as we can.</p>
          {% endif %}
          <p class="small required-label">Fields marked <sup>*</sup> are mandatory.</p>

        </article>

        {{ contact_form }}

      </div>

    </div>

  </div>

</section>
<div class="modal-overlay" id="overlay">
  <a class="overlay-close" href="#">
    <span class="sr-only">Close overlay</span>
  </a>

  <div class="modal-content">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-lg-6">
          <header class="heading heading-underline">
            <h2 class="title">Request the {{ node.title.value | raw }} brochure</h2>
          </header>

          <article class="editor">
            <p class="small required-label">Fields marked <sup>*</sup> are mandatory.</p>
          </article>

          {{ brochure_form }}
        </div>
      </div>
    </div>
  </div>
</div>
