<section class="block-gallery">

  <div class="gallery-set photoswipe-wrapper" itemscope itemtype="http://schema.org/ImageGallery">

    <div class="glide-group carousel-wrap">

      <div data-glide-el="track" class="glide__track">

        <div class="glide__slides">

          {% set k = 9 %}
          {% for i in range(0, k) %}

            <figure class="gallery-item photoswipe-item glide__slide item{{ i }} lightbox-image"
                    itemprop="associatedMedia"
                    itemscope
                    itemtype="http://schema.org/ImageObject">

              <a href="#" data-type="lightbox" itemprop="contentUrl" data-size="1000x667">

                <div class="lightbox">

                  <div class="lightbox-wrap">

                    <div class="lightbox-content">

                      <img src="https://source.unsplash.com/ks8cKjLWYK8/1000x667" alt="#"
                           loading="lazy">

                    </div>

                  </div>

                </div>

                <div class="media deep">

                  <picture class="image">

                    <img src="https://source.unsplash.com/ks8cKjLWYK8/1000x563" itemprop="thumbnail" alt="#"
                         loading="lazy">

                  </picture>

                </div>

              </a>

              <figcaption class="caption sr-only">Image caption here</figcaption>

            </figure>

          {% endfor %}

        </div>

      </div>

      <div class="carousel-indicators">

        <div class="glide__bullets" data-glide-el="controls[nav]">

          {% set b = 9 %}
          {% for e in range(0, b) %}

            <button class="carousel-control glide__bullet" data-glide-dir="={{ e }}">

              <span class="sr-only">Indicator</span>

            </button>

          {% endfor %}

        </div>

      </div>

      {% include 'themes/cameron/templates/includes/carousel-arrows.html.twig' %}

    </div>

  </div>

</section>
