


<div class="glide__arrows" data-glide-el="controls">

  <button class="carousel-control glide__arrow glide__arrow--prev" data-glide-dir="<">

        <span class="arrow">

          <span class="sr-only">Previous</span>

        </span>

  </button>

  <button class="carousel-control glide__arrow glide__arrow--next" data-glide-dir=">">

        <span class="arrow">

          <span class="sr-only">Next</span>

        </span>

  </button>

</div>

