<section class="block-content">

  <div class="container">

    <div class="row justify-content-lg-center">

      <div class="col-lg-8">

        <article class="editor">

          <h2>This is a heading 2</h2>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in <a href="#">reprehenderit in voluptate velit esse</a> cillum dolore eu fugiat nulla pariatur.
            Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <blockquote>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
              aliqua. Ut enim ad minim veniam.</p>

            <cite>Joe Bloggs</cite>

          </blockquote>

          <h3>This is a heading 3</h3>

          <img src="https://source.unsplash.com/ks8cKjLWYK8/1000x563" alt="#" loading="lazy">

          <ul>
            <li>Lorem ipsum dolor sit amet in voluptate velit esse in voluptate velit esse in voluptate velit esse in voluptate
              velit esse
            </li>
            <li><a href="#">Reprehenderit in voluptate velit esse</a></li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>

          <h4>This is a heading 4</h4>

          <a class="button" href="#">Button primary</a>

          <figure class="media embed">

            <iframe src="https://player.vimeo.com/video/473942482" loading="lazy"
                    aria-label="Content description"></iframe>

          </figure>

          <a class="button secondary" href="#">Button secondary</a>

          <ol>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ol>

          <h5>This is a heading 5 and 6</h5>

          <table>
            <tbody><tr>
              <th>Lorem ipsum dolor</th>
              <th>Lorem ipsum dolor</th>
              <th>Lorem ipsum dolor</th>
            </tr>
            <tr>
              <td>Lorem ipsum dolor</td>
              <td>Lorem ipsum dolor</td>
              <td>Lorem ipsum dolor</td>
            </tr>
            <tr>
              <td>Lorem ipsum dolor</td>
              <td>Lorem ipsum dolor</td>
              <td>Lorem ipsum dolor</td>
            </tr>
            </tbody></table>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </article>

      </div>

    </div>

  </div>

</section>
