<section class="block">

  <div class="container">

    <div class="row row-split gutters-extra">

      <div class="col-lg group-list">

        <div class="section-intro">

          <header class="heading-underline">

            <h2 class="title">Lorem ipsum dolor sit amet</h2>

          </header>

          <article class="editor">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis <a href="#">aute irure dolor in reprehenderit</a> in voluptate velit esse
              cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit
              anim id est laborum.
            </p>

          </article>

        </div>

        <form>

          FORM HERE

        </form>

        <div class="content-link">

          <h3 class="title h4">Lorem ipsum dolor sit amet</h3>

          <a class="button" href="#">Lorem ipsum dolor sit amet</a>

        </div>

        <section class="block-info-banner aside">

          <div class="promotion">

            <div class="row columns">

              <div class="col-lg-auto">

                <img class="graphic" src="/themes/cameron/build/images/stag.svg" alt="#" loading="lazy">

              </div>

              <div class="col-lg">

                <div class="content">

                  <header class="heading">

                    <h3 class="title">Pellentesque in ipsum id orci porta dapibus</h3>

                  </header>

                  <article class="editor">

                    <p>Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Donec <a
                        href="#">rutrum congue leo eget malesuada</a>.</p>

                  </article>

                </div>

              </div>

            </div>

          </div>

        </section>

      </div>

      <div class="col-lg">

        <header class="heading-underline">

          <h2>Lorem ipsum dolor sit amet</h2>

        </header>

        <div class="text-list">

          <div class="text-list-item">

            <h3 class="title-secondary">Lorem ipsum dolor sit amet</h3>

            <ul class="list-icons">

              <li class="icon-text icon-phone">

                <a href="tel:123456789">123456789</a>

              </li>

              <li class="icon-text icon-email">

                <a href="mailto:email@companyname.co.uk">email@companyname.co.uk</a>

              </li>

            </ul>

          </div>

          <div class="text-list-item">

            <h3 class="title-secondary">Lorem ipsum dolor sit amet</h3>

            <div class="text-list-detail">

              {% set b = 2 %}
              {% for e in range(0, b) %}

                <div class="text-list-detail-item">

                  <p class="detail-title">Lorem ipsum dolor</p>

                  <ul class="list-icons">

                    <li class="icon-text icon-phone">

                      <a href="tel:123456789">123456789</a>

                    </li>

                    <li class="icon-text icon-map-pin">

                      <address>
                        Lorem ipsum dolor<br>
                        Lorem ipsum dolor sit amet<br>
                        Lorem ipsum dolor<br>
                        Lorem ipsum dolor sit amet
                      </address>

                    </li>

                  </ul>

                </div>

              {% endfor %}

            </div>

          </div>

        </div>

      </div>

      <div class="col-lg">

        <header class="heading-underline">

          <h2>Lorem ipsum dolor sit amet</h2>

        </header>

      </div>

    </div>

  </div>

</section>
