


<aside class="cookie-message">

  <div class="container">

    <div class="editor">

      <p>We use cookies on this website. By continuing to use the website you are agreeing to our use of cookies. Find out <a href="{{ path('entity.node.canonical', {'node': '221'}) }}">how to manage cookies</a> or <a class="cookie-accept" href="#">accept &amp; hide</a> this message.</p>

    </div>

  </div>

</aside>
