<section class="block-detail-intro">

  <div class="container">

    <div class="row row-split gutters-extra">

      <div class="col-lg-7">

        {% include 'themes/cameron/templates/includes/carousel-gallery.html.twig' %}

      </div>

      <div class="col-lg-5">

        <div class="actions">

          <a class="button lead" href="#">Book to view</a>

          <div class="row extra">

            <div class="col">

              <a class="button secondary  tracking-e-brouchure" href="#" target="_blank" rel="noopener noreferrer">View the e-brochure</a>

            </div>

            <div class="col">

              <a class="button tertiary" href="#">Talk to us</a>

            </div>

          </div>

        </div>

        <div class="message background text-center">

          <span class="icon-text icon-direction">Visit Acorn Meadows.</span> <a class="icon-external" href="#" target="_blank" rel="noopener">Get directions</a>

        </div>

        <header class="heading-underline heading">

          <div class="row align-items-center">

            <div class="col-auto">

              <h1 class="title h2">Plot 33 &hyphen; Larkspur</h1>

            </div>

            <div class="col-auto">

              <div class="text">at <a href="#">Acorn Meadows</a></div>

            </div>

          </div>

        </header>

        <ul class="list-icon-text">

          <li class="icon-text icon-house">Semi-detached</li>

          <li class="icon-text icon-pin">Edinburgh, EH15 8LP</li>

          <li class="icon-text icon-beds">3 &amp; 4 bedrooms</li>

          <li class="icon-text icon-price">&pound;300,000 &dash; &pound;500,000</li>

        </ul>

        <div class="message background tag">

          <span class="icon-text icon-star">First Home Plan available</span>

        </div>

        <article class="editor">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>

        </article>

      </div>

    </div>

  </div>

</section>

<section class="block-detail-intro">

  <div class="container">

    <div class="row justify-content-lg-center">

      <div class="col-lg-10">

        <header class="heading-underline heading">

          <h3 class="title">Lorem ipsum dolor sit amet</h3>

        </header>

        <div class="reveal">

          <article class="editor">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua.</p>

            <ul>

              <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>

              <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>

              <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>

            </ul>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum.
            </p>

          </article>

        </div>

        <a class="button secondary reveal-toggle" href="#">Read more</a>

      </div>

    </div>

  </div>

</section>

<section class="block-simple fill">

  <div class="container">

    <div class="row justify-content-lg-center">

      <div class="col-lg-10">

        <header class="heading-underline heading">

          <h3 class="title">Lorem ipsum dolor sit amet</h3>

        </header>

        <figure class="media embed">

          <iframe src="https://player.vimeo.com/video/473942482" loading="lazy"
                  aria-label="Content description"></iframe>

        </figure>

      </div>

    </div>

  </div>

</section>

<section class="block-simple">

  <div class="container">

    <div class="row row-split gutters-extra">

      <div class="col-lg-6">

        <header class="heading-underline heading">

          <h3 class="title">Lorem ipsum dolor sit amet</h3>

        </header>

        {% include 'themes/cameron/templates/includes/carousel-floorplan.html.twig' %}

      </div>

      <div class="col-lg-6">

        <header class="heading-underline heading">

          <h3 class="title">Lorem ipsum dolor sit amet</h3>

        </header>

        <article class="editor">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>

          <ul>

            <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>

            <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>

            <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>

          </ul>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>

        </article>

      </div>

    </div>

  </div>

</section>

<section class="block-simple fill">

  <div class="container">

    <div class="row row-split gutters-extra">

      <div class="col-lg-6">

        <header class="heading-underline heading">

          <h3 class="title">Lorem ipsum dolor sit amet</h3>

        </header>

        <article class="editor">

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>

          <ul>

            <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>

            <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>

            <li>Lorem ipsum dolor sit amet consectetur adipiscing elit</li>

          </ul>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>

        </article>

      </div>

      <div class="col-lg-6">

        {% include 'themes/cameron/templates/includes/carousel-gallery.html.twig' %}

      </div>

    </div>

  </div>

</section>
