<section class="block-preview">

  <div class="container">

    <header class="section-heading text-lg-center">

      <h3 class="title">This is the section heading</h3>

    </header>

    <div class="glide-multiple carousel-wrap">

      <div data-glide-el="track" class="glide__track">

        <div class="glide__slides">

          {% set k = 6 %}
          {% for i in range(0, k) %}

            <div class="glide__slide item{{ i }}">

              <div class="preview-item">

                <figure class="media landscape">

                  <picture class="image">

                    <img src="https://source.unsplash.com/ks8cKjLWYK8/800x600" alt="#" loading="lazy">

                  </picture>

                </figure>

                <div class="listing-preview listing-box">

                  <div class="inner">

                    <div class="row row-split align-items-lg-center justify-content-lg-between">

                      <div class="col-lg">

                        <header class="heading">

                          <h4>Acorn Meadow</h4>

                        </header>

                      </div>

                      <div class="col-lg-auto">

                        <div class="status green">Available</div>

                      </div>

                    </div>

                    <ul class="features">

                      <li class="item icon-text icon-pin">Edinburgh, EH15 8LP</li>

                      <li class="item icon-text icon-beds">3 &amp; 4 bedrooms</li>

                      <li class="item icon-text icon-price">&pound;300,000 &dash; &pound;500,000</li>

                    </ul>

                    <div class="summary editor">

                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore
                        magna aliqua.</p>

                    </div>

                    <ul class="inline-group actions">

                      <li class="item">

                        <a class="button" href="#">View development</a>

                      </li>

                      <li class="item">

                        <a class="button secondary" href="#">View plots</a>

                      </li>

                    </ul>

                  </div>

                </div>

              </div>

            </div>

          {% endfor %}

        </div>

      </div>

      <div class="carousel-indicators">

        <div class="glide__bullets" data-glide-el="controls[nav]">

          {% set b = 6 %}
          {% for e in range(0, b) %}

            <button class="carousel-control glide__bullet" data-glide-dir="={{ e }}">

              <span class="sr-only">Indicator</span>

            </button>

          {% endfor %}

        </div>

      </div>

      <div class="glide__arrows" data-glide-el="controls">

        <button class="carousel-control glide__arrow glide__arrow--prev" data-glide-dir="<">

        <span class="arrow">

          <span class="sr-only">Previous</span>

        </span>

        </button>

        <button class="carousel-control glide__arrow glide__arrow--next" data-glide-dir=">">

        <span class="arrow">

          <span class="sr-only">Next</span>

        </span>

        </button>

      </div>


    </div>

  </div>

</section>
