<section class="block-gallery gallery-grid">

  <div class="container">

    <header class="heading heading-underline">

      <h3 class="title">View the gallery</h3>

    </header>

    <div class="gallery-set photoswipe-wrapper" itemscope itemtype="http://schema.org/ImageGallery">

      <div class="row">

        {% set k = 7 %}
        {% for i in range(0, k) %}

          <div class="col-sm-6 col-lg-3 grid-item">

            <figure class="gallery-item photoswipe-item item{{ i }} lightbox-image"
                    itemprop="associatedMedia"
                    itemscope
                    itemtype="http://schema.org/ImageObject">

              <a href="#" data-type="lightbox" itemprop="contentUrl" data-size="1000x667">

                <div class="lightbox">

                  <div class="lightbox-wrap">

                    <div class="lightbox-content">

                      <img src="https://source.unsplash.com/ks8cKjLWYK8/1000x667" alt="#"
                           loading="lazy">

                    </div>

                  </div>

                </div>

                <div class="media deep">

                  <picture class="image">

                    <img src="https://source.unsplash.com/ks8cKjLWYK8/1000x563" itemprop="thumbnail" alt="#"
                         loading="lazy">

                  </picture>

                </div>

              </a>

              <figcaption class="caption sr-only">Image caption here</figcaption>

            </figure>

          </div>

        {% endfor %}

      </div>

    </div>

  </div>

</section>
