<section class="block-info-banner">

  <div class="promotion">

    <div class="container">

      <div class="row justify-content-lg-center">

        <div class="col-lg-10">

          <div class="row row-split columns">

            <div class="col-lg-auto">

              <img class="graphic" src="/themes/cameron/build/images/stag.svg" alt="#" loading="lazy">

            </div>

            <div class="col-lg">

              <div class="content">

                <header class="heading">

                  <h3 class="title">Pellentesque in ipsum id orci porta dapibus</h3>

                </header>

                <article class="editor">

                  <p>Pellentesque in ipsum id orci porta dapibus. Donec sollicitudin molestie malesuada. Donec <a
                      href="#">rutrum congue leo eget malesuada</a>.</p>

                </article>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
