<section class="block-filter filter-extra block-base">

  <div class="inside-inner">

    <div class="more-options">

      <div class="row row-split-large gutters-tight justify-content-xl-between align-items-xl-end">

        <div class="col-xl">

          <div class="row row-split-large gutters-tight items">

            <div class="col-xl item">

              <div class="form-item">

                <label for="edit-field-development-bedrooms-range-from"
                       class="label-switch"><span>Bedrooms</span></label>

                <div class="row no-gutters inside">

                  <div class="col">

                    <select id="edit-field-development-bedrooms-range-from" name="field_development_bedrooms_range_from"
                            class="form-switch select-switch">
                      <option value="">No Min</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                    </select>

                  </div>

                  <div class="col">

                    <select id="edit-field-development-bedrooms-range-to" name="field_development_bedrooms_range_to"
                            class="form-switch select-switch">
                      <option value="">No Max</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                    </select>

                  </div>

                </div>

              </div>

            </div>

            <div class="col-xl item">

              <div class="form-item">

                <label for="edit-field-development-price-range-from" class="label-switch"><span>Price</span></label>

                <div class="row no-gutters inside">

                  <div class="col">

                    <select id="edit-field-development-price-range-from" name="field_development_price_range_from"
                            class="form-switch select-switch">
                      <option value="">No Min</option>
                      <option value="100000">£100000</option>
                      <option value="200000">£200000</option>
                      <option value="300000">£300000</option>
                      <option value="400000">£400000</option>
                      <option value="500000">£500000</option>
                      <option value="600000">£600000</option>
                      <option value="700000">£700000</option>
                      <option value="800000">£800000</option>
                      <option value="900000">£900000</option>
                    </select>

                  </div>

                  <div class="col">

                    <select id="edit-field-development-price-range-to" name="field_development_price_range_to"
                            class="form-switch select-switch">
                      <option value="">No Max</option>
                      <option value="100000">£100000</option>
                      <option value="200000">£200000</option>
                      <option value="300000">£300000</option>
                      <option value="400000">£400000</option>
                      <option value="500000">£500000</option>
                      <option value="600000">£600000</option>
                      <option value="700000">£700000</option>
                      <option value="800000">£800000</option>
                      <option value="900000">£900000</option>
                    </select>

                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</section>
