{% set urlImage = content.field_media_image|render|striptags|trim   %}
{% if urlImage is not empty %}
{% set urlImagePath = file_url(content.field_media_image[0]['#media'].field_media_image.entity.uri.value)  %}
<section class="block-hero overlay block-base hero-basic">
	<div class="layer content middle inside">
		<div class="container">
			<div class="row justify-content-lg-center">
				<div class="col-lg-8">
					<header class="heading">
						<h1 class="title heading-main">{{node.title.value | raw}}</h1>
					</header>
				</div>
			</div>
		</div>
	</div>
	<div class="layer graphic">
		<figure class="media page-banner">
			<picture class="image">
				<img src="{{ urlImagePath }}" alt="{{node.title.value | raw}} Banner." loading="lazy">
			</picture>
		</figure>
	</div>
</section>
{% endif %}

{% if (node.title.value is not empty) and (node.body.value is not empty) %}

  <section class="block-content">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-lg-8">
          <article class="editor">
            {% if urlImage is empty %}<h1 class="title heading-main">{{node.title.value | raw}}</h1>{% endif %}
            {{ node.body.value | raw}}
          </article>
        </div>
      </div>
    </div>
  </section>

{% endif %}


