{% set urlImage = content.field_media_image|render|striptags|trim  %}
{% if urlImage is not empty %}
	{% set urlImagePath = file_url(content.field_media_image[0]['#media'].field_media_image.entity.uri.value)  %}

	<section class="block-hero overlay block-base hero-basic">
	<div class="layer content middle inside">
		<div class="container">
			<div class="row justify-content-lg-center">
				<div class="col-lg-10">

					<header class="heading heading-simple">
						{% if node.field_hide_title.value != 1 %}<h1 class="title heading-main">{{node.title.value | raw}}</h1>{% endif %}
					</header>

				</div>
			</div>
		</div>
	</div>
	<div class="layer graphic">
    <figure class="media page-banner {% if node.field_use_deep_hero.value %}hero{% endif %}">
			<picture class="image">
				<img src="{{ urlImagePath }}" alt="{{node.title.value | raw}} Banner." loading="lazy">
			</picture>
		</figure>
	</div>
</section>
{% endif %}

{{ breadcrumbs }}

{% if (node.field_hide_title.value is not empty) and (node.body.value is not empty) %}

  <section class="block-content">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-lg-10">
          <article class="editor">
            {% if (urlImage is empty) and (node.field_hide_title.value != 1) %}<h1 class="title heading-main">{{node.title.value | raw}}</h1>{% endif %}
            {{ node.body.value | raw}}
          </article>
        </div>
      </div>
    </div>
  </section>

{% endif %}

{% if node.field_use_blog_layout.value == 1 %}
	{% for item in node.field_extra_content  %}

			{% if item.entity.bundle == 'intro_text' %}
				{% if item.entity.field_heading_style.value is not empty %}
					{% set heading = item.entity.field_heading_style.value|raw %}
				{% else %}
					{% set heading = 'h2' %}
				{% endif %}
				<section class="block-content">
					<div class="container">
						<div class="row justify-content-lg-center">
							<div class="col-lg-10">
								<article class="editor {% if item.entity.field_center_text.value|raw != 1 %}text-lg-left{% else %}text-lg-center{% endif %}">
									<{{ heading }}>{{ item.entity.field_title.value|raw }}</{{ heading }}>

								{% if item.entity.field_pc_title.value is not empty %}
									<div class="text-lead">
										{{ item.entity.field_pc_title.value|raw }}
									</div>
								{% endif %}
								{{ item.entity.field_pc_body.value|raw }}
								</article>
							</div>
						</div>
					</div>
				</section>

			{% else %}
				{{ drupal_entity('paragraph', item.target_id ) }}
		{% endif %}
	{% endfor %}

{% else %}
	{{ content.field_extra_content  }}
{% endif %}
