{% set objDevelopment = node.field_developments_plot_list_dev.entity.id | get_node %}
{% set dev_status = objDevelopment['field_plots_status'][0]['value'] | raw %}
<section class="block-intro">
	<figure class="media banner">
		<picture class="image">
			{{ drupal_entity('node', objDevelopment['field_development_banner_area'][0]['target_id']) }}
		</picture>
	</figure>

	<div class="intro">
		<div class="container">
			<div class="inner">

				<header class="heading">
					<h1 class="text-lg-center">{{objDevelopment['title'][0]['value'] | raw}}</h1>
				</header>

				<ul class="features justify-content-lg-center">
					<li class="item icon-text icon-pin">{{objDevelopment['field_development_town'][0]['value'] | raw}} {{objDevelopment['field_development_post_code'][0]['value'] | raw}}</li>
					{% if (objDevelopment['field_development_bedrooms_range'][0]['from'] is not empty) or (objDevelopment['field_development_bedrooms_range'][0]['to'] is not empty)  %}
					<li class="item icon-text icon-beds">
						{% if objDevelopment['field_development_bedrooms_range'][0]['from'] == objDevelopment['field_development_bedrooms_range'][0]['to']  %}
							{{ objDevelopment['field_development_bedrooms_range'][0]['from'] }} bedrooms
						{% else %}
						{{ objDevelopment['field_development_bedrooms_range'][0]['from'] }} - {{ objDevelopment['field_development_bedrooms_range'][0]['to'] }} bedrooms
						{% endif %}
					</li>
					{% endif %}
					{% if (objDevelopment['field_development_price_range'][0]['from'] is not empty) or (objDevelopment['field_development_price_range'][0]['to'] is not empty)  %}
					<li class="item icon-text icon-price">
						{% if objDevelopment['field_development_price_range'][0]['from'] == objDevelopment['field_development_price_range'][0]['to'] %}
							{{ objDevelopment['field_development_price_range'][0]['from']|number_format }}
						{% else %}
							{{ objDevelopment['field_development_price_range'][0]['from']|number_format }} -  {{ objDevelopment['field_development_price_range'][0]['to']|number_format }}
						{% endif %}
					</li>
					{% endif %}
				</ul>

				<ul class="actions justify-content-lg-center inline-group">
					{% if (objDevelopment['field_book_appointment_code'][0]['value']  is not empty) and ( dev_status == 'available') %}
						<li class="item">
							<a class="button appointedd-booking-popover" ap-appid="{{ objDevelopment['field_book_appointment_code'][0]['value'] }}">Book your private viewing</a>
						</li>
					{% endif %}
					{% if objDevelopment['field_development_e_brochure'][0]['value']  is not empty %}
					<li class="item">
						<a class="button secondary overlay-trigger tracking-e-brouchure" href="#overlay"  aria-label="View overlay content">View the e-brochure</a>
					</li>
					{% endif %}
					<li class="item">
            			<a class="button tertiary" href="#talk-to-us">Get in touch</a>
					</li>
				</ul>

			</div>

			{% if dev_status == 'available' %}
			  <div class="message background text-center">
				<span class="icon-text icon-direction">Visit {{objDevelopment['title'][0]['value'] | raw}}.</span> <a class="icon-external" href="https://www.google.com/maps/search/?api=1&query={{ objDevelopment['field_development_latitude'][0]['value'] | raw}},{{ objDevelopment['field_development_longitude'][0]['value'] | raw }}" target="_blank" rel="noopener">Get directions</a>
			  </div>
			{% endif %}
		</div>
	</div>


	<nav class="nav-bar">
		<div class="container">
			<ul class="row no-gutters items">
				<li class="col-sm item">
					<a href="{{ path('entity.node.canonical', {'node': objDevelopment['nid'][0]['value']|raw  }) }}#development">The Development</a>
				</li>
				<li class="col-sm item active">
					<a href="{{ url('<current>')  }}">Explore our homes</a>
				</li>
				<li class="col-sm item">
					<a href="{{ path('entity.node.canonical', {'node': objDevelopment['nid'][0]['value']|raw  }) }}/location#explore">Explore the Location</a>
				</li>
			</ul>
		</div>
	</nav>

</section>
<section class="block-crumb breadcrumb">
	<div class="container">
		<nav role="navigation" aria-labelledby="system-breadcrumb" class="breadcrumbs">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/our-developments">Our developments</a></li>
			<li>{{objDevelopment['title'][0]['value'] | raw}} </li>
		</ul>
		</nav>
	</div>
</section>
<section class="block-filter plot-filter" id="homes">
	<div class="container">
		<header class="heading-master">
			<h1 class="h2">Available homes at {{objDevelopment['title'][0]['value'] | raw}}</h1>
		</header>
		{{ block_view }}
	</div>
</section>


		<div class="body-paragraph blocks">
			{% for item in node.field_developments_plot_list_par %}
			     {{ drupal_entity('paragraph', item.target_id) }}
			{% endfor %}
		</div>

<span class="cameron-details hidden" data-developmentid="{{ objDevelopment['nid'][0]['value']|raw }}" data-brochure="{{ objDevelopment['field_development_e_brochure'][0]['value'] }}" data-formtype="{% if dev_status == 'available' %}ask-question{% else %}newsletter-signup{% endif %}"  data-status="{{ dev_status | raw }}" data-send="{{ objDevelopment['field_development_emails'][0]['value']|raw }}"  data-dev-coins="{{ objDevelopment['field_development_coinsid'][0]['value']|raw }}"  ></span>
{% include 'themes/cameron/templates/includes/brochure-form.html.twig' %}
