
{% set urlShortVideo = file_url(content.field_banner_area_short_video[0]['#media'].field_media_video_file.entity.uri.value)  %}
{% set urlFullVideo = file_url(content.field_banner_area_full_video[0]['#media'].field_media_video_file.entity.uri.value)  %}

{% set urlImage = file_url(content.field_banner_area_image[0]['#media'].field_media_image.entity.uri.value)  %}
{% if not urlFullVideo is empty and urlFullVideo != '/' %}
    <video width="100%"  autoplay muted mute>
	  <source src="{{urlFullVideo}}" type="video/mp4">
	  Your browser does not support the video tag.
	</video>
{% elseif not urlShortVideo is empty and urlShortVideo != '/' %}
	<video width="100%"  autoplay muted mute>
		<source src="{{urlShortVideo}}" type="video/mp4">
		Your browser does not support the video tag.
	</video>
{% elseif urlImage  %}
    <img src="{{ urlImage }}"/>
{% endif %}

