{% set counter=0 %}
		{% for item in node.field_home_page_paragraphs %}
      {{ drupal_entity('paragraph', item.target_id) }}
      {% if item.entity.bundle=='home_header' and counter == 0 %}
        <section class="block-search d-none">
          <div class="container">
            <div class="wrapper">
              <div class="inner">
                <header class="heading">
                  <h4 class="title">Let's find your perfect home</h4>
                </header>

                <div class="global-search-area">

                  {{ search_form }}

                </div>

              </div>
            </div>
          </div>
        </section>
        {% set counter = counter+1 %}
      {% endif %}
    {% endfor %}

