{% set urlImageThumbnail = ''  %}
{%
	set objHouseType = node.field_plots_house_type[0].target_id | raw | get_node
%}
{%
	set objDevelopmentType = node.field_plots_development[0].target_id | raw | get_node
%}
{% set dev_status = node.field_plots_status.value | raw %}
{% if not objHouseType['field_house_type_thumbnail'][0] is empty  %}
	{% set urlImageThumbnail = objHouseType['field_house_type_thumbnail'][0]['target_id']|media_full_url %}
{% endif %}

<section class="block-crumb breadcrumb">
  <div class="container">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/our-developments">Our developments</a></li>
      <li><a href="{{ path('entity.node.canonical', {'node': objDevelopmentType['nid'][0]['value']}) }}">{{objDevelopmentType['title'][0]['value']}}</a></li>
      <li>{{node.title.value | raw}} </li>
    </ul>
  </div>
</section>

<section class="block-detail-intro">

	<div class="container">

		<div class="row row-split gutters-extra">

			<div class="col-lg-6">
				{% if (not objHouseType['field_house_type_image_slideshow'][0] is empty) or (not node.field_gallery is empty)  %}
					<section class="block-carousel">

						<div class="gallery-set photoswipe-wrapper" itemscope itemtype="http://schema.org/ImageGallery">

							<div class="glide-single carousel-wrap">

								<div data-glide-el="track" class="glide__track">

									<div class="glide__slides">

										{% if not node.field_gallery is empty  %}
											{% for i, item in node.field_gallery %}
												{% set urlImage = item.target_id|media_full_url %}
												{% set urlAltImage = item.target_id.alt %}
												{% if urlImage is not null %}

													<figure class="gallery-item photoswipe-item glide__slide item{{ i }} lightbox-image"
															itemprop="associatedMedia"
															itemscope
															itemtype="http://schema.org/ImageObject">

														<a href="#" data-type="lightbox" itemprop="contentUrl" data-size="1000x667">
															<div class="lightbox">
																<div class="lightbox-wrap">
																	<div class="lightbox-content">
																		<img src="{{ urlImage }}" alt="{{ urlAltImage }}" loading="lazy">
																	</div>
																</div>
															</div>

															<div class="media landscape">
																<picture class="image">
																	<img src="{{ urlImage }}" itemprop="thumbnail" alt="{{ urlAltImage }}" loading="lazy">
																</picture>
															</div>
														</a>

														{#                      <figcaption class="caption slide-title">Image caption here</figcaption>#}

													</figure>
												{% endif %}
											{% endfor %}

										{% endif %}

										{% for key, item in objHouseType['field_house_type_image_slideshow'] %}

											{% set objSlideshow = item.target_id|get_node %}
											{% if objSlideshow['field_slide_show_type'][0]['value'] == 'image' %}
												{% set urlImage = objSlideshow['field_slide_show_image'][0]['target_id']|media_full_url %}
												{% set altImage = 'Image alt' %}
												{% if urlImage is not null %}
													<figure class="gallery-item photoswipe-item glide__slide item{{ key }} lightbox-image"
															itemprop="associatedMedia"
															itemscope
															itemtype="http://schema.org/ImageObject">
														<a href="#" data-type="lightbox" itemprop="contentUrl" data-size="1000x667">
															<div class="lightbox">
																<div class="lightbox-wrap">
																	<div class="lightbox-content">
																		<img src="{{ urlImage }}" alt=" {{ altImage }}"
																			 loading="lazy">
																	</div>
																</div>
															</div>

															<div class="media landscape">
																<picture class="image">
																	<img src="{{ urlImage }}" itemprop="thumbnail" alt="{{ altImage }}"
																		 loading="lazy">
																</picture>
															</div>

														</a>
														<figcaption class="caption sr-only">{{ altImage }}</figcaption>
													</figure>
												{% endif %}
											{% else %}
												{% set urlShortVideo = objSlideshow['field_slide_show_video'][0]['target_id']|media_full_url %}
												{% set altShortVideo = objSlideshow['field_slide_show_video'][0]['alt'] %}
												<figure class="gallery-item photoswipe-item glide__slide item{{ key }} lightbox-video"
														itemprop="associatedMedia"
														itemscope
														itemtype="http://schema.org/ImageObject">

													<a href="#" data-type="lightbox" itemprop="contentUrl" data-size="1000x667">

														<div class="lightbox">

															<div class="lightbox-wrap">

																<div class="lightbox-content">

																	<div class="embed-holder">

																		<iframe src="{{ urlShortVideo }}" loading="lazy"></iframe>

																	</div>

																</div>

															</div>

														</div>

														<div class="media landscape thumb">

															<picture class="image">

																<img src="https://source.unsplash.com/ks8cKjLWYK8/1000x563" itemprop="thumbnail" alt="#"
																	 loading="lazy">

															</picture>

														</div>

													</a>

													<figcaption class="caption sr-only">Video</figcaption>

												</figure>

											{% endif %}

										{% endfor %}

									</div>

								</div>

								<div class="carousel-indicators">
									<div class="glide__bullets" data-glide-el="controls[nav]">
										{% if not node.field_gallery is empty  %}
										{% for i, item in node.field_gallery %}
											<button class="carousel-control glide__bullet" data-glide-dir="={{ i }}">
												<span class="sr-only">Indicator</span>
											</button>
										{% endfor %}
										{% endif %}
										{% for key, item in objHouseType['field_house_type_image_slideshow'] %}
											<button class="carousel-control glide__bullet" data-glide-dir="={{ key }}">
												<span class="sr-only">Indicator</span>
											</button>
										{% endfor %}

									</div>
								</div>

								<div class="glide__arrows" data-glide-el="controls">
									<button class="carousel-control glide__arrow glide__arrow--prev" data-glide-dir="<">

										<span class="arrow">

										  <span class="sr-only">Previous</span>

										</span>

									</button>

									<button class="carousel-control glide__arrow glide__arrow--next" data-glide-dir=">">

										<span class="arrow">

										  <span class="sr-only">Next</span>

										</span>

									</button>

								</div>

							</div>
						</div>
					</section>

				{% else %}
					{% if not urlImageThumbnail is empty and urlImageThumbnail != '/' %}
						<img src="{{ urlImageThumbnail  }}" />
					{% endif %}
					{#{% include 'themes/cameron/templates/includes/carousel-gallery.html.twig' %}#}
				{% endif %}
			</div>

			<div class="col-lg-6 plot-info">

				<div class="actions">
					{% if (objDevelopmentType['field_book_appointment_code'][0]['value']  is not empty) and (dev_status == 'available')%}
						{% set dev_link = objDevelopmentType['field_book_appointment_code'][0]['value'] %}
						<a class="button lead appointedd-booking-popover" ap-appid="{{ objDevelopmentType['field_book_appointment_code'][0]['value'] }}">Book your private viewing</a>
				    {% endif %}


					<div class="row extra">
						{% if objHouseType['field_house_type_e_brochure'][0]['uri'] is not empty %}
						<div class="col">
							<a class="button secondary  overlay-trigger  tracking-e-brouchure" href="#overlay"  aria-label="View overlay content">
								{% if objHouseType['field_house_type_e_brochure'][0]['title'] is not empty %}
								{{objHouseType['field_house_type_e_brochure'][0]['title']}}
								{% else %}View the e-brochure{% endif %}
							</a>
						</div>
						{% endif %}

						<div class="col">

							<a class="button tertiary"  href="#talk-to-us">{% if dev_status == 'available' %}Get in touch{% else %}Keep me up-to-date{% endif %}</a>

						</div>

					</div>

				</div>

				{% if dev_status == 'available' %}
				<div class="message background text-center">
					<span class="icon-text icon-direction">Visit {{objDevelopmentType['title'][0]['value']}}.</span> <a class="icon-external" href="https://www.google.com/maps/search/?api=1&query={{objDevelopmentType['field_development_latitude'][0]['value']}},{{objDevelopmentType['field_development_longitude'][0]['value']}}" target="_blank" rel="noopener">Get directions</a>
				</div>
				{% endif %}

				<header class="heading-underline heading">

					<div class="row align-items-center">

						<div class="col-auto">

							<h1 class="title h2">Property {{node.title.value | raw}} </h1>

						</div>

						<div class="col-auto">

							<div class="text">at <a href="{{ path('entity.node.canonical', {'node': objDevelopmentType['nid'][0]['value']}) }}">{{objDevelopmentType['title'][0]['value']}}</a></div>

						</div>

					</div>

				</header>

				<ul class="list-icon-text">
					{% if objHouseType['field_house_type_link_type'][0]['value'] is not empty %}<li class="icon-text icon-house">{{objHouseType['field_house_type_link_type'][0]['value']}}</li>{% endif %}
					{% if (objHouseType['field_development_town'][0]['value'] is not empty) or (objHouseType['field_development_post_code'][0]['value'] is not empty) %}<li class="icon-text icon-pin">{{objHouseType['field_development_town'][0]['value']}}{% if objHouseType['field_development_post_code'][0]['value'] is not empty %}, {{objHouseType['field_development_post_code'][0]['value']}}{% endif %}</li>{% endif %}
					{% if objHouseType['field_house_type_bedrooms'][0]['value'] is not empty %}<li class="icon-text icon-beds">{{objHouseType['field_house_type_bedrooms'][0]['value']}} bedrooms</li>{% endif %}
					{% if node.field_plots_price.value is not empty %}<li class="icon-text icon-price"> {{node.field_plots_price.value|raw|number_format}}</li>{% endif %}
				</ul>
				{% if node.field_plots_first_home_plan.value == 1 %}
					<div class="message background tag">
						<span class="icon-text icon-star">First Home Plan available</span>
					</div>
				{% endif %}
				{#<article class="editor">
					<p>{{ objHouseType['field_house_type_description'][0]['value'] | raw }}</p>
				</article>#}

			</div>

		</div>

	</div>

</section>
{% if not objHouseType['field_house_type_description'][0] is empty  %}
	<section class="block-detail-intro">

		<div class="container">

			<div class="row justify-content-lg-center">

				<div class="col-lg-10">

					<header class="heading-underline heading">

						<h3 class="title">Description</h3>

					</header>

					<div class="reveal">

						<article class="editor">

							{{ objHouseType['field_house_type_description'][0]['value'] | raw }}

						</article>

					</div>

					<a class="button secondary reveal-toggle" href="#">Read more</a>

				</div>

			</div>

		</div>

	</section>
{% endif %}
{% if not objHouseType['field_virtual_tour_matterport'][0] is empty  %}
	<section class="block-simple fill">
		<div class="container">
			<div class="row justify-content-lg-center">
				<div class="col-lg-10">
					{% if not objHouseType['field_virtual_tour_heading'][0] is empty  %}
						<header class="heading-underline heading">
							<h3 class="title">{{ objHouseType['field_virtual_tour_heading'][0]['value'] | raw }}</h3>
						</header>
					{% endif %}
					<figure class="media embed">
						<iframe src="{{ objHouseType['field_virtual_tour_matterport'][0]['value'] | raw }}" loading="lazy" aria-label="Virtual Tour"  frameborder='0' allowfullscreen allow='vr'></iframe>
						{#{% if not objHouseType['field_house_type_virtual_tour'][0] is empty  %}#}
						{#{% set urlVirtualTour = objHouseType['field_house_type_virtual_tour'][0]['target_id']|media_full_url %}#}
						{#<video width="80%" controls autoplay>#}
						{#<source src="{{urlVirtualTour}}" type="video/mp4">#}
						{#Your browser does not support the video tag.#}
						{#</video>#}
						{#{% endif %}#}

					</figure>
				</div>
			</div>
		</div>

	</section>
{% endif %}
	{% for item in node.field_plots_paragraph %}
		{% if item.entity.bundle == 'plots_first_home_plan' %}
			{% if node.field_plots_first_home_plan.value == '1' %}
				{{ drupal_entity('paragraph', item.target_id) }}
			{% endif %}
		{% elseif item.entity.bundle == 'plots_image_and_video_carousel' %}
		{% elseif item.entity.bundle == 'floorplan_area_paragraph' %}
			<span id="floorplan"></span>
				{% if node.field_floor_plan_images is not empty %}
					{% set plot_img = node.field_floor_plan_images %}
					<section class="block-simple">
						<div class="container">
							<div class="row row-split gutters-extra">
								<div class="col-lg-6">
									<header class="heading-underline heading"><h3 class="title">Floorplan</h3> </header>
									<section class="block-carousel carousel-thumbs">
										<div class="gallery-set photoswipe-wrapper" itemscope itemtype="http://schema.org/ImageGallery">
											<div class="glide-single carousel-wrap">
												<div data-glide-el="track" class="glide__track">
													<div class="glide__slides">
														{% if plot_img is not empty %}
															{% set floor_imgs =  plot_img %}
														{% else %}
															{% set floor_imgs = objectHomeType['field_house_type_floorplan'] %}
														{% endif %}
														{% for key, item in floor_imgs %}
															{% set urlImage = item.target_id|media_full_url %}
															{% if urlImage is not null %}

																<figure class="gallery-item photoswipe-item glide__slide item{{ key }} lightbox-image"
																		itemprop="associatedMedia"
																		itemscope
																		itemtype="http://schema.org/ImageObject">

																	<a href="#" data-type="lightbox" itemprop="contentUrl" data-size="1000x667">
																		<div class="lightbox">
																			<div class="lightbox-wrap">
																				<div class="lightbox-content">
																					<img src="{{ urlImage }}" alt="#" loading="lazy">
																				</div>
																			</div>
																		</div>

																		<div class="media deep">
																			<picture class="image">
																				<img src="{{ urlImage }}" itemprop="thumbnail" alt="#" loading="lazy">
																			</picture>
																		</div>
																	</a>

																	{#                      <figcaption class="caption slide-title">Image caption here</figcaption>#}

																</figure>
															{% endif %}
														{% endfor %}
													</div>
												</div>

												<div class="carousel-indicators thumbs">
													<div class="glide__bullets" data-glide-el="controls[nav]">
														{% for key, item in floor_imgs %}
															{% set urlImage = item.target_id|media_full_url %}
															{% if urlImage is not null %}
																<a href="#" class="carousel-control glide__bullet" data-glide-dir="={{ key }}">
																	<figure class="media square">
																		<picture class="image">
																			<img src="{{ urlImage }}" itemprop="thumbnail" alt="#" loading="lazy">
																		</picture>
																	</figure>

																</a>
															{% endif %}
														{% endfor %}

													</div>

												</div>

												<div class="glide__arrows" data-glide-el="controls">
													<button class="carousel-control glide__arrow glide__arrow--prev" data-glide-dir="<">
														<span class="arrow">
														  <span class="sr-only">Previous</span>
														</span>
													</button>
													<button class="carousel-control glide__arrow glide__arrow--next" data-glide-dir=">"><span class="arrow"><span class="sr-only">Next</span></span></button>
												</div>
											</div>
										</div>
									</section>
								</div>

								<div class="col-lg-6">
									<header class="heading-underline heading">
										<h3 class="title">What’s included?</h3></header>
									<article class="editor">{{ objHouseType['field_house_type_what_s_included'][0]['value'] | raw }}</article>
								</div>
							</div>
						</div>
					</section>
					{% else %}
						{{ drupal_entity('paragraph', item.target_id ) }}
					{% endif %}

		{% elseif item.entity.bundle == 'text_and_button_full_width' %}
			{% set dev_name = objDevelopmentType['title'][0]['value'] %}
			{% set dev_lng = objDevelopmentType['field_development_longitude'][0]['value'] %}
			{% set dev_lat = objDevelopmentType['field_development_latitude'][0]['value'] %}


			{% include 'themes/cameron/templates/includes/booking-block.html.twig' %}
		{% else %}
			{{ drupal_entity('paragraph', item.target_id ) }}
		{% endif %}
	{% endfor %}

{% include 'themes/cameron/templates/includes/brochure-form.html.twig' %}



<span class="cameron-details hidden" data-formtype="{% if dev_status == 'available' %}ask-question{% else %}newsletter-signup{% endif %}" data-status="{{ dev_status | raw }}" data-developmentid="{{ node.field_plots_development[0].target_id | raw }}" data-propertyid="{{ node.nid.value | raw }}" data-brochure="{{objHouseType['field_house_type_e_brochure'][0]['uri']}}"  data-dev-coins="{{objDevelopmentType['field_development_coinsid'][0]['value']}}"  data-plot-coins="{{node.field_plots_coinsid.value | raw}}" data-send="{{objDevelopmentType['field_development_emails'][0]['value']}}" ></span>
