
{{ breadcrumbs }}
<section class="embed-content">
	<div class="container-fluid">
		<article class="block-simple">
			<header class="sr-only">
				<h1>Book your viewing</h1>
			</header>

			{#<figure class="embed-page"><iframe aria-label="Book your viewing" loading="lazy" src="https://retailwidget.appointedd.com/widget/5ee34d38bf2611627f806d31" width="100%"></iframe>#}
			 <figure class="embed-page"><div id="apwidget"></div>

				<figcaption class="sr-only">Book your viewing</figcaption>
			</figure>
		</article>
	</div>
</section>

<script src="https://retailwidget.appointedd.com/widget/5ee34d38bf2611627f806d31/widget.js"></script>
<script>appointeddWidget.render('apwidget')</script>
<script>
	appointeddWidget.on('booking_created', function(data){
		dataLayer.push({'event': 'GeneralBookingSuccess'});
	});
</script>
