{% set urlImage = content.field_first_home_plan_image|render|striptags|trim  %}
{% if urlImage is not empty %}
	{% set urlImagePath = file_url(content.field_first_home_plan_image[0]['#media'].field_media_image.entity.uri.value)  %}
<section class="block-hero overlay block-base hero-basic">
	<div class="layer content middle inside">
		<div class="container">
			<div class="row justify-content-lg-center">
				<div class="col-lg-8">
					<header class="heading">
						<h1 class="title heading-main">{{node.field_first_home_plan_heading.value | raw}}</h1>
					</header>
				</div>
			</div>
		</div>
	</div>
	<div class="layer graphic">
		<figure class="media page-banner">
			<picture class="image">
				<img src="{{ urlImagePath }}" alt="{{node.field_first_home_plan_heading.value | raw}} Banner." loading="lazy">
			</picture>
		</figure>
	</div>
</section>
{% endif %}

{% if (node.field_first_home_plan_heading.value is not empty) and (node.field_first_home_plan_body.value is not empty) %}

  <section class="block-content">
    <div class="container">
      <div class="row justify-content-lg-center">
        <div class="col-lg-8">
          <article class="editor">
            {% if urlImage is empty %}<h1 class="title heading-main">{{node.field_first_home_plan_heading.value | raw}}</h1>{% endif %}
            {{ node.field_first_home_plan_body.value | raw}}
            {% if content.field_first_home_plan_link is not empty %}
              <a class="button" href="{{ content.field_first_home_plan_link.0['#url'] }}">{{ content.field_first_home_plan_link.0['#title'] }}</a>
            {% endif %}
          </article>
        </div>
      </div>
    </div>
  </section>

{% endif %}

{{ content.field_extra_content  }}
