{% set urlImageThumbnail = ''  %}
{%
	set objHouseType = node.field_plots_house_type[0].target_id | raw | get_node
%}
{% if not objHouseType['field_house_type_thumbnail'][0] is empty  %}

    {% set urlImageThumbnail = objHouseType['field_house_type_thumbnail'][0]['target_id']|media_full_url %}
{% endif %}

<section class="block-detail-intro">

	<div class="container">

		<div class="row row-split gutters-extra">

			<div class="col-lg-7">
				{% if not urlImageThumbnail is empty and urlImageThumbnail != '/' %}
					<img src="{{ urlImageThumbnail }}" />
				{% endif %}
				{#{% include 'themes/cameron/templates/includes/carousel-gallery.html.twig' %}#}

			</div>

			<div class="col-lg-5">

				<div class="actions">

					<a class="button lead appointedd-booking-popover" ap-appid="5ecfcba7223d56365503cdbd">Book your private viewing</a>


					<div class="row extra">

						<div class="col">

							<a class="button secondary  tracking-e-brouchure" href="{{objHouseType['field_house_type_e_brochure'][0]['uri']}}" target="_blank" rel="noopener noreferrer">View the e-brochure {{objHouseType['field_house_type_e_brochure'][0]['title']}}</a>

						</div>

						<div class="col">

							<a class="button tertiary" href="#">Get in touch</a>

						</div>

					</div>

				</div>

				<div class="message background text-center">

					<span class="icon-text icon-direction">Visit {{objHouseType['title'][0]['value']}}.</span> <a class="icon-external" href="#" target="_blank" rel="noopener">Get directions</a>

				</div>

				<header class="heading-underline heading">

					<div class="row align-items-center">

						<div class="col-auto">

							<h1 class="title h2">Home {{node.title.value | raw}} </h1>

						</div>

						<div class="col-auto">

							<div class="text">at <a href="#">{{objHouseType['title'][0]['value']}}</a></div>

						</div>

					</div>

				</header>

				<ul class="list-icon-text">
					<li class="icon-text icon-house">{{objHouseType['field_house_type_link_type'][0]['value']}}</li>

					<li class="icon-text icon-beds">{{objHouseType['field_house_type_bedrooms'][0]['value']}} bedrooms</li>
					<li class="icon-text icon-price">&pound;{{node.field_plots_price.value | raw}}</li>
				</ul>

				<div class="message background tag">
					<span class="icon-text icon-star">First Home Plan available</span>
				</div>

				{#<article class="editor">
					<p>{{ objHouseType['field_house_type_description'][0]['value'] | raw }}</p>
				</article>#}

			</div>

		</div>

	</div>

</section>
{% if node.field_description.value is not empty %}
<section class="block-detail-intro">

	<div class="container">

		<div class="row justify-content-lg-center">

			<div class="col-lg-10">

				<header class="heading-underline heading">

					<h3 class="title">Description</h3>

				</header>

				<div class="reveal">

					<article class="editor">

						{{ node.field_description.value | raw }}

					</article>

				</div>

				<a class="button secondary reveal-toggle" href="#">Read more</a>

			</div>

		</div>

	</div>

</section>
{% endif %}



