{% set dev_status = node.field_plots_status.value | raw %}
<section class="block-intro">

  <figure class="media banner">
    <picture class="image">
      {{ drupal_entity('node', node.field_development_banner_area.entity.id) }}
    </picture>
  </figure>

  <div class="intro">
    <div class="container">
      <div class="inner">

        <header class="heading">
          <h1 class="text-lg-center">{{ node.title.value | raw }}</h1>
        </header>

        <ul class="features justify-content-lg-center">
          <li
            class="item icon-text icon-pin">{{ node.field_development_town.value | raw }} {{ node.field_development_post_code.value | raw }}</li>
          {% if (node.field_development_bedrooms_range.from is not empty) or (node.field_development_bedrooms_range.to is not empty)  %}
          <li class="item icon-text icon-beds">
            {% if node.field_development_bedrooms_range.from == node.field_development_bedrooms_range.to   %}
              {{ node.field_development_bedrooms_range.from }}
            {% else %}
            {{ node.field_development_bedrooms_range.from }} - {{ node.field_development_bedrooms_range.to }}
            {% endif %}
            bedrooms
          </li>
          {% endif %}
          {% if (node.field_development_price_range.from is not empty) or (node.field_development_price_range.to is not empty)  %}
          <li class="item icon-text icon-price">
            {% if node.field_development_price_range.from == node.field_development_price_range.to   %}
              {{ node.field_development_price_range.from|number_format }}
            {% else %}
            {{ node.field_development_price_range.from|number_format }} - {{ node.field_development_price_range.to|number_format }}
            {% endif %}
          </li>
          {% endif %}
        </ul>

        <ul class="actions justify-content-lg-center inline-group">
          {% if (node.field_book_appointment_code.value is not empty)  and ( dev_status == 'available') %}
            <li class="item">
                <a class="button appointedd-booking-popover" ap-appid="{{ node.field_book_appointment_code.value }}">Book your private viewing</a>
            </li>
          {% endif %}
          {% if node.field_development_e_brochure.value is not empty %}
          <li class="item">
            <a class="button secondary overlay-trigger  tracking-e-brouchure" href="#overlay"  aria-label="View overlay content">View the e-brochure</a>
          </li>
          {% endif %}
          <li class="item">
            <a class="button tertiary" href="#talk-to-us">Get in touch</a>
          </li>

        </ul>

      </div>
      {% if dev_status == 'available' %}
      <div class="message background text-center">
        <span class="icon-text icon-direction">Visit {{ node.title.value | raw }}.</span>
           <a class="icon-external"  href="https://www.google.com/maps/search/?api=1&query={{ node.field_development_latitude.value }},{{ node.field_development_longitude.value }}"  target="_blank" rel="noopener">
               Get directions
           </a>
      </div>
      {% endif %}

    </div>
  </div>

  <nav class="nav-bar">
    <div class="container">
      <ul class="row no-gutters items">
        <li class="col-sm item active">
          <a href="{{ url('<current>') }}#development">The Development</a>
        </li>
        {% if node.field_plot_listing_page.0.url is not empty %}
        <li class="col-sm item">
          <a href="{{ node.field_plot_listing_page.0.url }}#homes">Explore our homes</a>
        </li>
        {% endif %}
        <li class="col-sm item">
          <a href="{{ url('<current>') }}/location#explore">Explore the Location</a>
        </li>
      </ul>
    </div>
  </nav>

</section>
<section class="block-crumb breadcrumb">
  <div class="container">
    <nav role="navigation" aria-labelledby="system-breadcrumb" class="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/our-developments">Our developments</a></li>
        <li>{{ node.title.value | raw }}</li>
      </ul>
    </nav>
  </div>
</section>
<section class="block-text" id="development">

  <div class="container">

    <div class="row justify-content-lg-center">

      <div class="col-lg-10">

        <article class="editor text-lg-center">

          <h2>{{ node.field_first_home_plan_heading.value }}</h2>

          <div class="text-lead">{{ node.field_development_quote.value | raw }}</div>
          {{ node.field_development_description.value | raw }}

        </article>

      </div>

    </div>

  </div>

</section>


<div class="body-paragraph blocks" id="explore-location">
  {% for item in node.field_development_paragraph %}
    {{ drupal_entity('paragraph', item.target_id) }}
  {% endfor %}
</div>
<span class="cameron-details hidden" data-send="{{ node.field_development_emails.value | raw }}" data-dev-coins="{{ node.field_development_coinsid.value | raw  }}"  data-developmentid="{{ node.nid.value | raw }}" data-brochure="{{ node.field_development_e_brochure.value }}" data-status="{{ dev_status }}"  data-formtype="{% if dev_status == 'available' %}ask-question{% else %}newsletter-signup{% endif %}" ></span>
{% include 'themes/cameron/templates/includes/brochure-form.html.twig' %}