{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
<div class="item-developments"  style='float:left;width:100%;margin-bottom: 50px;'>
	<div class="item-slide-show" style="float:left;width:35%">
		{% set objSlideshows = fields.field_development_slideshow.content|render|striptags|trim %}
		{% set slideshows = objSlideshows|get_arr_node %}
		{% for slideshow in slideshows %}
            {% if slideshow['field_slide_show_type'][0]['value'] == 'image' %}
               {% set urlImage = slideshow['field_slide_show_image'][0]['target_id']|media_full_url %}
               {% if urlImage is not null %}
                  <img src="{{ urlImage }}" /> <br/>
               {% endif %}
            {% endif %}            
          {% endfor %}
	</div>
	<div class="item-developments-body" data-lat="{{fields.field_development_latitude.content|render|striptags|trim}}" data-long="{{fields.field_development_longitude.content|render|striptags|trim}}" style="float:left;width:65%">
		<h1 class="item-developments-title">{{fields.title.content|render|striptags|trim}}</h1>
		<p>
			{{fields.field_development_phone.content|render|striptags|trim}}
			<button style="outline: 0;cursor:pointer;border: 0;padding: 10px 10px;font-size: 20px;border-radius: 5px;">BOOK YOUR VIEWING
              </button>
		</p>
		<p>
			Location:{{fields.field_development_town.content|render|striptags|trim}} |
			Bedrooms Range:{{fields.field_development_bedrooms_range.content}} beds | 
			Price Range:{{fields.field_development_price_range.content}}
		</p>
		<p>
		{{fields.field_development_description.content | raw}}
		</p>
		<p>
			<a href="https://www.google.com/maps/?q={{fields.field_development_latitude.content|render|striptags|trim}},{{fields.field_development_longitude.content|render|striptags|trim}}">View the sitemap</a>
		</p>
		<p>
			<a style="outline: 0;cursor:pointer;border: 0;padding: 10px 10px;font-size: 20px;border-radius: 5px;" href="/node/{{fields.nid.content|render|striptags|trim}}">View {{fields.title.content|render|striptags|trim}}
            </a>
            <a style="outline: 0;cursor:pointer;border: 0;padding: 10px 10px;font-size: 20px;border-radius: 5px;">View Homes
            </a>
        </p>
	</div>
</div>
