{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}


<div class="listing-item item">

  <div class="row row-split">

    <div class="col-lg-5">
      <section class="block-carousel">

        {% if slideshows is not empty %}
          <div class="glide-single carousel-wrap">

            <div data-glide-el="track" class="glide__track">
              <div class="glide__slides">
                {% for key, image in slideshows %}
                    {% set urlImage = image['url'] %}
                    {% set altImage = image['alt'] %}
                    {% if urlImage is not null %}
                      <div class="glide__slide item{{ key }}">

                        <a class="image-link" href="{{ development_alias }}">
                          <figure class="media deep">
                            <picture class="image">
                              <img src="{{ urlImage }}" alt="{{ altImage }}." loading="lazy">
                            </picture>
                          </figure>
                        </a>

                      </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            {% if slideshows|length > 1 %}
              <div class="carousel-indicators">
                <div class="glide__bullets" data-glide-el="controls[nav]">
                  {% for key, slideshow in slideshows %}
                    <button class="carousel-control glide__bullet" data-glide-dir="={{ key }}">
                      <span class="sr-only">Indicator</span>
                    </button>
                  {% endfor %}
                </div>
              </div>
              <div class="glide__arrows" data-glide-el="controls">
                <button class="carousel-control glide__arrow glide__arrow--prev" data-glide-dir="<">
                  <span class="arrow">
                    <span class="sr-only">Previous</span>
                  </span>
                </button>
                <button class="carousel-control glide__arrow glide__arrow--next" data-glide-dir=">">
                  <span class="arrow">
                    <span class="sr-only">Next</span>
                  </span>
                </button>
              </div>
            {% endif %}

          </div>

        {% else %}

          <a class="image-link" href="{{ development_alias }}">
            <figure class="media deep">
              <picture class="image">
                <img src="/themes/cameron/build/images/no-image-development.png" itemprop="thumbnail" alt="Placeholder image." loading="lazy">
              </picture>
            </figure>
          </a>

        {% endif %}

      </section>

    </div>

    <div class="col-lg-7" data-lat="{{ development.field_development_latitude.value }}"
         data-long="{{ development.field_development_longitude.value }}">

      <div class="listing-preview listing-list">

        <header class="heading">
          <h3><a class="heading-link" href="{{ development_alias }}">{{ development.label }}</a></h3>
        </header>

        <ul class="contact">
          {% if development.field_development_phone.value %}
            <li class="item phone icon-text icon-phone smaller">
              <a href="tel:{{ development.field_development_phone.value }}">{{ development.field_development_phone.value }}</a>
            </li>
          {% endif %}
          {% if (development.field_book_appointment_code.value is not empty) and (development.field_plots_status.value == 'available' ) %}
          <li class="item booking">
            <a class="button tertiary appointedd-booking-popover" ap-appid="{{ development.field_book_appointment_code.value }}">Book your private viewing </a>
          </li>
          {% endif %}
        </ul>

        <ul class="features">
          {% if development.field_development_town.value %}
            <li class="item icon-text icon-pin">{{ development.field_development_town.value }}</li>
          {% endif %}

          {% if development.field_development_bedrooms_range.0.from and development.field_development_bedrooms_range.0.to %}
            {% if development.field_development_bedrooms_range.0.from == development.field_development_bedrooms_range.0.to %}
              {% set range = development.field_development_bedrooms_range.0.from %}
            {% else %}
              {% set range = development.field_development_bedrooms_range.0.from ~ " - " ~ development.field_development_bedrooms_range.0.to %}
            {% endif %}
            <li class="item icon-text icon-beds">{{ range }} bedrooms</li>
          {% endif %}

          {% if development.field_development_price_range.0.from != "0" and development.field_development_price_range.0.to != "0" %}
            {% if development.field_development_price_range.0.from == development.field_development_price_range.0.to %}
              {% set range = development.field_development_price_range.0.from %}
            {% else %}
              {% set range = development.field_development_price_range.0.from|number_format(0, '.', ',') ~ " - " ~ development.field_development_price_range.0.to|number_format(0, '.', ',') %}
            {% endif %}
            {% if range is not empty %}
            <li class="item icon-text icon-price">
              {{ range }}
            </li>
            {% endif %}
          {% endif %}
        </ul>

        <div class="summary editor">
          <p>{{ development.field_summary.value | raw }}</p>
        </div>
        

        <ul class="inline-group actions">
          <li class="item">
            <a class="button" href="{{ development_alias }}">View {{ development.label }}</a>
          </li>

          {% if development.field_plot_listing_page.0.url %}
            <li class="item">
              <a class="button secondary" href="{{ development.field_plot_listing_page.0.url }}">View homes</a>
            </li>
          {% endif %}
          {% if development.field_site_plan.target_id %}
            <li class="item">
              <a class="button tertiary" href="{{ development_alias }}#sitemap">View
                the siteplan</a>
            </li>
          {% endif %}
        </ul>
      </div>

    </div>
  </div>
</div>
