{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{% set classes = [ dom_id ? 'js-view-dom-id-' ~ dom_id ] %}

{{ breadcrumbs }}

<section class="siteplan">

  <header class="heading heading-underline">

    <h3 class="title">Site Plan</h3>

  </header>

  {# <aside class="block-filter"> #}
  {# <form class="form"> #}

  {# <div class="row row-split-large gutters-tight items"> #}

  {# <div class="col-xl-3 item"> #}

  {# <div class="form-item"> #}

  {# <label for="filter-bedrooms"><span>Bedrooms</span></label> #}

  {# <div class="row no-gutters inside"> #}

  {# <div class="col"> #}

  {# <select id="filter-bedrooms"> #}
  {# <option value="1">No min</option> #}
  {# <option value="2">Value two</option> #}
  {# <option value="3">Value three</option> #}
  {# </select> #}

  {# </div> #}

  {# <div class="col"> #}

  {# <select id="filter-bedrooms-max"> #}
  {# <option value="1">No max</option> #}
  {# <option value="2">Value two</option> #}
  {# <option value="3">Value three</option> #}
  {# </select> #}

  {# </div> #}

  {# </div> #}

  {# </div> #}

  {# </div> #}

  {# <div class="col-xl-3 item"> #}

  {# <div class="form-item"> #}

  {# <label for="filter-property"><span>Property type</span></label> #}

  {# <select id="filter-property"> #}
  {# <option value="1">All</option> #}
  {# <option value="2">Value two</option> #}
  {# <option value="3">Value three</option> #}
  {# </select> #}

  {# </div> #}

  {# </div> #}

  {# </div> #}

  {# </form> #}
  {# </aside> #}

  {{ exposed }}

  <div class="siteplan-holder">

    <div{{ attributes.addClass(classes) }}>

      {{ attachment_before }}

      <div class="siteplan-img">{{ neighbourhood_siteplan }}</div>

      <div class="siteplan-inner">

        <div class="siteplan-legend">

          <ul class="list">

            <li class="item status-label available">Available</li>

            <li class="item status-label not-released">Not Released</li>

            <li class="item status-label reserved">Reserved</li>

            <li class="item status-label sold">Sold</li>

          </ul>

        </div>

        <div id="mapContainer" class="siteplan-wrap">

          <div id='mapid' aria-label="Map with Plots" class="siteplan-drawing"></div>

        </div>

      </div>

    </div>

  </div>

  {# <div class="siteplan-types">

    <div class="inner">

      <p class="title">Legend</p>

      <ul class="list">

        <li class="item">
          <span class="legend-icon" style="background-color: #00857F;"></span>
          <span class="legend-text">Acorn</span>
        </li>

        <li class="item">
          <span class="legend-icon" style="background-color: #E0A844;"></span>
          <span class="legend-text">Larkspur</span>
        </li>

      </ul>

    </div>

  </div> #}

</section>
