{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}

{% set dev_status = fields.field_plots_status.content|render|striptags|trim %}
<section class="block-intro">

  <figure class="media banner">
    <picture class="image">
      {{ fields.field_development_banner_area.content }}
    </picture>
  </figure>

  <div class="intro">
    <div class="container">
      <div class="inner">

        <header class="heading">
          <h1 class="text-lg-center">{{ fields.title.content|render|striptags|trim }}</h1>
        </header>

        <ul class="features justify-content-lg-center">
          {% if fields.field_development_town.content is not empty %}<li
            class="item icon-text icon-pin">{{ fields.field_development_town.content|render|striptags|trim }} {{ fields.field_development_post_code.content|render|striptags|trim }}</li>{% endif %}
          {% if fields.field_development_bedrooms_range.content is not empty %}
            <li class="item icon-text icon-beds">{{ fields.field_development_bedrooms_range.content }} bedrooms</li>
          {% endif %}
          {% if fields.field_development_price_range.content|render|striptags|trim is not empty %}
            <li class="item icon-text icon-price">{{ fields.field_development_price_range.content }}</li>
          {% endif %}
        </ul>

        <ul class="actions justify-content-lg-center inline-group">
          {% if (fields.field_book_appointment_code.content is not empty) and (dev_status == 'available') %}
          <li class="item">
            <a class="button appointedd-booking-popover" ap-appid="{{ fields.field_book_appointment_code.content|render|striptags|trim  }}">Book your private viewing</a>
          </li>
          {% endif %}
          {% if fields.field_development_e_brochure.content is not empty %}
          <li class="item">
            <a class="button secondary overlay-trigger  tracking-e-brouchure" href="#overlay"  aria-label="View overlay content">View the e-brochure</a>
          </li>
          {% endif %}
          <li class="item">
            <a class="button tertiary" href="#talk-to-us">Get in touch</a>
          </li>
        </ul>

      </div>
      {% if dev_status == 'available' %}
          <div class="message background text-center">
            <span class="icon-text icon-direction">Visit {{ fields.title.content|render|striptags|trim }}.</span>
            <a class="icon-external"
               href="https://www.google.com/maps/search/?api=1&query={{ fields.field_development_latitude.content|render|striptags|trim }},{{ fields.field_development_longitude.content|render|striptags|trim }}"
               target="_blank" rel="noopener">Get directions</a>
          </div>
      {% endif %}

    </div>
  </div>


  <nav class="nav-bar">
    <div class="container">
      <ul class="row no-gutters items">
        <li class="col-sm item ">
          <a href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim  }) }}#development">The
            Development</a>
        </li>
        {% if fields.field_plot_listing_page.content is not empty %}
            <li class="col-sm item">
            <a href="{{ fields.field_plot_listing_page.content|render|striptags|trim }}#homes">Explore our homes</a>
            </li>
        {% endif %}
        <li class="col-sm item active">
          <a href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim  }) }}/location#explore">Explore
            the Location</a>
        </li>
      </ul>
    </div>
  </nav>

</section>
<section class="block-crumb breadcrumb">
  <div class="container">
    <nav role="navigation" aria-labelledby="system-breadcrumb" class="breadcrumbs">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/our-developments">Our developments</a></li>
        <li>{{ fields.title.content|render|striptags|trim }}</li>
      </ul>
    </nav>
  </div>
</section>
<div class="blocks" id="explore">
  {{ drupal_field('field_explore_the_location', 'node', fields.nid.content|render|striptags|trim) }}
</div>

<span class="cameron-details hidden" data-status="{{ dev_status }}"  data-formtype="{% if dev_status == 'available' %}ask-question{% else %}newsletter-signup{% endif %}"  data-developmentid="{{ fields.nid.content|render|striptags|trim }}" data-brochure="{{ fields.field_development_e_brochure.content }}" data-send="{{  fields.field_development_emails.content|render|striptags|trim }}"></span>
{% include 'themes/cameron/templates/includes/brochure-form.html.twig' %}
