{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}


<div class="listing-item item">

  <div class="row row-split">

    <div class="col-lg-5">

      {% set objSlideshows = fields.field_development_slideshow.content|render|striptags|trim %}
      {% set slideshows = objSlideshows|get_arr_node %}
      <section class="block-carousel">
        {% if slideshows is not empty %}
          <div class="glide-single carousel-wrap">
            <div data-glide-el="track" class="glide__track">
              <div class="glide__slides">
                {% for key, slideshow in slideshows %}
                   {% if slideshow['field_slide_show_type'][0]['value'] == 'image' %}
                  {% set urlImage = slideshow['field_slide_show_image'][0]['target_id']|media_full_url %}
                  {% set altImage = slideshow['field_slide_show_image'][0]['alt'] %}
                  {% if urlImage is not null %}
                    <div class="glide__slide item{{ key }}">

                      <a class="image-link"
                         href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim  }) }}">

                        <figure class="media deep">
                          <picture class="image">
                            <img src="{{ urlImage }}" alt="{{ altImage }}." loading="lazy">
                          </picture>
                        </figure>

                      </a>

                    </div>
                  {% endif %}
                   {% endif %}
                {% endfor %}
              </div>
            </div>
          {% if slideshows|length > 1 %}
            <div class="carousel-indicators">
              <div class="glide__bullets" data-glide-el="controls[nav]">
                {% for key, slideshow in slideshows %}
                  <button class="carousel-control glide__bullet" data-glide-dir="={{ key }}">
                    <span class="sr-only">Indicator</span>
                  </button>
                {% endfor %}
              </div>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button class="carousel-control glide__arrow glide__arrow--prev" data-glide-dir="<">
                        <span class="arrow">
                          <span class="sr-only">Previous</span>
                        </span>

              </button>
              <button class="carousel-control glide__arrow glide__arrow--next" data-glide-dir=">">
                            <span class="arrow">
                              <span class="sr-only">Next</span>
                            </span>
              </button>
            </div>

            {% endif %}
          </div>

        {% else %}

          <a class="image-link"
             href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim  }) }}">

            <figure class="media deep">
              <picture class="image">
                <img src="/themes/cameron/build/images/no-image-development.png" itemprop="thumbnail"
                     alt="Placeholder image." loading="lazy">
              </picture>
            </figure>

          </a>

        {% endif %}

      </section>

    </div>

    <div class="col-lg-7" data-lat="{{ fields.field_development_latitude.content|render|striptags|trim }}"
         data-long="{{ fields.field_development_longitude.content|render|striptags|trim }}">

      <div class="listing-preview listing-list">

        <header class="heading">
          <h3><a class="heading-link"
                 href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim  }) }}">{{ fields.title.content|render|striptags|trim }}</a>
          </h3>
        </header>

        <ul class="contact">
          {% if fields.field_development_phone.content|render|striptags|trim is not empty %}
          <li class="item phone icon-text icon-phone smaller">
            <a
              href="tel:{{ fields.field_development_phone.content|render|striptags|trim }}">{{ fields.field_development_phone.content|render|striptags|trim }}</a>
          </li>
          {% endif %}
            {% if fields.field_book_appointment_code.content|render|striptags|trim is not empty %}
          <li class="item booking">
               <a class="button tertiary  appointedd-booking-popover" ap-appid="{{ fields.field_book_appointment_code.content|render|striptags|trim }}">Book your private viewing</a>
          </li>
            {% endif %}
        </ul>

        <ul class="features">
          {% if fields.field_development_town.content|render|striptags|trim is not empty %}
            <li class="item icon-text icon-pin">{{ fields.field_development_town.content|render|striptags|trim }}</li>
          {% endif %}
          {% if fields.field_development_bedrooms_range.content|render|striptags|trim is not empty %}
            <li class="item icon-text icon-beds">{{ fields.field_development_bedrooms_range.content }}
              bedrooms
            </li>
          {% endif %}

          {% if fields.field_development_price_range.content|render|striptags|trim != '0 - 0' %}
            <li class="item icon-text icon-price">
              {{ fields.field_development_price_range.content }}
            </li>
          {% endif %}
        </ul>

        <div class="summary editor">
          {{ fields.field_summary.content | raw }}
        </div>

        <ul class="inline-group actions">
          <li class="item">
            <a class="button"
               href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim  }) }}">View {{ fields.title.content|render|striptags|trim }}</a>
          </li>
          {% if fields.field_plot_listing_page.content|render|striptags|trim is not empty %}
            <li class="item">
              <a class="button secondary" href="{{ fields.field_plot_listing_page.content|render|striptags|trim }}">View
                homes</a>
            </li>
          {% endif %}
          {% if fields.field_site_plan.content|render|striptags|trim is not empty %}
          <li class="item">
              <a class="button tertiary" href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim  }) }}#sitemap">View
                the siteplan</a>
            </li>
          {% endif %}
        </ul>

      </div>

    </div>
  </div>
</div>
