{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}


<div class="listing-item item">

  <div class="row row-split">

    <div class="col-lg-5">

      {% set objSlideshows = fields.field_house_type_image_slideshow.content|render|striptags|trim %}
      {% set slideshows = objSlideshows|get_arr_node %}
      <section class="block-carousel">
        <div class="glide-single carousel-wrap">
          {% if slideshows is not empty %}
            <div data-glide-el="track" class="glide__track">
              <div class="glide__slides">
                {% for key, slideshow in slideshows %}
                  {% if slideshow['field_slide_show_type'][0]['value'] == 'image' %}
                    {% set urlImage = slideshow['field_slide_show_image'][0]['target_id']|media_full_url %}
                    {% set altImage = slideshow['field_slide_show_image'][0]['alt'] %}
                    {% if urlImage is not null %}
                      <div class="glide__slide item{{ key }}">

                        <a class="image-link"
                           href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim }) }}">

                          <figure class="media deep">
                            <picture class="image">
                              <img src="{{ urlImage }}" alt="{{ altImage }}." loading="lazy">
                            </picture>
                          </figure>

                        </a>

                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </div>

            <div class="carousel-indicators">
              <div class="glide__bullets" data-glide-el="controls[nav]">
                {% for key, slideshow in slideshows %}
                  {% if slideshow['field_slide_show_type'][0]['value'] == 'image' %}
                    <button class="carousel-control glide__bullet" data-glide-dir="={{ key }}">
                      <span class="sr-only">Indicator</span>
                    </button>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
              <button class="carousel-control glide__arrow glide__arrow--prev" data-glide-dir="<">
                        <span class="arrow">
                          <span class="sr-only">Previous</span>
                        </span>

              </button>
              <button class="carousel-control glide__arrow glide__arrow--next" data-glide-dir=">">
                            <span class="arrow">
                              <span class="sr-only">Next</span>
                            </span>
              </button>
            </div>
          {% endif %}
        </div>

      </section>

    </div>

    <div class="col-lg-7">

      <div class="listing-preview listing-list">

        <header class="heading">
          <h3><a class="heading-link"
                 href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim }) }}">{{ fields.title.content|render|striptags|trim }} {#- {{fields.title_1.content|render|striptags|trim}} #}</a>
          </h3>
        </header>
        {#
        <ul class="contact">
          <li class="item phone icon-text icon-phone smaller">
            <a href="tel:{{fields.field_development_phone.content|render|striptags|trim}}">
              {{fields.field_development_phone.content|render|striptags|trim}}
            </a>
          </li>
          <li class="item booking">
            <a class="button tertiary  appointedd-booking-popover" ap-appid="5ecfcba7223d56365503cdbd">Book your viewing</a>
          </li>
        </ul> #}

        <ul class="features">
          {% if fields.field_house_type_link_type.content|render|striptags|trim is not empty %}
            <li
              class="item icon-text icon-pin">{{ fields.field_house_type_link_type.content|render|striptags|trim }}</li>
          {% endif %}
          {% if fields.field_house_type_bedrooms.content|render|striptags|trim is not empty %}
            <li class="item icon-text icon-beds">{{ fields.field_house_type_bedrooms.content }} bedrooms</li>
          {% endif %}
          {% if fields.field_plots_price.content|render|striptags|trim is not empty %}
            <li class="item icon-text icon-price">{{ fields.field_plots_price.content }}</li>
          {% endif %}
          {% if fields.field_plots_status.content|render|striptags|trim is not empty %}
            <li class="item icon-text icon-status">{{ fields.field_plots_status.content }}</li>
          {% endif %}
        </ul>

        <div class="summary editor">
          <p>{{ fields.field_house_type_description.content }}</p>
        </div>
        {% if fields.field_plots_first_home_plan.content|render|striptags|trim == 'Yes' %}
          <div class="message background tag">
            <span class="icon-text icon-star">First Home Plan available</span>
          </div>
        {% endif %}


        <ul class="inline-group actions">
          <li class="item">
            <a class="button"
               href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim }) }}">View
              PROPERTY</a>
          </li>
          {% if fields.field_plot_listing_page.content|render|striptags|trim is not empty %}
            <li class="item">
              <a class="button secondary"
                 href="{{ path('entity.node.canonical', {'node': fields.nid.content|render|striptags|trim }) }}">VIRTUAL
                TOUR</a>
            </li>
          {% endif %}
        </ul>
      </div>

    </div>
  </div>
</div>
