{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
<div class="item-developments"  style='float:left;width:50%;margin-bottom: 50px;'>
	<div class="image-banner" style="width:100%">
		{% set banner = fields.field_development_banner_area.content|render|striptags|trim|get_node %}
       	<div>
       	{% if banner['field_banner_area_short_video'][0] is not empty %}
       		{% set urlShortVideo = banner['field_banner_area_short_video'][0]["target_id"]|media_full_url  %}
       	{% endif %}
		{% set urlImage = banner['field_banner_area_image'][0]["target_id"]|media_full_url  %}
		{% if not urlShortVideo is empty and urlShortVideo != '/' %}
		    <video width="100%" controls autoplay>
			  <source src="{{urlShortVideo}}" type="video/mp4">
			  Your browser does not support the video tag.
			</video>
		{% elseif urlImage  %}
		    <img style="width:100%;height:300px" src="{{ urlImage }}" />
		{% endif %}
		</div>
	</div>
	<div class="body-development">
		<h1>{{fields.field_development_description_1.content | raw}}</h1>
		<p>
			Location:{{fields.field_development_town.content|render|striptags|trim}} </br>
			Bedrooms Range:{{fields.field_development_bedrooms_range.content}} beds </br> 
			Price Range:{{fields.field_development_price_range.content}}
		</p>
		<p>{{fields.field_development_description.content | raw}}</p>
	</div>
	<div>

		<button><a href='{{fields.field_development_description_2.content|render|striptags|trim}}'>View {{fields.field_development_description_1.content | raw}}</a></button>
		<button><a href='{{fields.field_development_description_2.content|render|striptags|trim}}/plot-list'>View Homes</a></button>
	</div>
</div>
