{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{% set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
<div{{ attributes.addClass(classes) }}>

  <div class="blocks">

  <section class="block-crumb breadcrumb">
    <div class="container">
      <ul>
        <li><a href="/">Home</a></li>
        <li>Our developments</li>
      </ul>
    </div>
  </section>

    

  <section class="block-filter development-filter-search">
    <div class="container">
      <header class="heading-master">
        {% if header %}{{ header }}{% else %} <h1 class="h2">A quality of life to match the quality of your new
          home</h1>{% endif %}
      </header>
      {{ search_form }}
    </div>
  </section>
  <section class="block-listing">
    <div class="container">
      {% if development_count >= 0 %}
        <div class="results-info text-lg-center">
          Showing {{ development_count }} result{% if development_count != 1 %}s{% endif %}
        </div>
      {% endif %}
      {% if attachment_before %}
        <div class="attachment attachment-before">
          {{ attachment_before }}
        </div>
      {% endif %}
      <div class="tabs">
        <div class="tab-nav">
          <ul class="tab-links">
            <li class="tab-title view-list active">
              <a href="#tab-list">
                <span>List view</span>
              </a>
            </li>

            <li class="tab-title view-map">
              <a href="#tab-map">
                <span>Map view</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">

          <div id="Home" class="tabcontent">
            {% if rows %}
            {{ rows }}
            {% else %}
              <div class="view-empty">
                No results found.
              </div>
            {% endif %}
          </div>

          {% if pager %}
            {{ pager }}
          {% endif %}
          {% if attachment_after %}
            <div class="attachment attachment-after">
              {{ attachment_after }}
            </div>
          {% endif %}
          {% if more %}
            {{ more }}
          {% endif %}
          {# {% if footer %} #}
          {# <div class="view-footer"> #}
          {# {{ footer }} #}
          {# </div> #}
          {# {% endif %} #}
          {% if feed_icons %}
            <div class="feed-icons">
              {{ feed_icons }}
            </div>
          {% endif %}

        </div>

      </div>

    </div>

  </section>

  </div>

</div>
