{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div id="tab-list" class="tab-container active">
<div class="view-content listing">

{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>

{% endfor %}
</div>
</div>


<div id="tab-map" class="tab-container preview-map">
  <section class="block-map">
    <div class="map-wrap">
      <div id="map" class="map-drawing" aria-label="Developments plotted on a map"></div>
    </div>


    <ul class="legend">
      <li class="blue">Available</li>
      <li class="brown">Coming soon</li>
    </ul>
  </section>


</div>

<script>
   var locations={{ map_block|raw  }};
</script>



{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>#}
{#<script src="https://maps.googleapis.com/maps/api/js?v=3.11&sensor=false&key=AIzaSyAa4itkp6DXl7GYazix2Wt3_8OWigtDhEo&language=en"#}
        {#type="text/javascript"></script>#}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa4itkp6DXl7GYazix2Wt3_8OWigtDhEo" type="text/javascript"></script>
<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>
