<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criterion</title>
    <style type="text/css">
        .ExternalClass * {
            line-height: 100% !important;
        }

        /* CLIENT-SPECIFIC STYLES  */
        #outlook a {
            padding: 0;
        }

        /* Force Hotmail to display emails at full width */
        .yshortcuts, a.yshortcuts, a.yshortcuts:hover, a.yshortcuts:active, a.yshortcuts:focus {
            background-color: transparent !important;
            border: none !important;
            color: inherit !important;
        }

        /* Prevent Yahoo! from styling links */
        /* RESET STYLES */
        body {
            margin: 0;
            padding: 0;
        }

        img {
            border: 0;
            height: auto;
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        table, td {
            border-collapse: collapse !important;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        #bodyTable, #bodyCell {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }

        #bodyCell {
            padding: 0px;
        }

        #templateContainer {
            width: 600px;
        }

        /*TEMPLATE STYLES */
        /* Page Styles */
        body, #bodyTable {
            background: #F1F1F1;
        }

        #bodyCell {
            border-top: 0;
        }

        #templateContainer {
            background: #ffffff;
        }

        h1 {
            color: #002D1B !important;
            display: block;
            font-family: ArialMT Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 30px;
            font-style: normal;
            line-height: 100%;
            letter-spacing: normal;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 10px;
            margin-left: 0;
        }

        h2 {
            color: #002D1B !important;
            display: block;
            font-family: ArialMT Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 28px;
            font-style: italic;
            line-height: 100%;
            letter-spacing: normal;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 10px;
            margin-left: 0;
        }

        h3 {
            color: #002D1B !important;
            display: block;
            font-family: ArialMT Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 16px;
            font-style: italic;
            line-height: 100%;
            letter-spacing: normal;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 10px;
            margin-left: 0;
            font-weight: normal;
        }

        h4 {
            color: #002D1B !important;
            display: block;
            font-family: ArialMT Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 14px;
            font-style: italic;
            font-weight: normal;
            line-height: 100%;
            letter-spacing: normal;
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 10px;
            margin-left: 0;
        }

        /*Header Styles  */
        #templatePreheader {
            border-bottom: 0;
        }

        p {
            color: #002D1B;
            font-family: ArialMT Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;
            margin-top: 0;
        }

        .article-content {
            color: #002D1B;
            font-family: ArialMT Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 0;
            font-style: normal;
        }

        .footerContent a:link, .footerContent a:visited, .footerContent a {
            color: #264658;
            font-weight: normal;
            text-decoration: none;
        }

        #templateHeader {
            background-color: #fff;
            border: none;
        }

        .headerContent {
            color: #002D1B;
            font-family: ArialMT Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 20px;
            font-weight: bold;
            line-height: 100%;
            padding-top: 0;
            padding-right: 10px;
            padding-bottom: 0;
            padding-left: 10px;
            text-align: left;
            vertical-align: middle;
            border: 0;
        }

        .headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */
        .headerContent a .yshortcuts /* Yahoo! Mail Override */
        {
            font-weight: normal;
            text-decoration: underline;
        }

        .bodyContent img#headerImage {
            height: auto;
            max-width: 184px;
            width: 184px;
            float: none;
            margin: 0 auto;
            display: block;
        }

        /* Body Styles*/
        #templateBody {
            background-color: #ffffff;
            border: none;
        }

        #bodyContentBlock {
            background-color: #ffffff;
            border-top: 0;
            font-size: 12px;
            color: #1a1a1a;
            font-family: Lora, Georgia, "Times New Roman", Times, serif;
        }

        .bodyContent {
            color: #002D1B;
            font-family: ArialMT Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 14px;
            line-height: 150%;
            background: #fff;
            padding-top: 0px;
            padding-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            text-align: left;
        }

        .bodyContent a:link, .bodyContent a:visited,
        .bodyContent p a:link, .bodyContent p a:visited,
        .bodyContent p a[href],
        a,
        a[href],
        a:link,
        .ii a[href],
        .ii p a[href],
        td[class$="bodyContent"] a[href],
        td[class$="bodyContent"] p a[href],
        td[class$="bodyContent"] a,
        td[class$="bodyContent"] p a,
        td[class$="bodyContent"] a:link,
        td[class$="bodyContent"] a:visited,
        td[class$="bodyContent"] p a:link,
        td[class$="bodyContent"] p a:visited,
            /* Yahoo! Mail Override */
        .bodyContent a .yshortcuts /* Yahoo! Mail Override */
        {
            color: #264658 !important;
            font-weight: normal;
            font-style: normal;
            text-decoration: underline;
        }

        .bodyContent a:hover,
        .bodyContent p a[href]:hover,
        .bodyContent p a:hover {
            text-decoration: none;
        }

        .bodyContent img {
            display: inline;
            height: auto;
            max-width: 560px;
            width: 100%;
        }

        .bodyContent img#bottom-logo {
            max-width: 200px
        }

        /* Footer Styles*/

        #footer-table h3 {
            color: #ffffff !important;
            font-family: ArialMT Regular, Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: bold;
            margin-bottom: 5px;
            text-transform: uppercase;
        }

        #footer-table p {
            color: #c9c9c9;
            font-size: 13px;
        }

        #footer-table a:link, #footer-table a:visited, /* Yahoo! Mail Override */
        #footer-tablet a .yshortcuts, #footer-tablet a span /* Yahoo! Mail Override */
        {
            font-weight: normal;
            text-decoration: none;
            color: #A48461;
        }

        #footer-table a:hover {
            text-decoration: underline;
        }

        p[class="details"] a:link, p[class="details"] a:visited, p[class="details"] a,
        p.details a[href],
        p.details a:link, p.details a:visited, p.details a {
            color: #dddddd !important;
            text-decoration: underline;
        }

        /*MOBILE STYLES */
        @media screen and (max-width: 480px) {
            /* CLIENT-SPECIFIC MOBILE STYLES */
            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
            }

            .geese-container-footer {
                height: 28px !important;
            }

            /* Prevent Webkit platforms from changing default text sizes */
            body {
                width: 100% !important;
                min-width: 100% !important;
            }

            /* Prevent iOS Mail from adding padding to the body */
            /* MOBILE RESET STYLES */
            td[id="bodyCell"] {
                padding: 10px !important;
            }

            /* MOBILE TEMPLATE STYLES */
            /* Page Styles*/
            table[id="templateContainer"] {
                max-width: 600px !important;
                width: 100% !important;
            }

            table[class="full-mobile"] {
                width: 100% !important;
            }

            td[class="mobile-none"] {
                width: 0 !important;
                padding: 0 !important;
                display: none !important;
            }

            img[class="full-mobile"] {
                width: 100% !important;
            }

            #dear {
                font-size: 14px !important;
                line-height: 100% !important;
            }

            h1 {
                font-size: 24px !important;
                line-height: 100% !important;
            }

            h2 {
                font-size: 20px !important;
                line-height: 100% !important;
            }

            h3 {
                font-size: 14px !important;
                line-height: 100% !important;
            }

            h4 {
                font-size: 16px !important;
                line-height: 100% !important;
            }

            /* Header Styles*/
            table[id="templatePreheader"] {
                /*display: none !important;*/
            }

            /* Hide the template preheader */
            img[id="headerImage"] {
                height: auto !important;
                max-width: 100% !important;
                width: 100% !important;
            }

            img[id="bottom-logo"] {
                height: auto !important;
                max-width: 140px !important;
                width: 140px !important;
            }

            td[class="headerContent"] {
                font-size: 20px !important;
                line-height: 125% !important;
            }

            /* Body Styles */
            td[class="bodyContent"] {
                font-size: 16px !important;
                line-height: 120% !important;
            }

            td[class="img-container"] {
                padding-right: 0px !important;
                padding-left: 0px !important;
            }

            .article-content {
                width: 100% !important;
                clear: both !important;
                display: block !important;
            }

            td[class="main-text-container"] {
                padding-right: 0px !important;
                padding-left: 0px !important;
            }
        }

        td[class="footerContent"] {
            display: block !important;
        }

        td[class="footerContent"] a {
            display: block !important;
        }

        /* disable */
        .hide-mobile {
            display: none;
        }

        #footer-social-links a img {
            margin-bottom: 17px;
            margin-left: 1px;
            margin-right: 1px;
        }

        #footer-social-links a:nth-child(2) img, #footer-social-links a:nth-child(4) img {
            margin-right: 1px;
        }

        #external-ggn-links p,
        #external-ggn-links p a {
            display: block;
            text-align: center;
        }

        #external-ggn-links img {
            display: block;
            float: none;
            margin: 0 auto 5px;
            text-align: center;
        }

        @media screen and (max-width: 380px) {
            .geese-container-footer {
                height: 23px !important;
            }
        }
    </style>
</head>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<div style="background-color:#fff;">
    <table height="100%" width="100%" cellpadding="0" cellspacing="0" border="0">

        <tr>
            <td valign="top" align="left">
                <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
                       id="bodyTable">
                    <tr>
                        <td align="center" valign="top" id="bodyCell">
                            <table border="0" cellpadding="0" cellspacing="0" id="templateContainer">
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                               id="templateHeader"
                                               style="border-collapse:collapse; mso-table-lspace:5pt; mso-table-rspace:5pt;">
                                            <tr>
                                                <td align="center">
                                                    <br>
                                                    <p style="align:center !important"><img
                                                                src="https://www.tara-group.co.uk/themes/cameron/build/images/tara-logo.png"
                                                                id="headerImage" width="350"/></p></td>
                                            </tr>
                                            <tr height="5">
                                                <td>
                                                </td>
                                            </tr>
                                            <tr height="5">
                                                <td>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%"
                                               id="templateBody">
                                            <tr>
                                                <td align="center" valign="top">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                                           id="bodyContentBlock">
                                                        <tr>
                                                            <td valign="top" class="bodyContent">

                                                                <table width="100%" cellpadding="0" cellspacing="0"
                                                                       border="0">
                                                                    <tbody>

                                                                    <tr height="5">
                                                                        <td width="100%"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table border="0" cellpadding="0"
                                                                                   cellspacing="0" width="100%"
                                                                                   style="border-collapse:collapse; mso-table-lspace:5pt; mso-table-rspace:5pt;">
                                                                                <td class="main-text-container"
                                                                                    width="100%">
                                                                                    <div class="article-content">
                                                                                        {{ body }}
                                                                                        <table>
                                                                                            <tr>
                                                                                                <td align="center"
                                                                                                    valign="top">
                                                                                                    <table border="0"
                                                                                                           cellpadding="0"
                                                                                                           cellspacing="0"
                                                                                                           width="100%"
                                                                                                           style="border-collapse:collapse; mso-table-lspace:5pt; mso-table-rspace:5pt;">
                                                                                                        <tr height="8">
                                                                                                            <td></td>
                                                                                                        </tr>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </div>
                                                                                </td>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table width="100%" cellpadding="0" cellspacing="0"
                                                                       border="0">
                                                                    <tbody>
                                                                    <tr height="2">
                                                                        <td>
                                                                            <div
                                                                                    style="height: 2px; width:17px; background: #A48461"></div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr height="29">
                                                                        <td width="100%"></td>
                                                                    </tr>
                                                                    <tr height="25">
                                                                        <td width="100%">
                                                                            <p><strong>Tara Group</strong></p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><img id="bottom-logo" border="0" width="200"
                                                                                 src="https://www.tara-group.co.uk/themes/cameron/build/images/tara-logo.png">
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><br></td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>