{#
/**
 * @file
 * Default theme implementation for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 *
 * @ingroup themeable
 */
#}

<!DOCTYPE html>
<html{{ html_attributes }} id="master" class="no-js">
<head itemscope itemtype="http://schema.org/WebSite">

  <head-placeholder token="{{ placeholder_token }}">

    <title>{{ head_title|safe_join(' | ') }}</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="preload" href="/themes/cameron/build/fonts/Perpetua-Regular.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/themes/cameron/build/fonts/Perpetua-Titling.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/themes/cameron/build/fonts/Roboto-Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/themes/cameron/build/fonts/Roboto-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/themes/cameron/build/fonts/Roboto-LightItalic.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/themes/cameron/build/fonts/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin>

    <css-placeholder token="{{ placeholder_token }}">
      <js-placeholder token="{{ placeholder_token }}">
        {#<!-- Google Tag Manager -->#}
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-WRW4NBB');</script>
        {#<!-- End Google Tag Manager -->#}
        </head>

<body{{ attributes }} itemscope itemtype="http://schema.org/WebPage">

<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRW4NBB"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<div class="page page-wrapper">

  <a href="#content" class="sr-only">{{ 'Skip to main content'|t }}</a>

  {{ page_top }}
  {{ page }}
  {{ page_bottom }}

</div>

{% include 'themes/cameron/templates/includes/photoswipe.html.twig' %}

<js-bottom-placeholder token="{{ placeholder_token }}">

</body>
</html>
