{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}

{% include 'themes/cameron/templates/includes/cookie-message.html.twig' %}

<header class="masthead" itemscope itemtype="http://schema.org/WPHeader">

    <div class="header">

        <div class="container-fluid tall">

            <div class="row align-items-center justify-content-between justify-content-lg-center tall">

                <div class="col-auto">

                    <a class="logo" href="/">

                        <img src="/themes/cameron/build/images/tara-logo.png" alt="Tara group logo" loading="lazy">

                    </a>

                </div>

                <div class="col-auto d-flex align-items-center d-lg-none">

                    <a class="menu-toggle" href="#">

                        <span class="sr-only">Menu</span>

                    </a>

                </div>

            </div>

        </div>

    </div>

    {{ elements.cameron_main_menu }}
    {{ elements.cameron_messages }}
</header>

