
.filter-extra { @include height-hide(0); opacity: 0; }

.more-options { padding-top: $gutter; }

.block-search {

  @include media-breakpoint-up(xl) {

    margin-top: -$search-height / 2;

  }

  &.open {

    .filter-extra { @include height-show; opacity: 1; }

    .options-toggle {

      &.on { background-color: $color-blue-2; }

    }

  }

  .wrapper {

    background-color: $color-blue-1; border: solid 1px $color-white; padding-top: 2.7rem; padding-bottom: 2.7rem;

    @include media-breakpoint-up(lg) {

      padding-left: 5rem; padding-right: 5rem; min-height: $search-height; overflow: hidden; display: flex; align-items: center;

    }

    @include media-breakpoint-down(md) {

      padding-left: $gutter; padding-right: $gutter;

    }

    &, .title { color: $color-white; }

  }

  .heading { margin-bottom: 1rem; }

  .inner { width: 100%; }

  .search-input-wrap { @include flex-stretch; }

  .form-switch {

    @include master {

      flex: 1;

    }

  }

  .actions { display: inline-flex; }

  .icon-text { padding-left: $gutter / 2; }

}

.global-search-area {

  .row { @include no-gutters; }

  label { @include sr-only; }

  input[type='text'], input[type='submit'] {

    @include media-breakpoint-up(xl) {

      height: $search-items-height;

    }

  }

  .icon-location:after { @include svg-bg($icon-location); }

  input[type='text'] {

    @include master {

      @include form-theme-alternative;

    }

  }

  input[type='submit'] {

    @include button-light;

  }

  .search-input { @include flex-stretch; }

}
