

.lightbox { display: none; }

.lightbox-wrap {

  display: flex; align-items: center; justify-content: center; height: 100%;

  img { @include image-centered; }

}

.lightbox-content { width: 100%; }

.gallery-item {

  position: relative;

  > a {

    position: relative; display: block;

    .media {

      &:after { content: ''; position: absolute; top: 0; right: 0; z-index: 2; width: 3rem; height: 3rem; background-color: rgba(0,0,0,.5); @include svg-bg($icon-zoom); background-size: 50%; background-position: center center; }

    }

  }

  &.lightbox-video {

    > a {

      &:before { content: ''; position: absolute; bottom: 0; right: 0; z-index: 2; width: 5rem; height: 5rem; background-color: rgba(0,0,0,.5); @include svg-bg($icon-play); background-size: 30%; background-position: center center; }

    }

  }

}

.pswp__share--download {

  @include master {

    display: none;

  }

}

.pswp__caption__center {

  @include master {

    text-align: center; font-size: $font-body;

  }

}
