

.siteplan {

  &-holder {

    @include media-breakpoint-down(sm) {

      padding-left: $gutter; padding-right: $gutter;

    }

  }

  .block-filter {

    @include master {

      padding-bottom: 2rem;

    }

  }

  &-inner {

    border: solid 1px $color-grey-4;

  }

  &-wrap {

    @include ratio(2,3); position: relative;

    @include media-breakpoint-up(lg) {

      @include ratio(16,9);

    }

  }

  &-drawing {

    @include absolute-cover; background-color: $color-white;

  }

  &-legend {

    display: flex; justify-content: center;

    .list { @include inliner(2rem); justify-content: center; background-color: $color-grey-8; padding: 1.5rem 2rem; border: solid 1px $color-grey-4; border-top: 0; }

    .item { display: flex; align-items: center; padding-top: .5rem; padding-bottom: .5rem; }

  }

  &-types {

    display: flex; justify-content: center; align-items: center; @include text-small; padding-top: 1.5rem;

    .inner { display: flex; }

    .title { padding-right: 1rem; color: $color-blue-1; }

    .list {

      @include inliner(1.5rem);

      .item { display: flex; align-items: center; }

      .legend-icon { width: 1.5rem; height: 1.5rem; }

      .legend-text { padding-left: 1rem; }

    }

  }

}

.status-label {

  padding-left: 2.2rem; text-transform: uppercase; @include text-tiny; @include text-bold; letter-spacing: .2rem; position: relative;

  &:before { content: ''; @include absolute-vertical; left: 0; width: 1.5rem; height: 1.5rem; border: solid .2rem $color-white; border-radius: 100%; }

  &.available {

    color: $status-available;

    &:before { background-color: $status-available; }

  }

  &.not-released {

    color: $status-not-released;

    &:before { background-color: $status-not-released; }

  }

  &.reserved {

    color: $status-reserved;

    &:before { background-color: $status-reserved; }

  }

  &.sold {

    color: $status-sold;

    &:before { background-color: $status-sold; }

  }

}

#master {

  .leaflet-bottom { display: none; }

  .leaflet-top.leaflet-left { position: absolute; top: auto; right: 2rem; left: auto; bottom: 2rem; }

  .leaflet-control-zoom {

    margin: 0; border: 0;

    a { width: 5rem; height: 5rem; line-height: 5rem; background-color: $color-blue-1; color: $color-white; border-color: $color-white; }

  }

  .leaflet-popup-content-wrapper, .leaflet-popup-tip { background-color: $color-grey-8; }

  .leaflet-popup-content-wrapper { border-radius: 0; color: inherit; }

  .leaflet-popup-close-button { color: $color-blue-1; font-family: $font-sans-regular; font-size: 2rem; }

  .leaflet-popup-content {

    margin: 0; width: 70vw !important; max-width: 45rem; display: flex; @include text-tiny;

    > div { flex: 1; }

    .info-image-container {

      background-color: $color-grey-4;

      img { @include image-cover; }

    }

    .info-text-container {

      padding: 2rem;

      > :not(:last-child) { margin-bottom: .8rem; }

      a { @include text-link(#{$color-blue-2},#{$color-blue-1}); }

    }

    .info-text-title { @include text-enlarge; }

    .type {

      color: $color-blue-1; background-size: auto 1.2rem; background-position: left center; padding-left: 2rem;

    }

    .info-text-housetype { @include svg-bg($icon-house); }

    .info-text-beds { @include svg-bg($icon-beds); }

    .info-text-price { @include svg-bg($icon-price); }

  }

}
