
.block-text {

  .editor {

    & > :not(p):first-child { @include dash-bottom-large; }

  }

  .content-middle {

    & > :not(p):first-child {

      @include media-breakpoint-up(lg) {

        background-position: center bottom;

      }

    }

  }

}
