
.block-filter {

  &:not(.filter-extra):not(.plot-filter) {

    @include media-breakpoint-up(lg) {

      @include master {

        padding-bottom: 3.5rem;

      }

    }

  }

  .inside-inner {

    @include media-breakpoint-up(xl) {

      padding-left: .5rem; padding-right: .5rem;

    }

  }

  label {

    color: $color-blue-2; letter-spacing: .2rem; text-transform: uppercase;

    @include media-breakpoint-up(xl) {

      position: relative; text-align: center; margin-bottom: 0;

    }

    &:before {

      @include media-breakpoint-up(xl) {

        content: ''; position: absolute; top: 0; left: -$gutter / 6; right: -$gutter / 6; background-color: $color-grey-4; height: 1px;

      }

    }

    span {

      display: inline-flex; @include text-small;

      @include media-breakpoint-up(xl) {

        top: -1.2rem; position: relative; z-index: 1; background-color: $color-white; padding-left: 1rem; padding-right: 1rem;

      }

    }

  }

  .items {

    > .item {

      &:first-child {

        &:before {

          @include media-breakpoint-up(xl) {

            @include splitter; left: 0;

          }

        }

      }

      &:after {

        @include media-breakpoint-up(xl) {

          @include splitter; right: 0;

        }

      }

    }

  }

  .inside {

    > :first-child { padding-right: 2px; }

  }

}

.development-filter-search {

  .row { @include no-gutters; }

  label { @include sr-only; }

  input[type='text'], input[type='submit'] {

    @include media-breakpoint-up(xl) {

      height: $search-items-height;

    }

  }

}

