
.block-action-banner {

  padding-top: 4rem; padding-bottom: 4rem; background-color: $color-green;

  @include media-breakpoint-down(md) {

    padding: 2rem;

  }

  &, .title { color: $color-white; }

  .graphic { width: 4rem; margin-bottom: 1.6rem; }

  .content {

    display: flex; flex-direction: column; align-items: center; text-align: center;

    > :not(:last-child) { margin-bottom: 2rem; }

  }

  .lead { height: $button-height-large; }

  .message {

    a { @include text-link(#{$color-white},#{$color-blue-4}); }

  }

}
