
.block-info-banner {

  &.aside {

    .promotion {

      .columns { flex-direction: column; align-items: center; text-align: center; }

      .graphic { margin-bottom: 2rem; }

    }

  }

  .promotion {

    background-color: tint($color-green,88%); padding-left: $gutter; padding-right: $gutter;

    &, .title { color: $color-green; }

    .editor {

      a:not(.button) { @include text-link(#{$color-green},#{$color-gold}); }

    }

  }

}
