
.block-panel {

  .media { @include ratio(13,11); height: 100%; }

  .content { z-index: 1; display: flex; flex-direction: column; justify-content: center; }

  .box {

    background-color: $color-white; padding: $gutter * 2;

    @include media-breakpoint-down(md) {

      border: solid 1px $color-blue-2; padding: $gutter;

    }

  }

  .heading { @include spacer; }

  .editor { @include spacer; }

  &.content-first {

    .graphic {

      @include media-breakpoint-down(md) {

        order: -1;

      }

    }

    .box {

      @include media-breakpoint-up(lg) {

        padding-left: 0;

      }

    }

  }

  &.content-last {

    .box {

      @include media-breakpoint-up(lg) {

        padding-right: 0;

      }

    }

  }

}
