
.block-intro {

  .intro {

    @include media-breakpoint-up(lg) {

      position: relative; margin-top: -2.5rem;

    }

  }

  .inner {

    @include media-breakpoint-up(lg) {

      padding: 4rem 4rem 3rem 4rem; background-color: $color-white;

    }

    @include media-breakpoint-down(md) {

      padding-top: $gutter / 1.5; padding-bottom: $gutter / 2;

    }

  }

  .heading { margin-bottom: 2rem; }

  .features { margin-bottom: 1rem; }

  .actions {

    a { height: 5rem; }

  }

}
