
.listing-map {

  padding: $gutter; font-size: $font-body;

  .media { margin-bottom: 2rem; }

}

.listing-list {

  padding-top: $gutter * 1.5;

  @include media-breakpoint-up(lg) {

    padding-left: $gutter;

  }

}

.listing-box {

  padding-left: $gutter; padding-right: $gutter; position: relative; margin-top: -4rem; z-index: 1;

  .inner {

    padding: 4rem 4.5rem; background-color: $color-white;

  }

  .features { @include text-tiny; }

}

.listing-preview {

  .heading {

    @include dash-bottom-large; margin-bottom: 1.2rem;

  }

  .phone { @include text-enlarge; }

  .contact { @include inline-group(3rem); margin-bottom: 1.2rem; }

  .features { margin-bottom: 2rem; }

  .summary { margin-bottom: 2rem; }

  .phone {

    a { @include text-link-basic(#{$color-blue-1},#{$color-blue-2}); }

  }

  .plots {

    margin-bottom: 3rem;

    a { @include text-link(#{$color-blue-2},#{$color-blue-1}); }

  }

}
