
.block-banner {

  .heading { margin-bottom: 2rem; }

  .editor { @include text-enlarge; }

  .title {

    @include media-breakpoint-up(lg) {

      font-size: $font-h1;

    }

  }

  .content { @include text-shadow-light; }

  .graphic { @include overlay-tint(.4); }

}
