
.results-info { margin-bottom: 2.5rem; }

.tabs {

  .tab-nav {

    margin-bottom: 5rem; position: relative;

    &:after { content: ''; position: absolute; bottom: 1px; left: 0; right: 0; background-color: $color-blue-1; height: 1px; }

  }

  .tab-links {

    display: flex; justify-content: center; align-items: center; position: relative; z-index: 1;

    > li {

      &.view-list {

        span { background-image: get-icon( 'menu', $color-white ); background-size: auto 1rem; }

        &.active {

          span { background-image: get-icon( 'menu', $color-blue-1 ); }

        }

      }

      &.view-map {

        span { background-image: get-icon( 'map-pin', $color-white ); background-size: auto 1.5rem; }

        &.active {

          span { background-image: get-icon( 'map-pin', $color-blue-1 ); }

        }

      }

      &.active {

        a { background-color: $color-white; color: $color-blue-1; }

      }

      &:not(:last-child) {

        a { border-left: solid 1px $color-blue-1; }

      }

      &:not(.active) {

        a {

          @include hover {

            background-color: $color-blue-2;

          }

        }

      }

    }

    a {

      display: block; background-color: $color-blue-1; color: $color-white; padding: .8rem 2.5rem; border: solid 1px $color-blue-1; border-bottom: 0; border-left: 0; transition: background-color $animation;

    }

    span { padding-left: 2rem; background-position: left center; @include bg-image; }

  }

  .tab-container {

    @include hide;

    &.active { @include show; }

  }

}

.listing {

  @include listing-divider;

}

.views-element-container > div > .views-row:not(:last-child) {

  margin-bottom: $gutter; padding-bottom: $gutter; border-bottom: solid 1px $color-grey-4;

}
