
.map-wrap {

  @include ratio(2,3); background-color: $color-grey-4; position: relative;

  @include media-breakpoint-up(lg) {

    @include ratio(5,4);

  }

}

.map-drawing {

  @include absolute-cover;

}

.marker-info {

  &-close {

    @include master {

      margin: 0; cursor: pointer; position: absolute; z-index: 1; top: 0; left: 0; width: $gutter; height: $gutter; @include svg-bg($icon-close); background-position: center center; background-size: 1.4rem; transition: background-color $animation;

      @include hover {

        background-color: $color-brown-3;

      }

    }

  }

}

.marker-cluster {

  color: $color-blue-1; font-family: $font-sans-medium; font-size: 1.8rem; display: flex; text-align: center; line-height: 4rem;

}

.gm-style-iw-c {

  padding: 0 !important; border-radius: 0 !important; width: 80vw !important; max-width: 52rem !important;

  button { display: none !important; }

}


