
.block-signposts {

  .detail, .title { color: $color-white; }

  .content { display: flex; flex-direction: column; justify-content: flex-end; }

  .detail { padding: $gutter; @include gradient-bottom; }

  .inner { position: relative; z-index: 1; }

  .summary {

    @include media-breakpoint-up(lg) {

      @include height-hide(0); opacity: 0;

    }

  }

  .editor { padding-top: 1rem; }

  .link {

    display: block; overflow: hidden; transition: transform $animation, box-shadow $animation;

    @include hover {

      transform: scale(1.03); box-shadow: 0 0 .5rem 0 rgba(0,0,0,.2); position: relative; z-index: 1;

      .summary {

        @include media-breakpoint-up(lg) {

          @include height-show; opacity: 1;

        }

      }

    }

  }

}
