
.block-simple {

  &.fill {

    @include master {

      padding-top: $gutter; padding-bottom: $gutter;

      @include media-breakpoint-up(lg) {

        padding-top: $spacer; padding-bottom: $spacer;

      }

    }

  }

}
