
.block-detail-intro {

  .inner {

    @include media-breakpoint-up(lg) {

      padding-left: 2rem;

    }

  }

  .lead { margin-bottom: 1rem; }

  .extra {

    @include gutter(.5rem); margin-bottom: 1rem;

    a { height: $nav-height; }

  }

  .actions {

    a { display: flex; }

  }

  .message { margin-bottom: 3rem; }

  .heading {

    .text { padding-top: 1rem; padding-bottom: 1rem; }

    a { @include text-link(#{$color-blue-2},#{$color-blue-1}); }

  }

  .list-icon-text, .message, .tag { margin-bottom: 3rem; }

}
