

.accordion {

  &-title { font-size: $font-lead; }

  .reveal-trigger {

    display: block; padding: 2rem 7rem 2rem 3rem; position: relative; transition: background-color $animation; background-color: $color-green; color: $color-white;

    &:after { content: ''; background-image: get-icon( 'plus', $color-white ); background-repeat: no-repeat; background-position: center center; background-size: 1.8rem; width: $gutter; height: $gutter; margin-top: -$gutter / 2; position: absolute; top: 50%; right: 1.5rem; }

    @include hover {

      background-color: $color-teal;

    }

  }

  &-items {

    > :not(:last-child) { margin-bottom: 1rem; }

  }

  .reveal-info { @include height-hide(0); }

  .editor { padding: 2rem 3rem; }

  .open {

    .reveal-info { @include height-show; }

    .reveal-trigger {

      background-color: $color-gold;

      &:after { background-image: get-icon( 'minus', $color-white ); }

    }

  }

}
