
.user-login-form, .user-register-form, .user-pass {

  margin: 0 auto; width: 90%; padding-top: 5rem; padding-bottom: 5rem;

  @include media-breakpoint-up(lg) {

    width: 50%;

  }

}

#block-cameron-local-tasks {

  ul:not(.contextual-links) {

    position: fixed; top: 50%; transform: translateY(-50%); left: 0; z-index: 99999; width: 10rem; box-shadow: 0 0 1rem rgba(0,0,0,.5); background-color: $color-cream;

    > :not(:last-child) { border-bottom: solid 1px $color-beige; }

    a {

      color: $color-green; display: block; padding: .6rem 1.2rem; @include text-small; transition: background-color $animation;

      @include hover {

        background-color: $color-beige;

      }

    }

  }

}
