

.breadcrumb {

  margin-bottom: $gutter / 1.5; color: $color-green;

  @include media-breakpoint-up(lg) {

    margin-bottom: 4rem;

  }

  &:first-child { padding-top: 3rem; }

  @include text-small;

  ul {

    display: flex; flex-wrap: wrap; align-items: center;

    > li {

      padding-top: .5rem; padding-bottom: .5rem;

      &:not(:last-child) {

        &:after { content: '\002F'; padding-left: .8rem; padding-right: .8rem; }

      }

    }

  }

  a { @include text-link(#{$color-gold},#{$color-gold}); }

}
