
@mixin font-heading {

  font-weight: normal;
  font-style: normal;
  letter-spacing: .17rem;

}

@mixin fonts {

  font-display: swap;

}

@mixin font-sans {

  font-family: 'Roboto';

}

@mixin font-serif-regular {

  font-family: 'Perpetua Regular';
  @include font-heading;
  text-transform: uppercase;

}

@mixin font-serif-caps {

  font-family: 'Perpetua Titling';
  @include font-heading;

}

@mixin font-sans-bold {

  @include font-sans;
  font-weight: bold;
  font-style: normal;

}

@mixin font-sans-light {

  @include font-sans;
  font-weight: 300;
  font-style: normal;

}

@mixin font-sans-light-italic {

  @include font-sans;
  font-weight: 300;
  font-style: italic;

}

@mixin font-sans-regular {

  @include font-sans;
  font-weight: normal;
  font-style: normal;

}

@font-face {

  @include font-serif-regular;
  src: url('#{$fonts}/Perpetua-Regular.woff2') format('woff2');
  @include fonts;

}

@font-face {

  @include font-serif-caps;
  src: url('#{$fonts}/Perpetua-Titling.woff2') format('woff2');
  @include fonts;

}

@font-face {

  @include font-sans-bold;
  src: url('#{$fonts}/Roboto-Bold.woff2') format('woff2');
  @include fonts;

}

@font-face {

  @include font-sans-light;
  src: url('#{$fonts}/Roboto-Light.woff2') format('woff2');
  @include fonts;

}

@font-face {

  @include font-sans-light-italic;
  src: url('#{$fonts}/Roboto-LightItalic.woff2') format('woff2');
  @include fonts;

}

@font-face {

  @include font-sans-regular;
  src: url('#{$fonts}/Roboto-Regular.woff2') format('woff2');
  @include fonts;

}

