
.ui-autocomplete {

  @include master {

    font-size: $font-smaller; font-family: $font-sans-regular; @include shadow-fancy; border: 0; color: $color-blue-1; background-color: $color-grey-8; z-index: 99999;

    .ui-menu-item-wrapper {

      padding: .6rem 1.5rem;

      &.ui-state-active { background-color: $color-blue-3; border: 0; }

    }

  }

}
