


.icon {

  &-text {

    background-position: left center; padding-left: $icon-spacing;

    &.larger { padding-left: $icon-spacing + .8rem; }

    &.smaller { padding-left: $icon-spacing - .3rem; }

  }

  &-overlay {

    position: relative;

    &:after { content: ''; @include absolute-vertical; background-position: center center; }

  }

  &-location {

    &:after { @include svg-bg($icon-location); right: .5rem; width: $nav-height; height: 100%; background-size: 2rem; }

    &.dark:after { @include svg-bg($icon-location-dark); }

  }

  &-more-dots { @include svg-bg($icon-more-dots); background-size: auto 1rem; }

  &-pin { @include svg-bg-thumbnail($icon-pin,2.6rem); }

  &-beds { @include svg-bg-thumbnail($icon-beds,2rem); }

  &-price { @include svg-bg-thumbnail($icon-price,2.1rem); }

  &-phone { @include svg-bg-thumbnail($icon-phone,1.5rem); }

  &-email { @include svg-bg-thumbnail($icon-email,1.5rem); }

  &-map-pin { @include svg-bg-thumbnail($icon-map,2rem); }

  &-facebook { @include svg-bg($icon-facebook); background-size: auto 1.8rem; }

  &-twitter { @include svg-bg($icon-twitter); background-size: auto 1.5rem; }

  &-instagram { @include svg-bg($icon-instagram); background-size: auto 1.7rem; }

  &-linkedin { @include svg-bg($icon-linkedin); background-size: auto 1.7rem; }

  &-pinterest { @include svg-bg($icon-pinterest); background-size: auto 1.7rem; }

  &-vimeo { @include svg-bg($icon-vimeo); background-size: auto 1.5rem; }

  &-plots { @include svg-bg-thumbnail($icon-plots,2rem); }

  &-menu { @include svg-bg($icon-menu); background-size: auto 1rem; }

  &-map { @include svg-bg($icon-map); background-size: auto 1.5rem; }

  &-house { @include svg-bg($icon-house); background-size: auto 2.4rem; }

  &-star { @include svg-bg($icon-star); background-size: auto 1.6rem; }

  &-direction { @include svg-bg($icon-direction); background-size: auto 1.6rem; }

  &-external { @include svg-bg($icon-external); background-position: right center; background-size: auto 1.2rem; padding-right: 2rem; }

}
