

.block-hero + .block-search {

  position: relative; z-index: 1;

  @include media-breakpoint-down(lg) {

    padding-top: $gutter;

  }

  @include media-breakpoint-down(md) {

    padding-top: $gutter / 2;

  }

}

.block-hero + .breadcrumb {

  padding-top: $gutter;

  @include media-breakpoint-down(lg) {

    padding-top: $gutter / 2;

  }

}

.block-gallery + .block-plots {

  @include media-breakpoint-down(lg) {

    padding-top: $gutter;

  }

}

section.fill + section:not(.fill) {

  padding-top: $gutter;

  @include media-breakpoint-up(lg) {

    padding-top: $spacer;

  }

}
