
.glide-multiple {

  .glide__track, .glide__slides { overflow: visible; }

  .glide__track { transition: height $animation; }

  .glide__arrow--prev {

    @include media-breakpoint-up(lg) {

      left: -$carousel-arrow + $gutter / 2;

    }

  }

  .glide__arrow--next {

    @include media-breakpoint-up(lg) {

      right: -$carousel-arrow + $gutter / 2;

    }

  }

}

.glide-group {

  .glide__track { background-color: $color-grey-4; }

  .carousel-indicators { display: none; }

}

.block-carousel { position: relative; }

.carousel-control { border: 0; }

.carousel-wrap {

  position: relative;

}

.glide__arrow {

  @include absolute-vertical; z-index: 2; width: $carousel-arrow; height: $carousel-arrow; background-color: $color-white; transition: background-color $animation;

  .arrow { @include absolute-cover; @include svg-bg($icon-chevron); background-position: center center; background-size: auto 1.5rem; }

  @include hover {

    background-color: $color-cream;

  }

}

.glide__arrow--prev {

  left: 0;

  .arrow { transform: rotate(180deg); }

}

.glide__arrow--next { right: 0; }

.carousel-indicators {

  display: flex; align-items: center; padding-top: $carousel-indicator-gap; position: relative; z-index: 2;

  .glide__bullets {

    @include inliner(.5rem);

    .glide__bullet {

      width: $carousel-indicator-small; height: $carousel-indicator-small; overflow: hidden; display: block; background-color: $color-green; transition: background-color $animation, opacity $animation;

      &.glide__bullet--active { background-color: $color-gold; }

      &.thumb { width: 4.6rem; height: 4.6rem; }

    }

  }

  &:not(.thumbs) { justify-content: center; }

  &.thumbs {

    .glide__bullet {

      width: $carousel-indicator-large; height: $carousel-indicator-large; opacity: .7;

      &.glide__bullet--active { opacity: 1; }

    }

  }

}

.carousel-thumbs {

  .glide__arrow { margin-top: calc(-#{$carousel-indicator-large + $carousel-indicator-gap} / 2); }

  .glide__bullet, .glide__track { border: solid 1px $color-grey-4; }

}

.slide-title { position: absolute; top: 2rem; left: 2rem; z-index: 1; color: $color-green; }
