
// SVG - start

$data-svg-prefix: 'data:image/svg+xml;utf-8,';

@function str-replace( $string, $search, $replace ) {

  $index: str-index( $string, $search );

  @if $index {

    @return str-slice( $string, 1, $index - 1 ) + $replace + str_replace( str-slice( $string, $index + str-length( $search ) ), $search, $replace );
  }

  @return $string;
}

@function get-icon( $icon, $color: #fff ) {

  @if 'color' != type-of( $color ) {

    @warn 'The requested color - "' + $color + '" - was not recognized as a Sass color value.';
    @return null;
  }

  @if map-has-key( $icons, $icon ) {

    $icon:        map-get( $icons, $icon );
    $placeholder: '%%COLOR%%';
    $data-uri:    str-replace( url( $data-svg-prefix + $icon ), $placeholder, $color );

    @return str-replace( $data-uri, '#', '%23' );
  }

  @warn 'The requested icon - "' + $icon + '" - is not defined in the $icons map.';
  @return null;
}

// SVG - end

@mixin cookie-accepted {
  #master.cookie-accepted & {
    @content;
  }
}

@mixin make-max-widths-container-width($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
  @each $breakpoint, $container-max-width in $max-widths {
    @include media-breakpoint-up($breakpoint, $breakpoints) {
      max-width: $container-max-width;
    }
  }
}

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@mixin js {
  #master.js & {
    @content;
  }
}

@mixin form-error {
  .gfield_error & {
    @content;
  }
}

@mixin master {
  #master & {
    @content;
  }
}

@mixin menu-open {
  #master.menu-open & {
    @content;
  }
}

@mixin search-open {
  #master.search-open & {
    @content;
  }
}

@mixin mast-on {
  #master.mast-on & {
    @content;
  }
}

@mixin mast-hidden {
  #master.mast-is-hidden & {
    @content;
  }
}

@mixin single {
  body.single & {
    @content;
  }
}

@mixin not-single {
  body:not(.single) & {
    @content;
  }
}

@mixin shop {
  body.woocommerce-page & {
    @content;
  }
}

@mixin not-search {
  body:not(.search-results) & {
    @content;
  }
}

@mixin svg-inline($size) {

  display: inline-flex; position: relative; overflow: hidden; width: $size; height: $size;

  .icon {

    @include absolute-centre; width: 100%;

  }

}

@mixin bg-image {

  background-repeat: no-repeat;

}

@mixin svg-bg($icon) {

  background-image: url("data:image/svg+xml,#{$icon}"); background-repeat: no-repeat;

}

@mixin svg-bg-thumbnail($icon,$size) {

  position: relative;

  &:before { content: ''; @include absolute-vertical; left: 0; width: 3rem; height: 3rem; background: url("data:image/svg+xml,#{$icon}") no-repeat center center; background-size: auto $size; }

}

@mixin shadow {

  box-shadow: 0 0 .5rem rgba(0,0,0,.2);

}

@mixin list-reset {

  list-style: none; padding: 0; margin: 0;

}

@mixin flex-centre {

  display: flex; align-items: center; justify-content: center;

}

@mixin absolute-centre {

  position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);

}

@mixin absolute-middle {

  position: absolute; left: 50%; transform: translateX(-50%);

}

@mixin absolute-vertical {

  position: absolute; top: 50%; transform: translateY(-50%);

}

@mixin absolute-cover {

  position: absolute; top: 0; right: 0; left: 0; bottom: 0;

}

@mixin fixed-cover {

  position: fixed; top: 0; right: 0; left: 0; bottom: 0;

}

@mixin ratio($width, $height) {

  &:before { content: ''; display: block; padding-top: calc(100% * #{$height} / #{$width}); }

}

@mixin appearance-reset {

  -webkit-appearance: none; -moz-appearance: none; appearance: none; border-radius: 0;

}

@mixin inliner($value) {

  display: flex; flex-wrap: wrap; align-items: center;

  > :not(:last-child) { margin-right: $value; }

}

@mixin inline-group($value) {

  display: flex; flex-wrap: wrap; align-items: center;

  > .item {

    padding-top: 1rem; padding-bottom: 1rem;

    &:not(:last-child) { margin-right: $value; }

  }

}

@mixin hide-away {

  transform: translateY(100%);

}

@mixin hide {

  opacity: 0; overflow: hidden; height: 0; visibility: hidden; transition: opacity $animation;

}

@mixin show {

  opacity: 1; overflow: visible; height: auto; visibility: visible;

}

@mixin sr-only {

  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;

}

@mixin text-shadow {

  text-shadow: 0 0 .5rem rgba(0,0,0,.5);

}

@mixin gradient-overlay {

  &:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; top: 50%; background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)); opacity: .5; }

}

@mixin embed {

  @include absolute-cover; width: 100%; height: 100%;

}

@mixin embed-cover {

  @include absolute-centre; width: 100vw; height: calc(100vw * 9/16); min-width: calc(100vh * 16/9); min-height: 100vh;

}

@mixin image-centered {

  max-width: 100%; height: auto; display: block; margin-left: auto; margin-right: auto;

}

@mixin image-wide {

  width: 100%; height: auto;

}

@mixin image-block {

  max-width: 100%; height: auto; display: block;

}

@mixin image-fit {

  max-width: 100%; height: auto;

}

@mixin mast-shadow {

  box-shadow: 0 2px 1rem rgba(0,0,0,.2);

}

@mixin icon-link {

  background-position: left center; background-size: 2.5rem; padding-left: 3.5rem; display: inline-flex;

}

@mixin card-shadow {

  position: relative; background-color: $color-white; box-shadow: 0 0 3px 0 rgba(0,0,0,.15);

  &:before, &:after {
    z-index: -1;
    position: absolute;
    content: '';
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: #777;
    box-shadow: 0 15px 10px rgba(0,0,0,.4);
    transform: rotate(-3deg);
  }

  &:after {
    transform: rotate(3deg);
    right: 10px;
    left: auto;
  }

}

@mixin gutter($value) {

  &:not(.no-gutters) {

    margin-right: -$value; margin-left: -$value;

    > [class*="col"], .gfield { padding-right: $value; padding-left: $value; }

  }

}

@mixin no-gutters {

  margin-right: 0; margin-left: 0;

  > [class*="col"] { padding-right: 0; padding-left: 0; }

}

@mixin text-link($color-off,$color-on) {

  color: $color-off; box-shadow: inset 0 -1px 0 0 $color-off; transition: color $animation, box-shadow $animation;

  @include hover {

    color: $color-on; box-shadow: none;

  }

}

@mixin text-link-reverse($color-off,$color-on) {

  color: $color-off; transition: color $animation, box-shadow $animation;

  &:hover { color: $color-on; box-shadow: inset 0 -1px 0 0 $color-on; }

}

@mixin text-link-basic($color-off,$color-on) {

  color: $color-off; transition: color $animation;

  @include hover {

    color: $color-on;

  }

}

@mixin background-elements {

  color: $color-white;

  h1, h2, h3, h4, h5, h6 { color: inherit; }

  .button-outline {

    &, &:hover, &:focus { border-color: $color-white; color: $color-white; background-color: transparent; }

  }

  .editor {

    ul {

      li {

        &:before { background-color: $color-white; }

      }

    }

  }

}

@mixin content-overlay {

  @include media-breakpoint-down(md) {

    padding-top: $gap;

  }

  @include media-breakpoint-up(lg) {

    @include absolute-cover; z-index: 2;

  }

}

@mixin content-overlay-contents {

  .heading, .editor > * { color: $color-white; @include text-shadow; }

}

@mixin nav-link {

  padding-left: $gutter; padding-right: $gutter * 1.5; min-height: $gutter;

}

@mixin text-tiny {

  font-size: $font-body - .4rem;

}

@mixin text-small {

  font-size: $font-body - .2rem;

}

@mixin text-enlarge {

  font-size: $font-body + .2rem;

}

@mixin boxed {

  @include media-breakpoint-up(lg) {

    padding: $gutter / 1.5 $gutter; background-color: rgba(255,255,255,.95);

  }

}

@mixin underline($value) {

  position: relative; display: inline-block;

  &:after { content: ''; position: absolute; left: 0; right: 0; bottom: 0; background-color: $value; height: 1px; }

}

@mixin dash($value) {

  position: relative; padding-left: 1rem;

  &:before { content: ''; @include absolute-vertical; left: 0; background-color: $value; width: .5rem; height: 1px; }

}

@mixin text-bold {

  font-family: $font-sans-medium;

}

@mixin image-cover {

  width: 100%; height: 100%; object-fit: cover;

}

@mixin image-contain {

  width: 100%; height: 100%; object-fit: contain;

}

@mixin mast-active {

  background-color: $color-black; @include mast-shadow;

}

@mixin form-fill {

  background-color: tint($color-grey5,50%); border: 1px solid tint($color-black,85%);

}

@mixin grid-overlay {

  display: grid; grid-template-columns: 1fr;

  > .layer {

    grid-row-start: 1; grid-column-start: 1;

    &.content { position: relative; z-index: 1; }

  }

}

@mixin caption {

  background-color: $color-navy; color: $color-white; padding: 1rem 2rem; font-size: 1.4rem;

}

@mixin image-box-contain {

  padding: 2rem;

  img { object-fit: contain; }

}

@mixin row-small-spacer {

  padding-top: 1rem; padding-bottom: 1rem;

}

@mixin flex-column {

  display: flex; flex-direction: column;

}

@mixin arrow-up($size,$fill) {

  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $fill;

}

@mixin mast-bypass {

  @include media-breakpoint-up(lg) {

    padding-top: $masthead-height;

  }

}

@mixin button-theme {

  color: $color-navy; border: 0;

  &:hover, &:focus {

    background-color: $color-white;

  }

}

@mixin bg-opacity($color, $opacity) {
  background-color: rgba($color, $opacity);
}

@mixin theme-page($value) {

  .masthead {

    .logo {

      .shield { fill: $value; }

    }

  }

  .leading-hero, .introduction, .panels {

    .mix-blend.blue { background-color: $value; }

  }

  .leading-hero {

    .button { background-color: $value; @include button-theme; }

  }

}

@mixin theme-component($value) {

  .card {

    border-color: $value;

    .mix-blend, .button { background-color: $value; }

    .heading { color: $value; }

    .button {

      @include button-theme;

    }

  }

}

@mixin theme-menu($value) {

  &:before { background-color: $value; }

  .sub-menu { border-color: $value; }

  &:hover { color: $value; }

  &.current-menu-item, &.current-menu-parent, &.current-page-ancestor, &.current_page_parent {

    color: $value;

  }

}

@mixin menu-line-top {

  content: ''; position: absolute; bottom: calc(100% - 2px); left: 0; right: 2rem; background-color: $color-blue; height: 2px;

}

@mixin monochrome {

  filter: grayscale(100%);

}

@mixin postbox {

  padding: $card-padding; background-color: $color-grey-light; border-bottom: $card-border-width solid $color-blue;

}

@mixin section-block {

  padding-top: 3rem; padding-bottom: 3rem;

  @include media-breakpoint-up(lg) {

    padding-top: 8rem; padding-bottom: 8rem;

  }

}

@mixin elements {

  > :not(:last-child) { margin-bottom: 2.2rem; }

}

@mixin editor-spacing {

  > :not(:last-child) { margin-bottom: 3rem; }

}

@mixin masthead-slim {

  height: $masthead-height-sm;

  .logo svg { width: $logo-width-sm; }

}

@mixin gradient-bottom {

  position: relative;

  &:after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; top: 0; background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)); opacity: .7; }

}

@mixin text-shadow-light {

  text-shadow: 0 0 .5rem rgba(0,0,0,.5);

}

@mixin text-shadow-heavy {

  text-shadow: 0 .4rem .3rem rgba(0,0,0,.4), 0 .8rem 1.3rem rgba(0,0,0,.1), 0 1.8rem 2.3rem rgba(0,0,0,.1);

}

@mixin overlay-tint($value) {

  position: relative;

  &:after { content: ''; @include absolute-cover; background-color: $color-black; opacity: $value; }

}

@mixin dash-bottom {

  position: relative; margin-bottom: .2rem; padding-bottom: 3.5rem;

  &:after { content: ''; @include absolute-middle; bottom: 0; background-color: $color-blue-2; width: 5rem; height: 2px; }

}

@mixin dash-bottom-large {

  padding-bottom: $gutter + .5rem; background: no-repeat url('#{$images}/ornament.png') left bottom; background-size: auto 1.2rem;

}

@mixin dash-after {

  &:after { content: ''; @include absolute-vertical; right: 0; background-color: $color-gold; width: 1px; height: 1.4rem; }

}

@mixin block-spacing {

  margin-bottom: $gutter / 1.5;

  @include media-breakpoint-up(lg) {

    margin-bottom: $spacer;

  }

}

@mixin block-spacing-top {

  padding-top: $gutter / 1.5;

  @include media-breakpoint-up(lg) {

    padding-top: $spacer;

  }

}

@mixin form-state {

  background-color: tint($color-black,95%); border-color: tint($color-black,60%);

}

@mixin spacer {

  margin-bottom: $gutter;

}

@mixin listing-divider {

  > :not(:last-child) { margin-bottom: $gutter; padding-bottom: $gutter; border-bottom: solid 1px $color-grey-4; }

}

@mixin splitter {

  content: ''; position: absolute; top: 0; bottom: 0; background-color: $color-grey-4; width: 1px;

}

@mixin gradient-fade {

  &:after { content: ''; @include absolute-cover; background: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,1)); }

}

@mixin height-hide($value) {

  max-height: $value; overflow: hidden; transition: max-height 1s cubic-bezier(0,1,0,1), opacity $animation;

}

@mixin height-show {

  max-height: 999rem; transition: max-height 2.5s ease-in-out;

}

@mixin list-links-inline {

  display: flex; flex-wrap: wrap;

  a { @include text-link(#{$color-blue-2},#{$color-blue-1}); }

  > li {

    margin-right: 2.5rem; margin-bottom: 1.5rem;

    &.menu-item--active-trail {

      a { @include text-link(#{$color-blue-1},#{$color-blue-2}); }

    }

  }

}

@mixin hero-height($value) {

  min-height: calc(100vh - #{$value});

}

@mixin image-link {

  display: block; position: relative;

  &:after { content: ''; @include absolute-cover; z-index: 1; opacity: 0; background-color: $color-black; transition: opacity $animation; }

  .image { transition: transform $animation; }

  @include hover {

    &:after { opacity: .15; }

    .image { transform: scale(1.03); }

  }

}

@mixin embed-holder {

  @include ratio(16,9); position: relative;

  iframe { @include embed; }

}

@mixin button-light {

  @include master {

    background-color: $color-white; color: $color-blue-1;

    @include hover {

      background-color: $color-blue-2; color: $color-white;

    }

  }

}

@mixin flex-stretch {

  display: flex; flex-direction: column; height: 100%;

}

@mixin form-theme-alternative {

  background-color: $color-blue-4; color: $color-grey-6; border-bottom-color: $color-blue-2;

}

@mixin shadow-simple {

  box-shadow: 0 1.5rem 1rem -1.5rem rgba(0,0,0,.5);

}

@mixin shadow-fancy {

  box-shadow:
    0 .3rem .22rem rgba(0,0,0,.034),
    0 .7rem .5rem rgba(0,0,0,.048),
    0 1.2rem 1rem rgba(0,0,0,.06),
    0 2rem 1.8rem rgba(0,0,0,.072),
    0 4rem 3rem rgba(0,0,0,.086),
    0 10rem 8rem rgba(0,0,0,.08);

}
