

.masthead {

  position: relative; z-index: 99;

  &:after {

    @include media-breakpoint-down(md) {

      content: ''; @include fixed-cover; @include bg-opacity($color-black,.9); z-index: 1; @include hide;

      @include menu-open {

        @include show;

      }

    }

  }

  @include media-breakpoint-down(md) {

    position: fixed; top: 0; left: 0; right: 0; box-shadow: 0 .2rem 1rem rgba(0,0,0,.1);

  }

  .header { height: $masthead-height; background-color: $color-white; position: relative; z-index: 3; }

  .logo {

    img {

      height: 9rem;

      @include media-breakpoint-down(md) {

        height: 7rem;

      }

    }

  }

  .menu-toggle {

    @include svg-bg($icon-menu); background-position: center center; background-size: 60%; display: inline-flex; width: $nav-height; height: $nav-height;

    @include menu-open {

      @include svg-bg($icon-close); background-size: 50%;

    }

  }

  .navigation {

    color: $color-green; border-top: solid 1px $color-gold; @include font-sans-regular; background-color: $color-white;

    @include media-breakpoint-down(md) {

      @include hide; transform: translateY(-100%); transition: transform $animation; transition-delay: $animation-delay; position: relative; z-index: 2;

      @include menu-open {

        @include show; transform: translateY(0);

      }

    }

    a {

      @include text-small; text-transform: uppercase; transition: background-color $animation, color $animation; padding: 1rem $gutter; display: block;

      @include media-breakpoint-up(lg) {

        display: flex; align-items: center; text-align: center;

      }

      @include media-breakpoint-up(xl) {

        height: $nav-height;

      }

      @include media-breakpoint-up(xxl) {

        padding-left: 5rem; padding-right: 5rem;

      }

    }

    .launch {

      @include media-breakpoint-down(md) {

        text-align: left;

      }

      span { @include svg-bg($icon-calendar); background-position: center left; background-size: 1.2rem; padding-left: 2.5rem; }

    }

    .menu {

      @include media-breakpoint-up(lg) {

        display: flex; justify-content: center;

      }

      > ul {

        @include media-breakpoint-up(lg) {

          display: flex;

        }

        > li {

          position: relative;

          @include media-breakpoint-up(lg) {

            display: flex;

          }

          &:not(:last-child) {

            @include media-breakpoint-up(lg) {

              @include dash-after;

            }

            @include media-breakpoint-down(md) {

              border-bottom: solid 1px $color-beige;

            }

          }

          &:not(.menu-item--active-trail) {

            > a {

              @include hover {

                background-color: $color-cream; color: $color-gold;

              }

            }

          }

          &.menu-item--active-trail { background-color: $color-beige; }

        }

      }

    }

  }

}

.menu-item--expanded {

  > ul {

    @include master {

      display: none;

    }

  }

}
