
.block-content {

  .editor {

    h2 { @include dash-bottom-large; }

    h3, h4, h5, h6 { margin-bottom: $gutter - 1rem; }

    &:not(.snippet) {

      p:first-of-type { font-size: $font-lead; }

    }

  }

}

.frame-embed { @include embed-holder; }

.editor {

  > :not(:last-child) { margin-bottom: $gutter; }

  a:not(.button) { @include text-link(#{$color-gold},#{$color-gold}); }

  img, iframe { max-width: 100%; display: block; }

  img { height: auto; }

  blockquote {

    background-image: get-icon( 'quotes', $color-green ); background-repeat: no-repeat; background-position: left 1.5rem; background-size: 6.5rem; padding: $gutter; @include font-sans-light-italic; font-size: $font-lead; line-height: 1.25; border: solid 1px $color-gold; border-left: 0; border-right: 0;

    p:not(:last-of-type) { margin-bottom: 1rem; }

    cite {

      @include font-sans-regular; @include text-small; text-transform: uppercase; display: inline-flex; padding-top: 2rem;

    }

  }

  ul:not(.features):not(.list-icons) {

    li {

      position: relative; padding-left: 2rem;

      &:before { content: ''; position: absolute; top: .8rem; left: 0; width: .8rem; height: .8rem; background-color: $color-green; }

    }

  }

  ol {

    counter-reset: listing;

    li {

      counter-increment: listing;

      &:before { content: "" counter(listing) ". "; }

    }

    &.bulleted {

      li {

        display: flex; margin-bottom: 0; position: relative;

        &:before { content: "" counter(listing) ""; position: relative; z-index: 1; @include flex-centre; width: $bulleted; height: $bulleted; @include font-serif-regular; font-size: $font-h3; background-color: $color-green; color: $color-white; border-radius: 100%; }

        > span { flex: 1; padding: .6rem 0 0 1.2rem; }

        &:not(:last-child) {

          padding-bottom: $gutter;

          &:after { content: ''; position: absolute; top: 0; left: $bulleted / 2; bottom: 0; border-right: dashed 1px $color-brown-1; }

        }

      }

    }

  }

  li {

    &:not(:last-child) { margin-bottom: $gutter / 2; }

  }

  table {

    width: 100%;

    tr {

      th:not(:last-child) { border-right: solid 1px $color-white; }

      td:not(:last-child) { border-right: solid 1px $color-green; }

      td, th { padding: 1.2rem 1.5rem; }

      th { background-color: $color-green; color: $color-white; @include font-serif-caps; }

      &:nth-child(odd) {

        td { background-color: $color-cream; }

      }

    }

  }

}
