
body { font-size: $font-body; @include font-sans-light; color: $color-green; line-height: $line-body; }

h1, h2, h3, h4, h5, h6, p, blockquote, figure, ul, address { margin: 0; }

h1, h2, h3, h4, h5, h6 { line-height: $line-heading; @include font-serif-caps; color: $color-green; }

h1, .h1 {

  font-size: $font-h1;

  @include media-breakpoint-down(md) {

    font-size: $font-h2;

  }

}

h2, .h2 { font-size: $font-h2; }

h3, .h3 { font-size: $font-h3; }

h4, .h4 { font-size: $font-h4; }

h5, h6 { font-size: $font-h5; }

.text-lead { font-size: $font-lead; }

strong, .bold { @include text-bold; }

small, .small { @include text-small; }

.tiny { @include text-tiny; }

em, .italics { font-style: italic; }
