

.pagination {

  display: flex; justify-content: center; text-align: center; margin-top: $gutter; padding-top: $gutter; border-top: solid 1px $color-grey-4;

  > ul { @include inliner(1rem); }

  a { @include text-link(#{$color-blue-1},#{$color-blue-2}); }

}
