

.button, .page button:not(.carousel-control):not(.toolbar-icon):not(.trigger), .page input[type='submit'] {

  @include appearance-reset; cursor: pointer; border: 0; padding: 1.2rem 2.7rem; @include text-small; text-transform: uppercase; background-color: $color-green; color: $color-white; display: inline-flex; align-items: center; justify-content: center; text-align: center; transition: box-shadow $animation, background-color $animation, color $animation;

  &:hover, &:focus {

    background-color: $color-gold; color: $color-white;

  }

}

.button {

  &.secondary {

    padding: 1.3rem 2rem; background-color: $color-gold; border: solid 1px $color-gold;

    &:hover, &:focus {

      background-color: $color-white; color: $color-green;

    }

  }

  &.tertiary {

    &:not(.larger) {

      padding: .8rem 2rem;

    }

    background-color: $color-gold;

    &:hover, &:focus {

      background-color: $color-brown-2;

    }

  }

  &.basic {

    @include master {

      border: 0;

    }

  }

  &.light {

    @include master {

      background-color: $color-white; color: $color-blue-1;

      @include hover {

        background-color: $color-blue-2; color: $color-white;

      }

    }

  }

  &.outlined {

    @include master {

      background-color: transparent; color: $color-blue-1; border: solid 1px $color-blue-2;

      @include hover {

        box-shadow: 0 0 0 1px $color-blue-2; background-color: $color-blue-4;

      }

    }

  }

}
