
::selection { color: $color-white; background-color: $color-green; }

.menu-open, .overlay-on { overflow-y: hidden; }

#master {

  font-size: $font-base-sm; display: block;

  @include media-breakpoint-up(md) {

    font-size: $font-base;

  }

  &, body { overflow-x: hidden; }

  :focus { outline: 0; }

}

body { background-color: $color-white; height: 100%; }

ul, ol {

  @include list-reset;

}

iframe { border: 0; }

a {

  &, &:hover, &:focus { text-decoration: none; color: inherit; }

}

main, .main {

  @include media-breakpoint-down(md) {

    padding-top: $masthead-height;

  }

}

.page-wrapper { position: relative; z-index: 1; }

[class^="block-"] {

  &:not(.block-base):not(.block-crumb):not(.block-panel) { @include block-spacing; }

}

.block-spacing {

  @include block-spacing;

}
