

.media {

  position: relative; overflow: hidden; background-color: $color-grey-4;

  &.square { @include ratio(1,1); }

  &.wide { @include ratio(16,9); }

  &.banner {

    @include ratio(3,2);

    @include media-breakpoint-up(lg) {

      @include ratio(3,1);

    }

  }

  &.strip { @include ratio(4,1); }

  &.page-banner {

    @include ratio(3,1);

    @include media-breakpoint-up(xl) {

      @include ratio(32,5);

    }

  }

  &.landscape { @include ratio(3,2); }

  &.deep { @include ratio(5,4); }

  &.thin { @include ratio(2,1); }

  &.hero {

    @include ratio(16,9);

    @include media-breakpoint-up(xl) {

      @include ratio(40,11);

    }

  }

  .image {

    @include absolute-cover;

    img, video { @include image-cover; }

  }

  &.embed {

    @include embed-holder;

  }

}

.embed-holder {

  @include embed-holder;

}
