
$images: "../images";
$fonts: "../fonts";

$font-base: 62.5%;
$font-base-sm: 50%;

$animation: .5s cubic-bezier(.19,1,.22,1);
$animation-delay: .2s;

$gutter: 3rem;
$spacer: 7rem;
$icon-spacing: 3.5rem;

$cookie-bar-height: 5rem;
$masthead-height: 12rem;
$nav-height: 4.4rem;
$search-height: 15rem;
$button-height-large: 5rem;
$letter-space: .17rem;
$search-items-height: 5.5rem;
$button-padding: 1.8rem;

$bulleted: 3.4rem;

$hero-height: $masthead-height + $nav-height + $search-height / 2;
$hero-height-cookie: $cookie-bar-height + $hero-height;

$font-serif-base: Georgia, 'Times New Roman', Times, serif;
$font-sans-base: Helvetica, Arial, sans-serif;

$font-serif-regular: 'Bodoni LT W00 Book', #{$font-serif-base};
$font-serif-italic: 'Bodoni LT W00 Book Italic', #{$font-serif-base};
$font-sans-regular: 'Helvetica Neue LT W05_45 Light', #{$font-sans-base};
$font-sans-italic: 'Helvetica Neue LT W05_46 Lt It', #{$font-sans-base};
$font-sans-medium: 'Helvetica Neue LT W05_55 Roman', #{$font-sans-base};

$line-body: 1.5;
$line-heading: 1.15;
$font-body: 1.6rem;
$font-large: 9rem;

$font-h1: 5.2rem;
$font-h2: 3.2rem;
$font-h3: 2.4rem;
$font-h4: 2rem;
$font-h5: 1.6rem;

$font-lead: 2rem;
$font-smaller: 1.4rem;

$color-black: #000;
$color-white: #fff;
$color-grey-1: #fefefe;
$color-grey-2: #797979;
$color-grey-3: #58595B;
$color-grey-4: #D6D6D6;
$color-grey-5: #747678;
$color-grey-6: #364147;
$color-grey-7: #e6e9ec;
$color-grey-8: #f5f5f5;
$color-blue-1: #002D1B;
$color-blue-2: #00405D;
$color-blue-3: #37657F;
$color-blue-4: #DFEBF6;
$color-blue-5: #F0F4F8;
$color-brown-1: #9D7A2C;
$color-brown-2: #9D7A2C;
$color-brown-3: #FDF2E8;
$color-red-1: #D22727;

$color-green: #002D1B;
$color-gold: #9D7A2C;
$color-teal: #00405D;
$color-beige: #DACAAD;
$color-cream: #FFF9ED;

$carousel-arrow: 6rem;
$carousel-indicator-gap: 10px;
$carousel-indicator-small: 12px;
$carousel-indicator-large: 46px;

$status-available: #00857F;
$status-not-released: #678FB6;
$status-reserved: #A47D3C;
$status-sold: #B23434;
