


.cookie-message {

  background-color: $color-blue-5;

  @include media-breakpoint-down(md) {

    position: fixed; bottom: 0; left: 0; right: 0; z-index: 9999;

  }

  @include media-breakpoint-down(lg) {

    padding-top: 1.2rem; padding-bottom: 1.2rem;

  }

  @include media-breakpoint-up(xl) {

    min-height: $button-height-large; text-align: center; display: flex; align-items: center;

  }

  .editor {

    @include text-small;

    a { @include text-link(#{$color-gold},#{$color-gold}); }

  }

  @include cookie-accepted {

    display: none;

  }

  @include menu-open {

    @include hide-away;

  }

}

