


.social-links {

  @include inliner(.6rem); padding-top: $gutter;

  a {

    @include flex-centre; width: 3.5rem; height: 3.5rem; overflow: hidden; border-radius: 100%; border: solid 1px $color-beige; background-position: center center; transition: background-color $animation, border-color $animation;

    @include hover {

      background-color: $color-gold; border-color: transparent;

    }

    img { max-width: 75%; }

  }

}
