
.gutters-tight { @include gutter(.5rem); }

.gutters-extra { @include gutter(4rem); }

.grid-item { padding-top: $gutter / 2; padding-bottom: $gutter / 2; }

.row-split-large {

  > :not(:last-child) {

    @include media-breakpoint-down(lg) {

      padding-bottom: $gutter / 2;

    }

  }

}

.row-split {

  > :not(:last-child) {

    @include media-breakpoint-down(md) {

      padding-bottom: $gutter;

    }

  }

}

.tall { height: 100%; }

.overlay {

  &, .title { color: $color-white; }

  display: grid; grid-template-columns: 1fr;

  .layer {

    grid-row-start: 1; grid-column-start: 1;

    &.inside {

      padding-top: $gutter; padding-bottom: $gutter;

      @include media-breakpoint-up(lg) {

        padding-top: $gutter * 2; padding-bottom: $gutter * 2;

      }

    }

    &.content {

      position: relative; z-index: 1;

    }

    &.middle { display: flex; align-items: center; justify-content: center; text-align: center; }

    .media { height: 100%; }

  }

}

.inline-group {

  @include inline-group(1rem);

}

.features {

  @include inline-group(3.5rem); @include spacer; @include text-small;

}

.list-icon-text {

  > :not(:last-child) { margin-bottom: 2rem; }

  .icon-text { padding-left: $icon-spacing + .5rem; }

}

.list-icons {

  > :not(:last-child) { margin-bottom: 1rem; }

  a { @include text-link(#{$color-beige},#{$color-beige}); }

}

.links-basic {

  > :not(:last-child) { margin-bottom: .2rem; }

  a { @include text-link(#{$color-beige},#{$color-beige}); }

}

.nav-list-links {

  > ul {

    @include list-links-inline;

  }

}

.list-links {

  @include list-links-inline;

}

.heading-master {

  margin-bottom: $gutter;

  @include media-breakpoint-up(lg) {

    text-align: center;

  }

}

.heading-underline {

  @include dash-bottom-large;

}

.section-heading {

  margin-bottom: $gutter / 2;

  @include media-breakpoint-up(lg) {

    margin-bottom: $gutter - 1rem;

  }

}

.status {

  @include media-breakpoint-down(md) {

    margin-bottom: 2rem;

  }

}

.message {

  &.background {

    background-color: $color-blue-5; color: $color-blue-1; padding: 1rem 1.2rem;

    a { @include text-link(#{$color-blue-1},#{$color-blue-2}); }

    &.tag { background-color: $color-blue-4; display: inline-block; }

    .icon-text { padding-left: 2.5rem; }

  }

}

.reveal {

  @include gradient-fade; @include height-hide(15rem); margin-bottom: $gutter; position: relative;

  &:after { transition: opacity $animation; }

  &.open {

    @include height-show;

    &:after { opacity: 0; }

  }

}

.fill {

  background-color: $color-blue-5;

}

.group-list {

  > :not(:last-child) { margin-bottom: $gutter; }

}

.contact-detail > div {

  > :not(:last-child) { margin-bottom: $gutter; }

}

.content-link {

  > :not(:last-child) { margin-bottom: 2rem; }

}

.text-list {

  > :not(:last-child) { margin-bottom: 4rem; }

  .detail-title { color: $color-blue-1; @include text-enlarge; margin-bottom: 1rem; }

  .title-secondary { margin-bottom: 3rem; }

}

.text-list-detail {

  > :not(:last-child) { margin-bottom: 3rem; }

}

.nav-bar {

  .items {

    > :not(:last-child) {

      @include media-breakpoint-up(lg) {

        @include dash-after;

      }

    }

  }

  a {

    display: flex; align-items: center; text-align: center; justify-content: center; height: 5rem; padding-left: $gutter; padding-right: $gutter; background-color: $color-blue-1; color: $color-white; letter-spacing: $letter-space; text-transform: uppercase; @include text-tiny; transition: background-color $animation;

    @include hover {

      background-color: $color-blue-2;

    }

  }

  .active {

    a { background-color: $color-blue-3; }

  }

}

.sticky {

  position: fixed; top: 0; left: 0; right: 0; z-index: 2000;

  @include media-breakpoint-down(md) {

    top: $masthead-height;

  }

}

.legend {

  @include inliner(2rem); padding-top: 2rem; @include text-small;

  > li {

    position: relative; padding-left: 3rem;

    &:before { content: ''; @include absolute-vertical; left: 0; width: 2rem; height: 2rem; }

    &.blue:before { background-color: $color-blue-1; }

    &.brown:before { background-color: $color-brown-1; }

  }

}

.plot-info {

  :last-child {

    @include master {

      margin-bottom: 0;

    }

  }

  .actions { margin-bottom: 1rem; }

}

.image-fit { @include image-fit; }

.heading-link { @include text-link-basic(#{$color-blue-1},#{$color-blue-2}); }

.image-link, .gallery-item a {

  @include image-link;

}

.heading-main {

  @include media-breakpoint-up(lg) {

    text-align: center;

  }

}

.embed-page {

  @include ratio(2,3); position: relative;

  @include media-breakpoint-up(lg) {

    @include ratio(16,9);

  }

  iframe { @include embed; }

}

.intro-header {

  margin-bottom: 2rem;

}

.column-middle {

  display: flex; flex-direction: column; justify-content: center;

}

.feature-logo {

  max-width: 45%;

}
