
.modal-overlay {

  @include hide; @include fixed-cover; z-index: -1; @include bg-opacity($color-black,.94);

  @include master {

    overflow: auto;

  }

  .js-form-type-checkbox {

    a {

      @include master {

        @include text-link(#{$color-white},#{$color-brown-3});

      }

    }

  }

  .iti { color: $color-blue-1; }

}

.modal-content {

  padding-top: $gutter; padding-bottom: $gutter;

  @include media-breakpoint-up(lg) {

    padding-top: $spacer; padding-bottom: $spacer;

  }

  &, .title { color: $color-white; }

}

.overlay-active { @include show; z-index: 9999; }

.overlay-close {

  position: fixed; top: $gutter; right: $gutter; z-index: 1; width: 5rem; height: 5rem; background-color: $color-blue-1; background-image: get-icon( 'close', $color-white ); background-repeat: no-repeat; background-position: center center; background-size: 50%; transition: background-color $animation;

  @include hover {

    background-color: $color-blue-2;

  }

}
