::placeholder { transition: opacity $animation; color: $color-blue-1; }

*:focus::placeholder { opacity: 0; }

input:not([type='submit']):not([type='checkbox']):not([type='radio']), select, textarea {

  @include appearance-reset; border: 0; background-color: $color-brown-3; color: $color-blue-1; border-bottom: solid 2px $color-brown-1; padding: 1.2rem 1.5rem; width: 100%; transition: background-color $animation, border-color $animation;

  @include hover {

    @include master {

      @include form-state;

    }

  }

  &:focus {

    @include master {

      @include form-state;

    }

  }

}

.label-switch {

  @include master {

    span { background-color: $color-blue-1; color: $color-white; }

  }

}

.form-switch {

  @include master {

    @include form-theme-alternative;

  }

}

.select-switch {

  @include master {

    background-image: get-icon( 'arrow-down', $color-blue-2 );

  }

}

.input-icon {

  input {

    @include master {

      padding-right: 5rem;

    }

  }

}

legend { @include sr-only; }

fieldset { margin-bottom: 3rem; }

label { display: block; }

textarea { height: 15rem; display: block; }

select { @include svg-bg($icon-arrow-down); background-position: center right 1.5rem; background-size: 1.2rem; padding-right: 5rem; }

.required-label {

  margin-bottom: 2.5rem;

  sup { color: $color-red-1; }

}
.webform-document-file input.form-file {width:60% !important;margin-bottom: 10px;}
@media screen and (max-width:420px) {.webform-document-file .form-file {width:100% !important;}}
.webform-submission-form, .user-login-form, .js-form-wrapper, .user-pass {

  div[role='alert'] { margin-bottom: 2rem; }

  label {

    &.form-required {

      &:after { content: '\002A'; color: $color-red-1; margin-left: .3rem; }

    }

  }

  > .form-item:not(:last-child) { margin-bottom: 1.5rem; }

  .js-form-type-checkbox {

    position: relative; padding-top: 1rem; padding-bottom: 1rem;

    input { @include absolute-cover; z-index: 1; width: 100%; height: 100%; opacity: 0; cursor: pointer; }

    label, .description {

      padding-left: 2.7rem; @include text-small; margin-bottom: 0;

      &:before { content: ''; position: absolute; top: 1.3rem; left: 0; width: 1.7rem; height: 1.7rem; border: solid 1px $color-blue-2; background-repeat: no-repeat; background-position: center center; background-size: 60%; transition: background-color $animation; }

      a { @include text-link(#{$color-blue-2},#{$color-blue-1}); position: relative; z-index: 1; }

    }

    input:checked + *:before { background-image: get-icon( 'tick', $color-white ); background-color: $color-blue-1; }

  }

  .form-actions { padding-top: 1rem; }

  .form-item-telephone-number {

    input {

      @include master {

        padding-left: 50px;

      }

    }

  }

  .iti { display: block; }

}
