


.info-block {

  .promotion {

    padding-right: $gutter * 2; background-image: url('#{$images}/scroll.png'); background-repeat: no-repeat; background-position: 3rem center; background-size: 20rem;

    @include media-breakpoint-down(md) {

      background-size: 10rem;

    }

    .inside {

      padding-left: 25rem;

      @include media-breakpoint-down(md) {

        padding-left: 15rem;

      }

    }

  }

}

.promotion {

  background-color: $color-green; padding-top: $gutter; padding-bottom: $gutter;

  &, .title { color: $color-white; }

  .title { margin-bottom: $gutter / 2; }

  .graphic { @include image-block; }

  .editor {

    a:not(.button) { @include text-link(#{$color-white},#{$color-beige}); }

  }

  .content {

    @include media-breakpoint-up(lg) {

      padding-left: $gutter / 2; padding-right: $gutter / 2;

    }

  }

}

.footer {

  .promotion {

    .columns { align-items: center; }

  }

  &-bottom {

    padding-top: $gutter; padding-bottom: $gutter; background-color: $color-green;

    &, .title { color: $color-white; }

    @include media-breakpoint-up(lg) {

      padding-top: $spacer; padding-bottom: $spacer;

    }

    .logo-icon {

      @include image-wide;

      @include media-breakpoint-up(lg) {

        width: 13.7rem;

      }

    }

    .title-main { margin-bottom: 2.5rem; }

    .title-small { margin-bottom: 1rem; }

    .caveat { @include text-small; padding-top: 3.5rem; }

  }

}

.contact-item-list {

  > :not(:last-child) { margin-bottom: 2.5rem; }

}
