{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% set text = ':person is a Twig fan'|t({':person': user }) %}

{% set bedroomsRangeFrom = 'field_house_type_bedrooms_value_from'|get_our_developments_form %}
{% set bedroomsRangeTo = 'field_house_type_bedrooms_value_to'|get_our_developments_form %}
{% set priceRangeFrom = 'field_plots_price_value_from'|get_our_developments_form %}
{% set priceRangeTo = 'field_plots_price_value_to'|get_our_developments_form %}
{% set houseTypeId = 'field_plots_house_type_target_id'|get_our_developments_form %}
{% set plotStatus = 'field_plots_status_value'|get_our_developments_form %}
{% set ObjHouseTypes = get_house_type() %}
{% if q is not empty %}
  {#
  This ensures that, if clean URLs are off, the 'q' is added first,
  as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}

<section class="block-filter">

  <div class="row row-split-large gutters-tight justify-content-xl-between align-items-xl-end">

    <div class="col-xl">

      <div class="row row-split-large gutters-tight items">
        {{ form.combine }}
        {#
        <div class="col-xl-4 item">

          <div class="form-item">

            <label for="filter-search"><span>Search</span></label>

            <div class="icon-overlay icon-location dark">

              {{ form.combine }}

            </div>

          </div>

        </div>
        #}
        <div class="col-xl item">

          <div class="form-item">

            <label for="filter-bedrooms"><span>Bedrooms</span></label>

            <div class="row no-gutters inside">

              <div class="col">

                <select id="filter-bedrooms edit-field-house-type-bedrooms-value-from"
                        name="field_house_type_bedrooms_value_from">
                  <option value=''>No Min</option>
                  <option value='1' {% if bedroomsRangeFrom == 1 %} selected {% endif %} >1</option>
                  <option value='2' {% if bedroomsRangeFrom == 2 %} selected {% endif %}>2</option>
                  <option value='3' {% if bedroomsRangeFrom == 3 %} selected {% endif %}>3</option>
                  <option value='4' {% if bedroomsRangeFrom == 4 %} selected {% endif %}>4</option>
                  <option value='5' {% if bedroomsRangeFrom == 5 %} selected {% endif %}>5</option>
                  <option value='6' {% if bedroomsRangeFrom == 6 %} selected {% endif %}>6</option>
                </select>

              </div>

              <div class="col">

                <select id="filter-bedrooms-max edit-field-house-type-bedrooms-value-to"
                        name="field_house_type_bedrooms_value_to">
                  <option value=''>No Max</option>
                  <option value='1' {% if bedroomsRangeTo == 1 %} selected {% endif %}>1</option>
                  <option value='2' {% if bedroomsRangeTo == 2 %} selected {% endif %}>2</option>
                  <option value='3' {% if bedroomsRangeTo == 3 %} selected {% endif %}>3</option>
                  <option value='4' {% if bedroomsRangeTo == 4 %} selected {% endif %}>4</option>
                  <option value='5' {% if bedroomsRangeTo == 5 %} selected {% endif %}>5</option>
                  <option value='6' {% if bedroomsRangeTo == 6 %} selected {% endif %}>6</option>
                </select>

              </div>

            </div>

          </div>

        </div>

        <div class="col-xl item">

          <div class="form-item">

            <label for="filter-price"><span>Price</span></label>

            <div class="row no-gutters inside">

              <div class="col">

                <select id="filter-price edit-field-plots-price-value-from" name="field_plots_price_value_from">
                  <option value=''>No Min</option>
                  <option value='100000' {% if priceRangeFrom == 100000 %} selected {% endif %}>£100000</option>
                  <option value='200000' {% if priceRangeFrom == 200000 %} selected {% endif %}>£200000</option>
                  <option value='300000' {% if priceRangeFrom == 300000 %} selected {% endif %}>£300000</option>
                  <option value='400000' {% if priceRangeFrom == 400000 %} selected {% endif %}>£400000</option>
                  <option value='500000' {% if priceRangeFrom == 500000 %} selected {% endif %}>£500000</option>
                  <option value='600000' {% if priceRangeFrom == 600000 %} selected {% endif %}>£600000</option>
                  <option value='700000' {% if priceRangeFrom == 700000 %} selected {% endif %}>£700000</option>
                  <option value='800000' {% if priceRangeFrom == 800000 %} selected {% endif %}>£800000</option>
                  <option value='900000' {% if priceRangeFrom == 900000 %} selected {% endif %}>£900000</option>
                </select>

              </div>

              <div class="col">

                <select id="filter-price-max field-plots-price-value-from" name="field_plots_price_value_to">
                  <option value=''>No Max</option>
                  <option value='100000' {% if priceRangeTo == 100000 %} selected {% endif %}>£100000</option>
                  <option value='200000' {% if priceRangeTo == 200000 %} selected {% endif %}>£200000</option>
                  <option value='300000' {% if priceRangeTo == 300000 %} selected {% endif %}>£300000</option>
                  <option value='400000' {% if priceRangeTo == 400000 %} selected {% endif %}>£400000</option>
                  <option value='500000' {% if priceRangeTo == 500000 %} selected {% endif %}>£500000</option>
                  <option value='600000' {% if priceRangeTo == 600000 %} selected {% endif %}>£600000</option>
                  <option value='700000' {% if priceRangeTo == 700000 %} selected {% endif %}>£700000</option>
                  <option value='800000' {% if priceRangeTo == 800000 %} selected {% endif %}>£800000</option>
                  <option value='900000' {% if priceRangeTo == 900000 %} selected {% endif %}>£900000</option>
                </select>

              </div>

            </div>

          </div>

        </div>

        <div class="col-xl-2 item">
          <div class="form-item">
            <label for="filter-distance"><span>House type</span></label>
            <select id="filter-distance edit-field-plots-house-type-target-id" name="field_plots_house_type_target_id">
              <option value=''>Select</option>
              {% for obj in ObjHouseTypes %}
                <option
                  value='{{ obj['nid'][0]['value'] }}' {% if houseTypeId == obj['nid'][0]['value'] %} selected {% endif %}>{{ obj['title'][0]['value'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>


        {#
        <div style="float:left">
          <div style="float:left">
            <input type="checkbox" {% if 'Available' in plotStatus %} checked {% endif %} name="field_plots_status_value[]" value="Available">
            <label for="status"> Available</label>
          </div>
          <div style="float:left">
            <input type="checkbox" {% if 'Not Released' in plotStatus %} checked {% endif %}  name="field_plots_status_value[]" value="Not Released">
            <label for="status2"> Not Released</label>
          </div>
        </div>
        #}


      </div>

    </div>

    <div class="col-xl-auto">

      {{ form.actions }}

    </div>

  </div>

</section>
