{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% set text = ':person is a Twig fan'|t({':person': user }) %}
{#
{% set bedroomsRangeFrom = 'field_development_bedrooms_range_from'|get_our_developments_form %}
{% set bedroomsRangeTo = 'field_development_bedrooms_range_to'|get_our_developments_form %}
{% set priceRangeFrom = 'field_development_price_range_from'|get_our_developments_form %}
{% set priceRangeTo = 'field_development_price_range_to'|get_our_developments_form %}
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
{{ q }}
{% endif %}
<div class="row row-split-large gutters-tight justify-content-xl-between align-items-xl-end">

  <div class="col-xl">

    <div class="row row-split-large gutters-tight items">

      <div class="col-xl-12 item">

        <div class="form-item">
          <div class="icon-overlay icon-location dark input-icon development-search">

            {% for key, child in form %}
              {% if key|first != '#' %}
                {% if key == 'location' %}
                  <div class="search-input">{{ child }}</div>
                {% elseif key != 'action' %}
                  {% if child|render|trim %}
                    <div class="hidden">{{ child }}</div>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}

          </div>

        </div>

      </div>



    </div>

  </div>


  <div class="col-xl-auto">

    {{ form.actions }}

  </div>

</div>
