{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */ {{ content }}
#}
{% set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
] %}

{% block content %}
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <h2 class="heading-4">{{ label }}</h2>
    {{ title_suffix }}


    <div class="footer-bottom">
      <div class="container">

        <div class="row row-split">

          {# {{ content.field_second_footer }} #}

          <div class="col-2">

            <img class="logo-icon" src="/themes/cameron/build/images/scroll.png" alt="Tara group logo">

          </div>

          <div class="col col-lg-3">

            <h4 class="title title-main">Useful links</h4>

            <div class="row">

              <div class="col">

                  {{ drupal_menu('footer') }}

              </div>

            </div>

          </div>

          <div class="col-lg">

            <h4 class="title title-main">Get in touch</h4>

            <div class="row">

              <div class="col contact-item-list">
                {{ content.field_second_footer }}
              </div>

              <div class="col">

                <h5 class="title title-small">Head office</h5>

                <address>
                  {{ content.field_footer_first_step }}
                </address>

              </div>

            </div>

          </div>

        </div>
        {% set reg %}
          {{ content.field_copyright_regoffice }}
        {% endset %}
        <p class="caveat">{{ reg|striptags }}</p>

      </div>
    </div>
  </div>
{% endblock %}
