{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
        <div class="container">
            <nav role="navigation" aria-labelledby="system-breadcrumb" class="breadcrumbs">
                <ul>
                    {% for item in breadcrumb %}
                        <li>
                            {% if item.url %}
                                <a href="{{ item.url }}">{{ item.text }}</a>
                            {% else %}

                                {{ item.text }}

                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
{% endif %}
